.container{
	padding-top: 15px;
}
.details-user-container {
    padding: 15px;
    background: #e9e9eb;
    border: 1px solid #dfdfe1;
}
.profile-picutre-big {
    display: block;
    margin: 0 auto 8px auto;
    max-height: 141px;
    max-width: 141px;
}
.profile-picutre-big img {
    max-width: 100%;
    max-height: 122px;
    padding: 3px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 1px solid #bfbfbf;
    box-shadow: 0 0 1px #fff;
}
.user-details p, .user-details address {
    margin-bottom: 0;
}
.app-call, .phone{
	padding: 10px;
}
.app-call {
    text-align: center;
}
.contact {
    border: 1px solid #dfdfe1;
}
.img-advertiser {
    float: right;
}
.container-img-advertiser {
    padding: 15px 0;
}
.container-info-advertiser {
    padding: 15px 0;
}
.container-info {
    background: #e9e9eb;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.image-advertiser {
    width: 120px;
    height: 120px;
}
.container-info-advertiser p {
    margin-bottom: 0;
}
.container-info-advertiser address {
    margin-bottom: 0;
}