section{
	font-family: Effra-Regular,arial,helvetica,sans-serif;
	line-height: 1.615;
}
table.averages tr:nth-child(odd) {
    background: #f5f5f5;
}
.averages th {
    background: #eaecee;
    font-size: 1em;
    font-weight: 400;
    line-height: 150%;
    padding: .3em 0;
}