section{
	font-family: Effra-Regular,arial,helvetica,sans-serif;
	line-height: 1.615;
}
table.averages tr:nth-child(odd) {
    background: #f5f5f5;
}
table.averages td{
	border: 1px solid #dedede;
    padding: 0!important;
}
table.averages{
	border: 1px solid #dedede;
	width: 100%;
    margin: 1.5em 0;
} 
.averages th {
    /*background: #eaecee;*/
    font-size: 1em;
    font-weight: 400;
    line-height: 150%;
    padding: .3em 0;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    padding-left: 5px;
}
h3 {
    color: #262637;
    font-size: 15px;
    margin-top: 0;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
h4 {
    color: #262637;
    font-size: 14px;
    margin-top: 0;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
.border-outside {
    /*border: 1px solid #ccc;*/
    margin: 8px 5px;
}
.details-agent {
    padding: 10px;
    border: 1px solid #ccc;
}
.profile-picutre {
    display: block;
    margin: 0 16px 8px 0;
    max-height: 141px;
    max-width: 141px;
}
.profile-picutre  img {
    max-width: 100%;
    max-height: 122px;
    padding: 3px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 1px solid #bfbfbf;
    box-shadow: 0 0 1px #fff;
}
.title {
    /*background: #eee;
    border-bottom: 1px solid #ccc;*/
    background: #000;
    padding: .4em .5em;
    border: 1px solid #000;
}
.title h3{
	margin-bottom: 0;
	color: #fff;
}
.q-code-wraper {
    text-align: center;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    padding-top: 10px;
}
.q-code-wraper:nth-child(even){
    border-top: 0;
    border-bottom: 0;
}
.q-code-wraper h4 {
    text-align: left;
}
.qr-code-img-wrapper {
    padding: 5px;
}
.qr-code-img-wrapper img {
    border: 1px solid #dedede;
}
.row.btns-properties {
    padding-top: 15px;
    text-align: center;
}
.banner-agency {
    height: 100px;
    border: 1px solid #ccc;
    padding: 0;
    margin: 15px 5px 15px 0;
    position: relative;
}
.all-properties{
	position: absolute;
	right: 10px;
	top: 20px;
}
table.averages td a {
    border-left: 4px solid #fff;
    display: block;
    padding: 8px;
}
.img-banner{
	height: 100px;
	width: 100%;
}
.btn-default {
    color: #fff;
    background-color: #ff9d2c;
    border-color: #ff9d2c;
    /* text-align: center; */
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-weight: normal;
    line-height: 29px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}
.tab-pane{
	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(3,3,3,0.2);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(3,3,3,0.2);
    box-shadow: inset 0px 0px 2px 0px rgba(3,3,3,0.2);
}
.agent-details .btn-default, .banner-agency .btn-default {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 5px;
    background: #000;
    color: #fff;
    border-color: #000;
}
.nav-back {
    /* margin-left: 5px; */
    margin-bottom: 0;
    background-color: rgb(245, 245, 245);
    padding: 8px 15px;
    list-style: none;
    border-radius: 4px;
}
.banner-agency .btn-default {
    padding-left: 25px;
}
.agent-details {
    text-align: center;
}
.agent-details p {
    text-align: left;
    margin-bottom: 0px;
}
.agent-details address {
    text-align: left;
    margin-bottom: 0px;
}
/*.btns-properties .btn-default,*/ #submit-inputset .btn-default {
    background: #000;
    border-color: #000;
    min-width: 30%;
}
#letting-branch fieldset {
    clear: both;
}
.inputset {
    clear: both;
    padding: .2em 0 .2em .6em;
}
.inputset label {
    width: 20%;
    font-weight: bold;
    clear: both;
    display: block;
    float: left;
    padding: .2em 0 .1em 0;
}
.required {
    font-weight: normal;
    white-space: nowrap;
    color: #999;
    font-weight: normal;
    white-space: nowrap;
}
.inputset input {
    float: left;
    width: 44%;
}
.inputset .title-name {
    width: 10%;
}
.inputset .name {
    width: 16%;
    margin-left: 1%;
}
.inputset textarea {
    width: 44%;
    float: left;
    border-color: #dcdcdc;
}
.inputset select {
    background: #fff;
    width: 44%;
}
#submit-inputset {
    height: auto;
    margin-bottom: .7em;
    margin-top: .7em;
    margin-left: 20%;
}
.validation-container {
    display: none;
    float: left;
    font-size: .9em;
    padding: 1px 0 0 25px;
    white-space: nowrap;
    margin-bottom: 1px;
}
.failed {
    background: #fff8e8 url(/css/alert.gif) no-repeat 4px 1px;
    color: #F00;
    display: block;
}
.inputset:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.nav-tabs>li {
    width: calc(100% / 4);
    text-align: center;
}
.nav-tabs>li>a {
    margin-right: 0;
}
p.contact-form-disclaimer {
    font-size: .8em;
    color: #666;
    line-height: 1.2em;
    padding-top: .5em;
}
.member-img{
    display: inline-block;
    height: 150px;
    overflow: hidden;
    width: 150px;
    position: relative;
    margin-right: 15px;
    float: left;
}
.member-img img {
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.member-details{
    display: inline-block;
    width: calc(100% - 170px);
}
.member-details h3 {
    margin-bottom: 0;
}
.team-member {
    margin: 30px 0;
}
.disclaimer{
    border: 1px solid #ccc;
    margin-top: 30px;
    padding: 15px;
    font-size: 89%;
}
@media screen and (min-width: 1200px){
	.container {
	   width: 1170px;
	}
}