.body{
	padding-top: 20px;
}
.notification-pages {
    padding: 14px 20px 20px 20px;
    margin: -1px 0 40px 0;
    border: 1px solid #dfdfdf;
    background: #fff;
}
.create-alert-home {
    position: relative;
    width: 100%;
    background-color: #f1f8ff;
    background-image: none !important;
    border: 1px solid #aaccee;
    border-radius: 5px;
    color: #333;
    margin: 10px 0 20px 0 !important;
}

@media(min-width: 768px){
	.notification-title {
	    margin: 20px 0 10px 0;
	}
	.notification-title h2 {
	    color: #000;
	    margin-left: 40px;
	    font: 600 18px 'Open Sans', Arial, Helvetica, sans-serif;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    margin: 0 0 5px 0;
	    margin-left: 20px;
    	padding: 0;
	}
	.modify-left{
		padding: 0 0px 20px 40px;
    	margin: 8px 0 0 0;
	}
	#add-notifications label, #add-notifications input, #add-notifications select {
	    width: 300px;
	    float: left;
	    padding: 5px;
	    font: normal 13px 'Open Sans', Arial, Helvetica, sans-serif;
	    border: 1px solid #003777;
	}
	#add-notifications label {
	    color: #fff;
	    margin: 0 0 2px 0;
	    padding: 0;
	    border: 0;
	    font-weight: 600;
	}
}