@font-face {
    font-family: Effra-Regular;
    src: url('fonts/Effra_W_Rg.eot');
    src: url('fonts/Effra_W_Rg.eot?#iefix') format('embedded-opentype'), url('fonts/Effra_W_Rg.woff') format('woff'), url('fonts/Effra_Md.ttf') format('truetype');
    font-style: normal
}
.tab-content {
    padding: 15px;
    padding-top: 0;
    min-height: calc(100vh - 160px);
}
.body {
    min-height: calc(100vh - 72px);
    font-family: Effra-Regular;
}
.container-applications {
    background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2), 1px 1px 1px rgba(0,0,0,0.2);
    padding-top: 10px;
}
.container-filter {
    padding-bottom: 20px;
}
.container-btn {
    margin-top: 25px;
}
.btn-filter {
    width: 100%;
    background: #ff9d2c;
    color: #fff;
}
.container-num-jobs {
    background: #ddd;
    padding-top: 10px;
}
.container-filter {
    padding-bottom: 20px;
    background: #ddd;
    margin-bottom: 15px;
}
.col-info-jobs, .col-info-candidates {
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px;
}
.col-info-jobs h4, .col-info-candidates h4 {
    color: royalblue;
    font-size: 15px; 
}
.list-group-item:not(:last-child){
	border-bottom: 1px solid #ddd;
}
.list-group-item{
	padding-top: 7px;
    padding-bottom: 5px;
}
.table>thead>tr>th {
    background: #eee;
    padding-top: 15px;
    padding-bottom: 15px;
}
.job-location{
	color: lightgray;
}
.blue-color{
	color: royalblue;
}
.type-filters{
	list-style: none;
}
.type-filters>li{
	display: inline-block;
}
.type-filters>li:not(:last-child){
	border-right: 1px solid #ddd;
}