@font-face {
    font-family: Effra-Regular;
    src: url('fonts/Effra_W_Rg.eot');
    src: url('fonts/Effra_W_Rg.eot?#iefix') format('embedded-opentype'), url('fonts/Effra_W_Rg.woff') format('woff'), url('fonts/Effra_Md.ttf') format('truetype');
    font-style: normal
}
.tab-content {
    padding: 15px;
    padding-top: 0;
    min-height: calc(100vh - 160px);
}
.body {
    min-height: calc(100vh - 72px);
    font-family: Effra-Regular;
}
.portal-title{
    padding-left: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Effra-Medium;
    margin-top: 15px;
}
.candidate-portal .nav-tabs {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0;
}
.container-applications {
    background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: -1px 0px 3px rgba(0,0,0,0.2), 1px 1px 1px rgba(0,0,0,0.2);
    padding-top: 10px;
}
.container-filter {
    padding-bottom: 20px;
}
.container-btn {
    margin-top: 25px;
}
.btn-filter {
    width: 100%;
    background: #ff9d2c;
    color: #fff;
}
.container-num-jobs {
    background: #ddd;
    padding-top: 10px;
}
.container-filter {
    padding-bottom: 20px;
    background: #ddd;
    margin-bottom: 15px;
}
.col-info-jobs, .col-info-candidates {
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px;
}
.col-info-jobs h4, .col-info-candidates h4 {
    color: #000;
    font-size: 15px; 
}
.col-info-jobs .list-group-item, .col-info-candidates .list-group-item{
	color: #999;
}
.list-group-item:not(:last-child){
	border-bottom: 1px solid #ddd;
}
.list-group-item{
	padding-top: 7px;
    padding-bottom: 0;
}
.table>thead>tr>th {
    background: #eee;
    padding-top: 15px;
    padding-bottom: 15px;
}
.job-location{
	color: lightgray;
}
.blue-color{
	color: royalblue;
}
.type-filters{
	list-style: none;
	display: inline-block;
    padding-left: 5px;
    margin-bottom: 0;
    line-height: 1;
}
.type-filters>li{
	display: inline-block;
	padding: 8px 0;
}
.type-filters>li>a{
	padding: 0 8px;
}
.type-filters>li:not(:last-child)>a{
	border-right: 1px solid #ddd;
}
.btns-actions, .jobs-selected {
    display: inline-block;
}
.btn-disable{
	border: 1px solid #ff9d2c;
	color: lightgray;
	background-color: #fff;
}
.modal-title{
    display: inline-block;
}
.btn-disable:hover, .btn-disable:visited{
	color:lightgray;
}
.btn-action{
	background: #ff9d2c;
	color:	#fff;
}
.btns-actions {
    margin-bottom: 15px;
}
.jobs-selected {
    margin-right: 10px;
}
.cell-cover{
	width: 300px;
}
.btn-black{
    background-color: #000;
    color: #fff;
    border-color: #000;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    height: auto;
}
#tab-overview {
    /*padding-top: 15px;*/
}
#tab-overview .container-candidates .list-group-item{
    padding: 15px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2), 0 0px 1px rgba(0,0,0,0.2);
}
#tab-overview .container-candidates .list-group-item:not(:first-child){
    margin-top: 10px;
}
.container-candidates, .container-activity {
    margin-bottom: 25px;
}
.container-overview hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.list-group{
	margin-bottom: 0;
}
.quantity{
	float: right;
}
.container-job-title p {
    margin-bottom: 0;
}
#tab-candidates .container-filter {
    padding-top: 15px;
}
#tab-candidates .jobs-selected{
	margin-bottom: 15px;
}
.all-applications {
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: calc(100vh - 100px);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2), -1px 1px 1px rgba(0,0,0,0.2);
    background: #fff;
}
.body-applications {
    min-height: auto;
}
.nav-tabs {
    padding-left: 15px;
}
.container-balance, .container-history {
    padding: 15px;
    border: 1px solid #ddd;
    margin-top: 15px;
    border-radius: 5px;
}
a.module-header-link:after {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    transform: rotate(45deg);
}
a.module-header-link {
    position: relative;
    width: 100%;
    display: block;
    color: #333;
}
.list-history .list-group {
    list-style: none;
    max-width: 1024px;
    margin: auto;
}
.transition-row {
    position: relative;
    border-left: 4px solid #ffffff;
    margin-left: -4px;
    background-color: #ffffff;
    min-height: 4em;
    display: block;
    cursor: pointer;
}
.transition-row:nth-child(odd) {
    border-left-color: #f5f7fa;
    background-color: #f5f7fa;
}
.transition-row:hover {
    background-color: #eeeeee;
    border-left-color: #ff9d2c;
}
.transition-item {
    padding: 0 0 0 0.55em;
}
.transition-item .linked-block {
    margin: 0;
}
.date-parts {
    display: block;
    padding-top: 1.2em;
}
.date-month, .date-day {
    display: block;
    text-align: center;
    line-height: 1.1em;
    color: #2c2e2f;
}
.date-month {
    text-transform: uppercase;
    font-weight: 400;
}
.transaction-details-container {
    padding-left: 0;
    position: relative;
}
.transaction-user {
    font-weight: 400;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.transaction-user {
    color: #2c2e2f;
}
.transition-row .transaction-user {
    padding-top: 0.9em;
    line-height: 1.5em;
}
.transition-row .transaction-branch {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-top: 0.02em;
    color: #2c2e2f;
}
.transaction-details-container .transaction-action {
    margin-bottom: 0.5em;
    margin-left: -0.25em;
}

.transaction-details-container .transaction-action a {
    display: inline-block;
    margin: 0;
    padding: 0 0.82em 0 0.4em;
    border-right: 1px solid #2c2e2f;
    white-space: nowrap;
}
.transaction-details-container .transaction-action a:first-of-type {
    padding-left: 0.2em;
}
.transaction-details-container .transaction-action a:last-of-type {
    border-right: none;
}
.transaction-amount {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 1.2em;
    text-align: right;
}
.transition-row .transaction-amount {
    line-height: 1rem;
    margin-top: 0.9em;
    height: 50%;
}
.btns-actions-over {
    padding: 30px 0;
    background-color: #ddd;
    margin-bottom: 15px;
}
.container-overview h4 {
    display: inline-block;
    padding: 8px;
    /*box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2), 0 0px 1px rgba(0,0,0,0.2);*/
}
.net-amount {
    line-height: 1.33;
}
.currency {
    display: block;
    padding-top: 0.6em;
    line-height: 0;
}
.currencies-list {
    margin: 0 0 0 10px;
    list-style: none;
    padding-left: 0;
}
.currenciesHeader {
    margin: 13px 0 0 10px;
}
.balance-numeral {
    font-size: 1.875rem;
    line-height: 1.4;
    font-weight: 300;
}
.balance-currency {
    text-transform: uppercase;
}
.transition-item .col-xs-1 {
    padding-left: 1%;
    padding-right: 1%;
}
.welcome-msg {
    margin-top: 0;
}
.circle {
    height: 95px;
    width: 95px;
}
.image-profile, .container-welcome {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
}
.container-welcome h3{
    margin-bottom: 0;
}
.action-item .icon {
    width: 72px;
    height: 72px;
    position: relative;
    display: block;
    border-radius: 50%;
    border: 1px solid #ff9d2c;
    margin: auto;
    color: #555;
}
.action-item span {
    color: #333;
}
.icon:hover{
    color: #fff;
    background: #ff9d2c;
    border: 1px solid #ff9d2c;
}
.icon:hover .icon-action{
    color: #fff;
}
.icon:before {
    font-size: 34px;
    /* padding: 15px; */
    position: absolute;
    top: 21px;
    left: 17px;
}
.action-item {
    text-align: center;
}
.icon-action:before {
    position: absolute;
    top: 7px;
    left: 27px;
}
