.tab-content {
    padding: 15px;
}
.background-body {
    min-height: calc(100vh - 72px);
}
.container-applications {
    background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2), 1px 1px 1px rgba(0,0,0,0.2);
    padding-top: 10px;
}
.container-filter {
    padding-bottom: 20px;
}
.container-btn {
    margin-top: 25px;
}
.btn-filter {
    width: 100%;
    background: #ff9d2c;
    color: #fff;
}