.categories{
	width: 85%;
  margin: 30px auto;
  height: 42vh;
}
.categories .row{
  height: inherit;
}
.search input.form-control.input-lg {
    width: 70%;
    height: 80px;
    background-image: url(ic_search.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 56px;
    background-position-x: 10px;
}
.search input.form-control{
	box-shadow: 0 0 7px #ed631e;
	border-color: #ed631e;
    border-width: 4px;
    border-radius: 0;
}
.search input.form-control::-webkit-input-placeholder {
  	color: #263249;
  	opacity: 0.7;

}
.search input.form-control::-moz-placeholder {
  	color: #ed631e;
  	opacity: 0.8;

}
.search input.form-control:::-ms-input-placeholder {
  	color: #ed631e;
  	opacity: 0.8;

}
section .panel{
	display: inline-grid;
	height: 400px;
	margin: 0 1%;
	width: 100%;
	text-align: center;
}
.navbar-default{
	background-color: #fff;
}
.navbar {
	margin-bottom: 0;
	border: none;
}
.container-fluid{
	height: 110px;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.categories .col-lg-2{
	padding: 0;
	width: 14%;
}

.row.search{
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}
.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0;
}
.icon{
	height: 80px;
    margin-left: 100px;
}
.panel-heading img.icon-category{
	height: 10vh;
}
.panel-heading h1{
	margin: 0 auto;
}
.panel.panel-primary{
    border-color: white;
    box-sizing: border-box;
}

.panel-primary>.panel-heading{
	height: 15vh;
	color: black;
    background-color: #fff;
    border-color: #fff;
}
.panel-body{
	text-align: left;
}
.read-more{
	text-align: right;
}

section.spotligth{
	width: 85%;
	margin:100px auto;
}
.spotligth .panel-heading{
	background-size: cover;
	background-position: 50%;
	height: 250px;
	/*overflow: hidden;*/
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
	height: 80px;
	background-color: #263249;
	color:#fff;
	width: 80px;
	/* box-shadow: 0 0 5px #263249; */
    border-color: #263249;

}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.categories li {
  padding-left: 1em; 
  text-indent: -.7em;
  color: #263249;
  font-size: 16px;
}
.categories li a{
  color: #263249;
}
.categories li::before {
  content: "• ";
  /*color: red;  or whatever color you prefer */
  font-weight: 900;
}
.category-0 li::before {
  /*content: "• ";*/
  color: #9ccc65; /* or whatever color you prefer */
}
.category-1 li::before{
  color: #ff7043;
}
.category-2 li::before{
  color: #8d6e63;
}
.category-3 li::before{
  color: #78909c;
}
.category-4 li::before{
  color: #26c6da;
}
.category-5 li::before{
  color: #dc7373;
}
.category-6 li::before{
  color: #ab47bc;
}
.categories .panel-body {
    margin: 0;
    min-height: 28vh;
}




@media screen and (min-width: 768px){
	.navbar-form .input-group>.form-control {
    	width: 100%;
    	height: 80px;
 	}
 	.col-lg-2 {
    	width: 16%;
	}
}