.top{
  height: 20px;
  width: 100%;
  /* background-color: #263249; */
  background-color: #000;
}
.categories{
	width: 85%;
  margin: 30px auto;
}
.categories .row{
  height: inherit;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
  padding: 20px 0 35px 0;
  border-radius: 10px;
}
.search input.form-control.input-lg {
    width: 70%;
    height: 80px;
    background-image: url(ic_search.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 56px;
    background-position-x: 10px;
}
.search input.form-control{
	box-shadow: 0 1px 2px #ed631e;
	border-color: #ed631e;
  border-width: 4px;
  border-radius: 0;
}
.search input.form-control::-webkit-input-placeholder {
  	color: #263249;
  	opacity: 0.7;

}
.search input.form-control::-moz-placeholder {
  	color: #ed631e;
  	opacity: 0.8;

}
.search input.form-control:::-ms-input-placeholder {
  	color: #ed631e;
  	opacity: 0.8;

}
form.navbar-form {
    margin: 0;
}
section .panel{
	display: inline-grid;
	/* height: 400px;*/
	margin: 0 1%;
	width: 100%;
	text-align: center;
}
.navbar-default{
	background-color: #fff;
}
.navbar {
	margin-bottom: 0;
	border: none;
}
a.navbar-brand {
    height: fit-content;
}
.container-fluid{
    /* background-color: #ed631e; */
    /* border-color: #263249; */
    border: 0px;
    background-color: white;
    border-style: solid;
    border-right-color: white;
    border-left-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    border-bottom-color: #000;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.categories .col-lg-2{
	padding: 0;
	width: 14%;
}

.row.search{
    margin-bottom: 20px;
    padding-bottom: 20px;
    /*margin-top: 20px;*/
    width: 100%;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding-top: 45px;
}
.icon{
	height: 80px;
    margin-left: 100px;
}
.panel-heading img.icon-category{
	height: 15vh;
}
.panel-heading h1{
	margin: 0 auto;
  font-size: 30px;
  padding: 10px 0;
}
.panel.panel-primary{
  border-color: white;
  box-sizing: border-box;
}

.panel-primary>.panel-heading{
	height: 20vh;
	color: black;
  background-color: #fff;
  border-color: #fff;
}
.panel-body{
	text-align: left;
}
.read-more{
	text-align: right;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  right: 5px;
}

section.spotligth{
	padding: 10px 0;
  background-color: #f1f1f1;
  margin-top: 40px
}

.spotligth .row {
    margin: 100px auto;
    width: 92%;
}

.spotligth .panel-primary{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.spotligth .panel-body h3{
  font-size: 16px;
}
.spotligth .panel-heading{
	background-size: cover;
	background-position: 50%;
	height: 380px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
	/*overflow: hidden;*/
}

.spotligth .panel-body{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
	height: 80px;
	background-color: #000;
	color:#fff;
	width: 80px;
	/* box-shadow: 0 0 5px #263249; */
    border-color: #000;

}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.categories li {
  padding-left: 1em; 
  text-indent: -.7em;
  color: #263249;
  font-size: 14px;
}
.categories li a{
  color: #263249;
}
.categories li::before {
  content: "• ";
  /*color: red;  or whatever color you prefer */
  font-weight: 900;
}
.categories .btn-info{
    margin-top: 10px;
}
.category-0 li::before {
  /*content: "• ";*/
  color: #9ccc65; /* or whatever color you prefer */
}
.category-0 .btn-info {
  background-color: #9ccc65;
  border-color: #9ccc65;
}
.category-1 li::before{
  color: #ff7043;
}
.category-1 .btn-info {
  background-color: #ff7043;
  border-color: #ff7043;
}
.category-2 li::before{
  color: #8d6e63;
}
.category-2 .btn-info {
  background-color: #8d6e63;
  border-color: #8d6e63;
}
.category-3 li::before{
  color: #78909c;
}
.category-3 .btn-info {
  background-color: #78909c;
  border-color: #78909c;
}
.category-4 li::before{
  color: #26c6da;
}
.category-4 .btn-info {
  background-color: #26c6da;
  border-color: #26c6da;
}
.category-5 li::before{
  color: #dc7373;
}
.category-5 .btn-info {
  background-color: #dc7373;
  border-color: #dc7373;
}
.category-6 li::before{
  color: #ab47bc;
}
.category-5 .btn-info {
  background-color: #ab47bc;
  border-color: #ab47bc;
}
.categories .panel-body {
    margin: 0 13px;
    min-height: 34vh;
}
section.features{
  min-height: 400px;
  background-color: #FBE9E7; 
}
section.social-media{
  min-height: 400px;
}
footer{
  height: 600px;
  background-image: url('footer.png');
  background-color: black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-control {
  width: 40px;
  color: #ed631e;
}
.carousel-control:hover {
  color: #ed631e;
}
.carousel-inner {
    margin: 0 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}
a.right.carousel-control {
    background: none;
}
a.left.carousel-control {
    background: none;
}
.items-box-price.font-5 {
    color: #ed631e;
    font-weight: 600;
}
.carousel-indicators li{
  border: 1px solid #ed631e;
}
.carousel-indicators .active{
  background-color: #ed631e;
}

.features .row{
  width: 85%;
  margin: 0 auto;
  padding: 100px 0;
}

@media screen and (min-width: 1200px){
  .search .col-lg-2 {
    width: 17%;
  }
  .categories .col-lg-2 {
    width: 14.2%;
  }
  .spotligth .col-lg-2 {
    width: 16%;
  }
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ff970d;
}
.navbar-default .navbar-toggle {
    border-color: #ff970d;
}


@media screen and (min-width: 768px){

	.navbar-form .input-group>.form-control {
    	width: 100%;
    	height: 80px;
 	}
  .carousel-indicators {
    bottom: -30px;
  }
 	
}
@media screen and (max-width: 768px){
  .icon{
    height: 40px;
    margin-left: 0px;
  }
  .search input.form-control.input-lg {
    width: 100%;
  }
}