@font-face {
    font-family: Effra-Regular;
    src: url('fonts/Effra_W_Rg.eot');
    src: url('fonts/Effra_W_Rg.eot?#iefix') format('embedded-opentype'), url('fonts/Effra_W_Rg.woff') format('woff'), url('fonts/Effra_Md.ttf') format('truetype');
    font-style: normal
}
@font-face {
    font-family: Effra-Medium;
    src: url('fonts/Effra_Std_Md.ttf');
}

body{
    background-color: #fff; 
    background-size: 160%;
    background-repeat: no-repeat;
    background-position-y: 100px;
    background-position-x: -100px;
}

label.btn.btn-primary.active {
    border: 1px solid #ff9d2c;
    background: #ff9d2c;
    color: #fff;
}
.background-header {
    background: url(/css/search-bg.png);
    background-size: 20%;
}
.btn-group {
    margin-bottom: 1.6rem;
}
.btn-group .btn-primary {
    background: #f4f4f5;
    color: #333;
    border: 1px solid #ccc;
    height: auto;
    outline: 0;
}
.w100p {
    width: 100%;
}
.tab-pane h3 {
    color: #262637;
    font-size: 15px;
    margin-top: 0;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}

.info .ad-description{
    max-height: 40px;
    overflow: hidden;
}

.background-body{
  /*background-color: #fafafa;*/
  background-color: #f5f5f5
}
.top{
  background-color: #000;
}

.top .col {
  margin: 10px 0 10px 16px;
}

.top .row{
  height: 70px;
}
.top img.icon{
  height: 18px;
}

.header-download {
  display: flex;
  height: 70px;
  margin-top: 10px;
}

a.btn.btn-info.bussines, a.btn.btn-info.bussines:visited {
  background-color: #ff9d2c;
  border-color: #ff9d2c;
  border-radius: 30px;
  color:#fff;
}
a.btn.btn-info.bussines:hover, a.btn.btn-info.bussines:focus, a.btn.btn-info.bussines:active {
    color: #000;
    background: #ff9d2c;
} 

.col-2 img {
  height: 40px;
  margin: 25px 5px;
}
a.navbar-brand {
    padding: 5px 15px;
}


.categories{
  padding-top: 50px;
  padding-bottom: 50px;
}
.categories .row{
  height: inherit;
  padding: 20px 0;
  margin: 0 auto;
}
.categories ul {
    padding-left: 20px;
}
.search input.form-control.input-lg {
  background-image: url(ic_search.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 56px;
  background-position-x: 10px;
}
.btn-primary{
  background-color: #ff9d2c;
  /*border: 0px;*/
  border-color: #ff9d2c;
  height: 42px;
}
.main-search-div input, .main-search-div select{
  /*border:1px solid #000;
  border-radius: 0px;*/
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  height: 45px;
}

.main-search-div select{
   -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  background-image:url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  color: #000;
  padding: 0 20px 0 10px !important;
}
.search input.form-control{
  /*box-shadow: 0 1px 2px #000;*/
  border-color: #000;
  border-width: 1px;
  border-radius: 0;
 /* height: 60px; */
}
.search input.form-control::-webkit-input-placeholder {
    color: #000;
    opacity: 0.8;

}
.search input.form-control::-moz-placeholder {
    color: #000;
    opacity: 0.8;

}

form.navbar-form {
  margin: 20px 0;
  padding: 0;
}
section .custompanel{
  display: inline-grid;
  /* height: 400px;*/
  margin: 0 1%;
  width: 100%;
  text-align: center;
}
.navbar-default{
  background-color: #000;
}
.navbar {
  margin-bottom: 0;
  border: none;
}
a.navbar-brand {
  height: fit-content;
}
.navbar-default .navbar-brand {
  color: #fff;
  display: inline-flex;
  height: 70px;
  padding: 0;
}
.navbar-right{
  height: 45px;
  margin-top: 25px;
  margin-right: 20px;
}
.categories .col-lg-2{
  padding: 0;
  width: 14%;
}
.categories .col-md-3{
  width: 25%;
}

.row.search{
    /*margin-bottom: 20px;*/
  padding-bottom: 20px;
  width: 100%;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  /*margin-top: 20px;*/
  padding-top: 10px;
  padding-bottom: 10px;
}
.icon{
  height: 80px;
  /*margin-left: 70px;*/
}
img.icon-small-h {
    width: 60px;
    height: 60px;
    margin-left: 40px;
    margin-top: 10px;
}
.panel-heading img.icon-category{
  height: 3em;
  border-radius: 50%;
}
.panel-heading h1{
  margin: auto;
  font-size: 18px;
  padding: 10px 0;
  color: #000;
  text-align: center;
  padding-left: 5px;
}
.panel.panel-primary{
  /*border-color: white;*/
  box-sizing: border-box;
  border: 0px
}
.form-group.col-md-12.col-lg-12 {
    padding-right: 0;
    padding-left: 0;
}

.col-xs-12.col-sm-10.col-md-10.col-lg-8 {
    padding: 0;
}

.panel-primary>.panel-heading{
  height: 21vh;
  color: black;
  background-color: transparent;
  border-color: #fff;
}
.categories .panel.panel-primary{
  border: 0;
  background-color: transparent;
  box-shadow: none;
}
.categories .panel-primary>.panel-heading{
  border: 0px;
}
.panel-body{
  text-align: left;
}
.categories .panel-body{
  background-color: #f9f9f9;
}
.categories .panel-body {
  margin: 0 8%;
  /*min-height: 34vh;*/
  padding: 9px 2px 32px 2px;
}
.navbar-fixed-bottom, .navbar-fixed-top{
  z-index: 999;
}
.next-search {
    margin: 20px 0;
}

/* listing ui */
a.listing-product{
  display: inline-flex;
}
.listing-img {
    width: 120px;
    float: left;
    margin-right: 16px;
}
.items-box-body.listing-content {
    /*width: calc(100% - 300px);*/
    display: grid;
}
a.listing-product {
    text-decoration: none;
    display:block;
}
h4.items-box-name.font-2 {
  color: #ff8830;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: auto;
  -webkit-line-clamp: 1;
}
.listing-description {
  color: #8a848d;
  max-height: 41px;
  overflow: hidden;
  width: calc(100% - 40px);
}
.listing-location {
  color: #c0c0c0;
  margin-bottom: 8px;
  margin-right: 0;
  font-weight: 700;
}
.item.listing{
  margin: 0;
  border-bottom: 1px solid #f1f0f1;
  position: relative;
}
.listing-attributes {
    margin-bottom: 8px;
}
.listing-attributes>li:after {
    content: "|";
    padding-left: 10px;
    font-weight: 700;
}
.listing-img .main-img {
    width: 100%;
    float: left;
    margin-bottom: 8px;
    overflow: hidden;
}
a.listing-product:before {
    content: " ";
    display: table;
}
/*  -- end --*/
.read-more{
  text-align: right;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  /*left: 17%;*/
}

.cell>p {
    text-align: center;
    margin-left: 30px;
}

section.spotligth{
  padding: 0;
  background-color: #fafafa;
  margin-top: 14px;
  /*margin-top: 40px*/
}

.box-rose{
    margin: 60px auto;
    /* width: 92%; */
    /* width: 92%; */
    border: 1px solid #f0c3ae;
    border-radius: 10px;
    background: #fff;
    padding-bottom: 30px;

}
.categories .row.box-rose:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: transparent;
}
.categories .row.box-rose:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 10px 0;
    line-height: 18px;
    text-align: center;
}
.border-rose-right{
  border-right: 1px solid #f0c3ae;
}
.row.menu {
  margin: 0;
  /* padding: 100px 0; */
  /*height: 250px;
  background-color: #fe9c30;*/
}

.spotligth .panel-primary{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  margin-bottom: 20px;
  width: 100%;
}
.spotligth .panel-body h3{
  font-size: 14px;
  color: #000;
}
.spotligth .panel-heading{
  background-position: center;
  height: 380px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
  /*overflow: hidden;*/
}

.spotligth .panel-body{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 7em;
  width: 100%;
  padding-top: 0px;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
  background-color: #000;
  color:#fff;
  width: 80px;
/*
  box-shadow: 0 0 5px #000;
  border-color: #000;
*/
}
/*ul {
  list-style: none;
  padding: 0;
  margin: 0;
}*/
.categories ul {
    list-style: none;
}
.categories li {
  padding-left: 1em; 
  text-indent: -.7em;
  color: #263249;
  font-size: 12px;
}

.categories li a{
  color: #263249;
}
.categories li::before {
  content: "• ";
  /*color: red;  or whatever color you prefer */
  font-weight: 900;
}
.categories .btn-info{
  margin-top: 10px;
  border:0;
  background-color: #ff9d2c;
  /*background-image: url(icons/background-bottom.jpg);
  background-position: center;*/
}
.category-0 li::before {
  content: "• ";
  color: #f0c3ae; /* or whatever color you prefer */
}
.category-0 .btn-info {
  /*background-color: #85c808;
  border-color: #85c808;
  border: 0;
  background-image: url(icons/background-bottom.jpg);
  background-position: center;*/

}
.category-1 li::before{
  color: #f0c3ae;
}
.category-1 .btn-info {
    /*background-color: #800c74;
    border-color: #800c74;*/
}
.category-2 li::before{
  color: #f0c3ae;
}
.category-2 .btn-info {
  /*background-color: #ea4335;
  border-color: #ea4335;*/
}
.category-3 li::before{
  color: #f0c3ae;
}
.category-3 .btn-info {
  /*background-color: #3a589b;
  border-color: #3a589b;*/
}
.category-4 li::before{
  color: #f0c3ae;
}
.category-4 .btn-info {
  /*background-color: #34a853;
  border-color: #34a853;*/
}
.category-5 li::before{
  color: #f0c3ae;
}
.category-5 .btn-info {
  /*background-color: #fbbc05;
  border-color: #fbbc05;*/
}
.category-6 li::before{
  color: #f0c3ae;
}
.category-6 .btn-info {
  /*background-color: #654320;
  border-color: #654320;*/
}

section.featured-urgents{
  margin-top: 14px;
}

.title{
  padding-left: 20px;
}

.title h2{
  font-size: 16px;
}

section.features{
  min-height: 400px;
  background-color: #f9f0eb;
  margin-top: 14px;
}
.features h2{
  font-size: 20px;
  text-align: center;
}
.features figure {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    color: #ea352d;
    line-height: 100px;
    text-align: center;
    background: #f0c3ae;
}

.features img{
  height: 50%;
}

.navbar-brand img.icon {
    /*margin-left: 40px;*/
  margin-left: 5px;
  margin-top: 33px;
}

/* start section media */
section.social-media{
  background-image: url('footer1.png');
  /*background-color: black;*/
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position:center;
  padding: 150px 0;
  margin-top: 14px;
}
.row.justify-content-between {
    padding: 60px 50px;
}

.col-md-8.col-lg-3.store {
    margin-top: -10px;
}
ul.stores {
    /* display: inline-flex; */
}

.stores li {
  padding: 0 50px 0 0;
}

.stores img {
  height: 70px;
}

ul.media {
    display: inline-flex;
}

.media img{
  height: 40px;
}

.media li {
    /*padding-right: 20px;*/
}
.social-media h2 {
    font-size: 20px;
}

.stores h3 {
    font-size: 14px;
    text-align: center;
    color: #000;
    margin-top: 9px;
}
.buttons .favroite-icon:before {
    width: 20px;
    height: 20px;
}
/* end*/
footer{
  /*height: 500px;
  /*background-color: #000;*/
  background-image: url('footer.png');
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-top: 14px;
}
img#footer_top_logo {
  margin: 0px auto 110px;
  height: 50px;
}
img.img-responsive.footer_logo {
  height: 70px;
  /*margin-top: 30px;*/
  margin: 0 auto;
}
footer h4 {
  color: #959698;
}

footer a {
    color: #fff;
}
footer a:hover {
    color: #fff;
}
footer .row {
    margin: 40px 0;
}
footer ul {
    list-style: none;
    padding-left: 0;
}
.copyright.style-1 {
  background-color: black;
  text-align: center;
  color: #fff;
  /*z-index: 200;*/
}
.body {
    padding-top: 70px;
}

.panel-body.hidden-xs {
    background: transparent;
}
.spotligth .item.active {
    background-color: transparent;
    box-shadow: none;
}

.featured-urgents .item.active {
    background-color: transparent;
    box-shadow: none;
}
.carousel-control {
  width: 40px;
  color: #fe9c30;
  opacity: 1;
}
.col {
  margin-left: 20px;
  margin-bottom: 30px;
}
.carousel-control:hover {
  color: #ff8830;
}
.carousel-inner {
  padding: 10px 30px;
  height: 100%;
}
a.right.carousel-control {
    background: none;
}
a.left.carousel-control {
    background: none;
}
.items-box-price.font-5 {
    color: #ff8830;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
}
.carousel-indicators li{
  border: 1px solid #ff8830;
}
.carousel-indicators .active{
  background-color: #ff8830;
}

.features .row{
  margin: 0 auto;
  padding: 100px 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ff970d;
}
.navbar-default .navbar-toggle {
    border-color: #ff970d;
}
.spotligth .container {
    /*width: 100%; 
    padding-right: 0;
    padding-left: 0;*/
    padding-bottom: 40px;
    /* background-color: #f2f2f2; */
}
.tabs-simple.center-block {
    text-align: center;
}
.tabs-simple {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    min-width: 75%;
}
.tabs-simple a {
    font-size: 18px;
    color: #fe9c30;
    cursor: pointer;
}
.tabs-simple-bar {
    width: 100%;
    position: relative;
    clear: both;
}
.tabs-simple-tab {
    display: block;
    position: relative;
    z-index: 1;
    color: #000;
    cursor: pointer;
    padding: 20px 10px;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}
img.img-left {
    position: absolute;
    left: 20%;
    top: -25px;
    height: 150px;
}
img.img-right {
    /* transform: translateX(100%); */
    position: absolute;
    right: 20%;
    top: -35px;
    height: 160px;
}
a.tabs-simple-tab{
  text-decoration: none;
}
a.tabs-simple-tab:hover{
  color:#000;
}
a.tabs-simple-tab.pop-se {
    text-align: right;
    padding-right: 0;
}
a.tabs-simple-tab.all-spot {
    text-align: left;
    padding-left: 0;
}
.row.menu img {
    /*transform: translateX(60%);*/
}
.tabs-simple-bar-mask {
    overflow: hidden;
    height: 20px;
}
.tabs-simple-bar-mask:after {
    content: "";
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    /*box-shadow: 0 0 6px #fe9c30;*/
}

h2.typography-subsection-subheadline.siri-command.relative {
  text-align: center;
  color: #000;
  font-weight: 300;
  font-size: 42px;
  margin-bottom: 18px;
}
.row-color.white p{
  font-size: 16px;
  margin-bottom: 18px;
  text-align: center;
  color:#000;
}
.wave-container {
  margin: 84px 0 112px;
  width: 592px;
  height: 77px;
  background-size: 592px 77px;
  background-repeat: no-repeat;
  background-image: url('siri_wave_large.png');
  left: 50%;
  margin-left: -296px;
  position: relative;
  position: relative;
}
.wave-container .webgl-object {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.row-color h2 {
    color: #000;
    text-align: center;
    margin-top: 10px;
}

a.tabs-simple-tab.btn {
    background-color: #fff;
    color: #000;
    width: 180px;
    margin: 0 auto;
}
a.tabs-simple-tab.btn:hover{
  color:#ff883e;
}
.row-color{
  /*height: 400px;*/
  background-color: #f9f0eb;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-top: 14px;
}
section.row-color.white {
    background-color: #fff;
}

.col-lg-4.img {
    top: 50%;
    /* left: 50%; */
}

.col-lg-4.img.left{
    transform: translateY(-10%);
}

.col-lg-4.img.right{
    transform: translateY(-10%);
}

.black .col-lg-4.img.left {
    transform: translateY(-10%) translateX(-20%);
}
.white .col-lg-4.img>img {
    height: 244px;
    width: 337px;
}

.black .col-lg-4.img>img {
    height: 293px;
    width: 433px;
}

.tabs-simple>li {
    list-style: none;
    text-align: center;
    display: table-cell;
}
.text{
  line-height: 1.3em;
  max-height: 2.6em;
  overflow: hidden;
}
.stores, .media{
  display: flex;
}
.tabs-simple li{
  width: 40%;
}

.truncate-line {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: inherit;
}
.categories .panel-heading a {
    display: block;
}

/** css tabs **/
.tab-pane {
    padding: 15px;
    border: 1px solid #ccc;
    border-top-color: transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-top: 2px solid #ff9d2c;
    color: #ff9d2c;
}
.nav-tabs>li>a {
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    color: #333;
    background: #f4f4f5;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-size: 15px;
}
/** end tabs **/

.stations-list {
    list-style: none;
    padding-left: 0;
}
.stations-list li>span{
  font-size: 1.2rem;
    letter-spacing: -0.01em;
}
.stations-list li {
    padding: 0 0 6px;
}
.icon-transport {
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    text-indent: 100%;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
    margin-bottom: -5px;
}
.icon-underground {
    background-image: url(tube_icon.png);
}
.icon-bus {
    background-image: url(tfl-icons.png);
    background-size: 96px 2902px;
    background-position: -5px -252px;
}
.icon-rail {
    background-image: url(icon-rail.png);
}
.icon-overground {
    background-image: url(icon-overground.svg);
}
.icon-dlr {
    background-image: url(icon-dlr.svg);
} 
.list-style-square li:before {
    border-top: 8px solid #ff9d2c;
    border-top-width: .8rem;
    content: "";
    position: absolute;
    top: 5px;
    top: .5rem;
    left: 0;
    width: 8px;
    width: .8rem;
}
.list-two-col {
    border-width: 0;
    border-bottom-width: 1px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    border-style: dashed;
    border-color: #dfdfe1;
}
.list-two-col li:after {
    border-width: 0;
    border-top-width: 1px;
    content: "";
    height: 0;
    position: absolute;
    top: -9px;
    left: 0;
}
.list-two-col li:after {
    width: 200%;
}
.list-two-col li:nth-child(odd):after {
    border-style: dashed;
    border-color: #dfdfe1;
}
.list-style-square li {
    padding: 0 8px 8px 20px;
}
.email-icon img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
@media screen and (max-width: 767px){
  .top {
    padding-bottom: 0;
  }
  .container-fluid.top{
    padding-right: 0;
    padding-left: 0;
  }
  .top .row{
    height: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  form.navbar-form {
    margin: 0;
  }
  .navbar-header {
    /*width: auto;*/
    background-color: black;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-default .navbar-brand{
    height: 50px;
  }
  .navbar-brand img.icon{
    height: 15px;
    margin-left: 0;
    margin-top: 15px;
  }
  .navbar-form{
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-right {
    height: auto !important;
    margin-top: auto;
    margin-right: 0;
    margin-left: 5px;
  }
  img.icon-small {
    margin-left: 0;
    margin-top: 0;
    width: 40px;
  }
  .search input.form-control.input-lg {
    width: 100%;
  }
  .categories .col-sm-4 {
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  .categories .panel.panel-primary{
    margin-bottom: 0;
  }
  /*.row {
    margin-left: 0; 
    margin-right:  0; 
  }*/
  .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    border-top-right-radius: 0;
  }
  .col-xs-4{
    width: initial;
  }
  .row.search {
    padding-bottom: 0;
  }
  .col-xs-12{
    padding-left: 0; 
    padding-right: 0;
  }

  .categories {
    margin: 0px auto;
  }
  .categories .col-xs-6 {
    width: 50%;
  }
  .category {
    height: 8em;
  }
  .categories .panel-primary>.panel-heading {
    margin-top: 10px;
  }
  .categories .panel-heading h1 {
    padding: 5px 0;
    font-size: 22px;
  }
  section.social-media {
    background-size: cover;
  }
  footer{
    background-size: cover;
  }
  .stores img {
    height: 50px;
  }
  .row.justify-content-between {
    padding: 60px 0;
  }
  .stores h3 {
    width: 50px;
  }
  .social-media h2 {
    text-align: center;
  }
  ul.stores {
    margin: 20px 9%;
    width: 100%;
  }
  .stores li {
    padding: 0 6%;
  }
  ul.media {
    margin: 0 40px;
  }
  .media li {
    padding-right: 0;
  }
  .navbar-default .navbar-toggle {
    border-color: #ff970d;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ff970d;
  }
  .panel-heading img.icon-category {
    height: 8em;
    width: 8em;
    margin-left: calc((100% - 8em)/2);
    border-radius: 50%;
  }
  .categories .panel-primary>.panel-heading {
    height: auto;
  }
  .spotligth .panel-primary {
    margin:10px 0;
  }
  .search input.form-control::-webkit-input-placeholder {
    font-size: 14px;
  }
  .search input.form-control::-moz-placeholder {
      font-size: 14px;
  }
  img.icon-small-h {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-top: 2px;
  }

  footer .row {
    margin: 10px 0;
  }
  footer .col {
    margin-left: 0px;
  }
  .spotligth .panel-heading {
    height: 270px;
  }
  .spotligth .container {
    width: 100%;
    /*padding-left: 0px;
    padding-right: 0px;*/
  }
  .spotligth .panel-body h3 {
    font-size: 12px;
  }
  .spotligth .panel-body {
    padding: 5px 10px;
    height: 7em;
  }
  .carousel-inner {
    padding: 10px 15px;
  }
  .row.listings .container {
    padding-left: 0;
    padding-right: 0;
  }
  .listing-img {
    width: 100px;
  }
  .listing-img .main-img{
    height: 77px;
  }
  .listings .container{
    padding-left: 0;
    padding-right: 0;
  }
  h4.items-box-name.font-2 {
    margin-right: 40px;
    height: 36px;
    position: relative;
    white-space: normal;
    font-size: 16px;
    margin-top: 0;
  }
  .items-box-body.listing-content {
    /*width: 100%;*/
    min-height: 75px;
  }
  .items-box-price.font-5 {
    font-size: 16px;
  }
  .categories .panel-heading a {
    display: block;
  }
  .wave-container {
    margin: 84px 0 112px;
    width: 100%;
    height: 47px;
    background-size: 90% 47px;
    background-position: center;
    left: 0;
  }
  img.img-left {
    position: absolute;
    left: -40%;
    top: -10px;
  }
  a.tabs-simple-tab.all-spot {
    text-align: center;
  }
  a.tabs-simple-tab.pop-se {
    text-align: center;
  }
  .col{
    height: 140px;
  }
  .favroite-icon:before{
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 991px) and (min-width: 768px){
  .col-xs-12 .col {
    margin-top: 20px;
  }
  .panel-primary>.panel-heading {
    height: 4em;
  }
  .spotligth .panel-primary>.panel-heading {
    height: 18em;
  }
  .navbar-brand img.icon {
    margin-left: 30px;
  }
  .top img.icon {
    margin-left: 5px;
    margin-top: 27px;
  }
  .navbar-default .navbar-nav>li>a {
    margin-top: 10px;
  }
  .navbar-right{
    margin-top: 5px;
    margin-right: 0;
  }
  .categories .panel-primary>.panel-heading {
    height: auto;
    padding-bottom: 0;
    padding-top: 0;
  }
  .panel-heading img.icon-category {
    height: 6em;
    width: 6em;
    margin-left: calc((100% - 6em) / 2);
  }
  .categories .col-sm-3 {
    width: 25%;
  }
  img.icon-small-h {
    margin-left: 0;
    margin-top: 5px;
  }
  .categories .panel-body {
    height: 10em;
    padding-top: 0;
  }
  section.social-media {
    background-size: cover;
  }
  footer {
    background-size: cover;
  }
  .social-media h2 {
    text-align: center;
  }
  .search input.form-control::-webkit-input-placeholder {
    font-size: 11px;
  }
  .search input.form-control::-moz-placeholder {
      font-size: 11px;
  }

  .carousel-indicators {
    bottom: -30px;
  }
  .spotligth .panel-primary {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .categories .panel.panel-primary {
    margin-bottom: 40px;
  }
  .read-more {
    bottom: 30px;
  }
  .col {
    height: 120px;
  }
  .container-fluid {
    padding-bottom: 5px;
  }
  .favroite-icon:before{
    height: 25px;
    width: 25px;
  }
}
@media screen and (min-width: 992px){
  .top .row{
    margin-right: 0px;
  }
  .categories .row {
    padding-bottom: 5px;
    /*width: 89%;*/
  }
  .categories .panel-body {
    height: 13em;
    margin-bottom: 30px;
    padding-top: 0px;
  }
  .navbar-form .input-group>.form-control {
      width: 100%;
  }
  .nav-tabs>li>a{
    font-size: 12px;
  }
  .carousel-indicators {
    bottom: -30px;
  }
  .header-download{
    margin-top: 0px;
  }
  .search input.form-control::-webkit-input-placeholder {
    font-size: 12px;
  }
  .search input.form-control::-moz-placeholder {
      font-size: 12px;
  }
  img.icon-small-h {
    margin-left: 0px;
    margin-top: 5px;
  }
  .navbar-brand img.icon{
    margin-top: 27px;
  }
  .navbar-right {
    margin-right: 0px;
    margin-top: 16px;
  }
  section.social-media {
    background-size: cover;
  }
  footer{
    background-size: cover;
  }
  .navbar-header {
    /*width: 54%;*/
  }
  .col-2 img {
    height: 35px;
    padding-left: 5px;
    margin: 18px 5px;
  }
  .navbar-default .navbar-nav>li>a {
    font-size: 14px;
  }
  .panel-heading img.icon-category {
    height: 7em;
    width: 7em;
    margin-left: calc((100% - 7em) / 2);
  }
  .categories ul {
    padding-left: 0px; 
    width: 8em;
    margin-left: calc((100% - 8em)/2);
  }
  .categories .panel-primary>.panel-heading {
    height: auto;
  }
  .read-more {
    bottom: 50px;
  }
  .spotligth .panel-primary {
    margin-bottom: 50px;
  }
  .spotligth .panel-primary {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .items-box-body.listing-content {
    min-height: 92px; 
  }
  .listing-img .main-img {
    height: 92px;
    width: 100%;
    float: left;
  }
  .items-box-body.listing-content {
    /*width: 100%;*/
  }
  .col-md-1 {
    width: 8.6%;
  }
  .navbar-default .navbar-collapse{
    padding-right: 0;
  }
  .favroite-icon:before{
    height: 25px;
    width: 25px;
  }
}
@media screen and (min-width: 1200px){
  .search .col-lg-2 {
    width: 17%;
  }
  .categories .col-lg-2 {
    width: 14.2%; 
  }
  .spotligth .col-lg-2 {
    /*width: 16%;*/
  }
  .categories .panel-body {
    height: 10em;
  }
  .header-download {
    /*margin-top: 10px;*/
  }
  .container{
    /*width: 90%;*/
  }
  .navbar-right {
    margin-top: 16px;
  }
  .col-2 img {
    height: 40px;
    margin: 15px 5px;
    max-width: 130px;
  }
  .nav-tabs>li>a{
    font-size: 15px;
  }
  img.icon-small-h {
    margin-left: 40px;
  }
  .navbar-right {
    margin-right: 20px;
  }
  .read-more {
    bottom: 10px;
  }
  .categories .row {
    padding-bottom: 20px;
    /*width: 88%;*/
  }
  .navbar-default .navbar-nav>li>a {
    /*font-size: 16px;*/
    font-size: 1em;
  }
  .search input.form-control::-webkit-input-placeholder {
    font-size: 13px;
  }
  .search input.form-control::-moz-placeholder {
      font-size: 13px;
  }

  /*.panel-heading img.icon-category {
    height: 5em;
    margin: 0 20px;
  }*/
  .spotligth .panel-heading {
    height: 300px;
  }
  .spotligth .row {
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    /*width: 88%;*/
  }
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -20px;
  }
  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-next {
    margin-right: -20px;
  }
  .col-xs-8.col-sm-6.col-md-6.col-lg-4.col-xs-offset-2.col-sm-offset-0 {
    height: 230px;
    margin-top: 30px;
  }
  .panel-heading h1{
    font-size: 14px;
    padding: 6px 0;
  }
  .categories li {
    font-size: 1.3rem;
  }
  #carousel-featured .panel-primary>.panel-heading{
    height: 12em;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
  } 
  #carousel-featured .panel-primary{
    box-shadow: none;
  }
  #carousel-featured .panel-body h3 {
    font-size: 16px;
    color: #000;
  }
  .favroite-icon:before{
    height: 30px;
    width: 30px;
  }
}
@media screen and (min-width: 1400px){
  .categories .panel-body {
    margin: 0 11px; 
  }
  /*.categories .row {
    width: 66%;
  }
  .container{
    width: 85%;
  }
  .categories .container {
    width: 100%;
  }*/
  
  .col-2 img {
    height: 40px;
  }
  .panel-heading h1 {
    font-size: 16px;
  }
  .categories li {
    font-size: 12px;
  }
  .search .col-lg-2 {
    width: 17.5%;
  }
}