.container-drop-price {
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #ff9d2c;
    background: #e2e2e2;
    text-align: center;
}
.container-drop-price h3 {
    color: #2E2FC3;
    margin-bottom: 15px;
}
.meta-info {
    padding: 0 15px 15px 15px;
    text-align: left;
}
.list-two-col{
	padding-left: 15px;
	padding-right: 15px;
}
.container-terms{
	padding-top: 15px;
}
.container-contact-seller h3 {
    font-size: 15px;
    /* padding-bottom: 1.3rem; */
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-weight: normal;
    text-align: left;
}
.key-features {
    display: flex;
    flex-wrap: wrap;
}
.list-style-square li{
	flex: 0 0 50%;
    max-width: 50%;
    position: relative;
}
.item-contact-seller{
	background: #e2e2e2;
}
.buttons:not(:last-child) {
    margin-bottom: 15px;
}
.container-contact-seller {
    padding: 15px;
    background: #e2e2e2;
}
.contact{
	border: none;
}
.cell-content{
	text-align: center;
}
.item-key-img {
    width: 40px;
    margin: auto;
}
.item-key-facts p{
	margin-top: 10px;
}
.card-body {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #ddd;
}