.container-drop-price {
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #ff9d2c;
    background: #e2e2e2;
    text-align: center;
}
.container-drop-price h3 {
    color: #2E2FC3;
    margin-bottom: 15px;
}
.meta-info {
    padding: 0 15px 15px 15px;
    text-align: left;
}
.list-two-col{
	padding-left: 15px;
	padding-right: 15px;
}
.container-terms{
	padding-top: 15px;
}