.body{
	padding-top: 90px;
}
.recruiter-dirtectory-posted-by {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px #d6d6d6 solid;
    border-top: 3px #d6d6d6 solid!important;
    border-radius: 4px;
    background-color: #fff;
}
.title-aside-content {
    color: #333;
    height: 44px;
    line-height: 32px;
    vertical-align: middle;
    padding-left: 15px;
    margin-bottom: 0;
}
.list-aside-content {
    padding: 0;
    margin-left: 15px;
    list-style: none;
    margin-top: -20px/2;
}
.list-aside-content li {
    margin-bottom: 10px;
}
.recruiter-dirtectory-specialism {
    -webkit-transition: max-height 2s ease;
    transition: max-height 2s ease;
    border: 1px #d6d6d6 solid;
    border-top: 3px #d6d6d6 solid!important;
    border-radius: 4px;
    background-color: #fff;
    padding: 15px;
}
.recruiter-dirtectory-specialism .list-aside-content {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 882px;
}
.recruiter-directory-main-content {
    border: 1px #d6d6d6 solid;
    border-top: 3px #d6d6d6 solid!important;
    border-radius: 4px;
    background-color: #fff;
}
.recruiter-directory-main-content-title {
    border-bottom: 3px solid #eaeaea;
    color: #e25b89;
    padding-bottom: 7.5px;
    margin: 30px 15px 15px 15px;
}
.recruiter-directory-main-content-title .main-title {
    display: inline;
    margin: 0;
    padding: 0;
}
.recruiter-dirtectory-main-content-logos {
    border-bottom: 2px solid #eaeaea;
    margin: 20px 0 0 0;
}