.title-block h1 {
    font-size: 28px;
    font-family: proximalight,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-align: left;
    margin: 14px 0 0;
}
.title-block h1 .big-title {
    font-family: proximabold,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 48px;
    color: #000;
}
.btn-row {
    float: left;
    width: 100%;
    margin: 10px 0;
}
.grid_2_2 {
    overflow: hidden;
    max-width: 650px;
    max-height: 480px;
}
.grid_1_1 {
    max-width: 320px;
    max-height: 235px;
}
.grid_1_1, .grid_2_2, .grid_1_2, .grid_1 {
	margin: 5px;
    position: relative;
    overflow: hidden;
    float: left;
    clear: both
}
.grid_1_1 img, .grid_1_2 img{
	width: 100%;
}
.logo-block {
    text-align: right;
    width: 100%;
    margin: 20px 0 9px;
}
.logo-block img {
    width: 180px;
}
.grid_2_2 img {
    width: 100%;
}
.metadata {
    width: 100%;
    float: right;
}
.metadata ul {
    list-style-type: none;
    margin: 0;
    text-align: left;
    padding: 10px 0 0;
    text-align: right;
}
.metadata ul li {
    display: inline-block;
    margin-right: 6px;
    font-size: 11px;
    color: #333;
    margin: 0 0 0 12px;
}
.metadata ul li:first-child {
    margin: 0;
}
.grid_2_2 .text-lower-right h2 {
    position: absolute;
    right: 45px;
    bottom: 35px;
    font-size: 45px;
    /*font-family: oswald,Helvetica,sans-serif;*/
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-weight: 400;
}
.text-lower-right {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    font-size: 27px;
    right: 0;
    line-height: 1.2em;
    padding: 0;
    text-shadow: 0 1px 1px #000;
    color: #fff;
    text-align: right;
    font-family: proximalight,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
}
.text-lower-right.gradient p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    margin: 0;
}
.text-lower-right.gradient {
    background: linear-gradient(transparent,transparent,transparent,rgba(0,0,0,.3),rgba(0,0,0,.4));
    top: 0;
    margin: 0;
    left: 0;
}
.grid_1 {
    overflow: auto;
    max-width: 320px;
}
.grid_1_2 {
    max-width: 320px;
    max-height: 440px;
    position: relative;
}
.spotlight-about {
    background: linear-gradient(transparent,rgba(0,0,0,.1),rgba(0,0,0,.2),rgba(0,0,0,.4),rgba(0,0,0,.5));
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-top: 50px;
}
.spotlight-about .spotlight-name {
    font-size: 32px;
    line-height: 1.2em;
    font-family: oswald,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin: 0 30px 25px;
}
.spotlight-about .spotlight-title {
    font-family: proxima,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 18px;
    margin: 0 30px;
    line-height: 1.2em;
}
.spotlight-about .spotlight-clicktomeet {
    font-family: proximabold,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 12px;
    text-shadow: 0 2px 2px #000;
    text-transform: uppercase;
    padding: 15px 0 20px;
    min-width: 112px;
}
.blue-solid-button-xs {
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
    width: auto;
    font-size: 13px;
    background-color: #53b6d0;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    outline: 0;
    cursor: pointer;
    padding: .9em 2.5em;
    font-family: proxima,helvetica neue,Helvetica,sans-serif;
    line-height: 1.2em;
    color: #fff;
    border: 1px solid #53b6d0;
}
.lt-grey-solid-button-xs {
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
    width: auto;
    font-size: 13px;
    background-color: #666;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    outline: 0;
    cursor: pointer;
    padding: .9em 2.5em;
    font-family: proxima,helvetica neue,Helvetica,sans-serif;
    line-height: 1.2em;
    color: #fff;
    border: 1px solid #666;
}
.insight {
    font-family: proximalight,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
}
.see-job {
    float: left;
    margin: 0 10px 0 0;
}
.insight .insight-image {
    overflow: hidden;
}
.insight .insight-body {
    padding: 20px;
    border-left: 1px solid #efefef;
    border-bottom: 2px solid #d7d7d7;
    border-right: 1px solid #efefef;
}
.insight .insight-body .insight-date, .insight .insight-body .insight-category {
    margin-bottom: 5px;
    line-height: 1.2em;
    font-size: 20px;
    color: #333;
}
.insight .insight-body .insight-title {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 1.2em;
    text-transform: uppercase;
}
.insight .insight-body .insight-text {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.5em;
    font-size: 16px;
    word-wrap: break-word!important;
}
.help-wanted {
    font-family: proxima,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    display: inline-block;
    width: 96%;
    margin: 5px 5px 10px;
    box-shadow: 3px 3px 0 #ccc;
    border: 5px solid #ba432f;
    color: #ba432f;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
}
.help-wanted div {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.2em;
}
.help-wanted .help-wanted-title {
    font-size: 27px;
    margin-bottom: 15px;
}
.help-wanted .help-wanted-job {
    font-size: 22px;
}
.help-wanted .help-wanted-location {
    font-size: 20px;
    margin-bottom: 20px;
}
.help-wanted .help-wanted-footer {
    font-size: 15px;
}
.social.social-twitter .social-container, .social.social-facebook .social-container, .social.social-instagram .social-container, .social.social-linkedin .social-container, .social.social-klout .social-container {
    padding: 10px;
    display: inline-block;
    min-height: 235px;
    line-height: 1.2em;
    word-wrap: break-word!important;
    -ms-word-wrap: break-word;
    white-space: normal;
    zoom: 1;
}
.social {
    display: table;
    color: #fff;
    padding-bottom: 10px;
    font-size: 18px;
    word-wrap: break-word!important;
    -ms-word-wrap: break-word;
    white-space: normal;
    zoom: 1;
}
.social.social-facebook {
    background-image: url(/css/facebook_background.png);
    background-repeat: no-repeat;
}
.social.social-twitter {
    background-image: url(/css/twitter_background.png?v=cbd2230…);
    background-repeat: no-repeat;
}
.social .social-title {
    font-size: 21px;
    font-weight: 700;
    padding: 10px 0;
    -ms-word-wrap: break-word;
    white-space: normal;
    zoom: 1;
}
.social.social-twitter .social-container .social-body, .social.social-facebook .social-container .social-body, .social.social-instagram .social-container .social-body, .social.social-linkedin .social-container .social-body, .social.social-klout .social-container .social-body {
    padding: 10px 0 20px;
}
.social.social-twitter .social-container .social-body, .social.social-twitter .social-container .social-footer, .social.social-facebook .social-container .social-body, .social.social-facebook .social-container .social-footer, .social.social-instagram .social-container .social-body, .social.social-instagram .social-container .social-footer, .social.social-linkedin .social-container .social-body, .social.social-linkedin .social-container .social-footer, .social.social-klout .social-container .social-body, .social.social-klout .social-container .social-footer {
    max-width: 300px;
    word-wrap: break-word!important;
    -ms-word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    white-space: normal;
    zoom: 1;
    font-size: 16px;
    line-height: 1.2em;
}
.quote {
    font-family: proxima,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 0;
    max-width: 320px;
    margin: 5px 5px 10px;
    line-height: 18px;
    float: left;
}
.quote.quote-green {
    color: #589b4e;
    background-repeat: repeat-y;
}
.quote.quote-yellow {
    color: #e9b651;
}
.quote .quote-green-top, .quote .quote-yellow-top, .quote .quote-red-top, .quote .quote-blue-top {
    -moz-box-shadow: 2px 1px 1px 2px #dbdbdb;
    -webkit-box-shadow: 2px 1px 1px 2px #dbdbdb;
    box-shadow: 2px 1px 1px 2px #dbdbdb;
    line-height: 0;
}
.quote .quote-green-top {
    border-top: 6px solid #589b4e;
}
.quote .quote-yellow-top {
    border-top: 6px solid #ffc657;
}
.quote .quote-green-side {
    border-right: 6px solid #589b4e;
}
.quote .quote-yellow-side {
    border-right: 6px solid #ffc657;
}
.quote .quote-body {
    font-size: 18px;
    line-height: 1.2em;
    padding: 20px 30px;
    width: 100%;
    word-wrap: break-word!important;
    display: table-cell;
}
.quote .quote-bottom {
    margin-top: -1px;
}
.quote .quote-source .quote-author, .quote .quote-source .quote-author-position {
    text-align: right;
    font-size: 16px;
    font-weight: 400;
}
.quote .quote-source .quote-author {
    font-weight: 700;
    padding-bottom: 5px;
}
