.title-block h1 {
    font-size: 28px;
    font-family: proximalight,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-align: left;
    margin: 14px 0 0;
}
.title-block h1 .big-title {
    font-family: proximabold,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 48px;
    color: #000;
}
.btn-row {
    float: left;
    width: 100%;
    margin: 10px 0;
}
.grid_2_2 {
    overflow: hidden;
    max-width: 650px;
    max-height: 480px;
}
.grid_1_1 {
    max-width: 320px;
    max-height: 235px;
}
.grid_1_1, .grid_2_2, .grid_1_2{
	margin: 5px;
    position: relative;
    overflow: hidden;
    float: left;
    clear: both
}
.grid_1_1 img{
	width: 100%;
}
.logo-block {
    text-align: right;
    width: 100%;
    margin: 20px 0 9px;
}
.logo-block img {
    width: 180px;
}
.grid_2_2 img {
    width: 100%;
}
.metadata {
    width: 100%;
    float: right;
}
.metadata ul {
    list-style-type: none;
    margin: 0;
    text-align: left;
    padding: 10px 0 0;
    text-align: right;
}
.metadata ul li {
    display: inline-block;
    margin-right: 6px;
    font-size: 11px;
    color: #333;
}
.metadata ul li:first-child {
    margin: 0;
}
.grid_2_2 .text-lower-right h2 {
    position: absolute;
    right: 45px;
    bottom: 35px;
    font-size: 45px;
    /*font-family: oswald,Helvetica,sans-serif;*/
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-weight: 400;
}
.text-lower-right {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    font-size: 27px;
    right: 0;
    line-height: 1.2em;
    padding: 0;
    text-shadow: 0 1px 1px #000;
    color: #fff;
    text-align: right;
    font-family: proximalight,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
}
.text-lower-right.gradient p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    margin: 0;
}
.text-lower-right.gradient {
    background: linear-gradient(transparent,transparent,transparent,rgba(0,0,0,.3),rgba(0,0,0,.4));
    top: 0;
    margin: 0;
    left: 0;
}
.grid_1_2 {
    max-width: 320px;
    max-height: 440px;
    position: relative;
}
