.body{
	padding-top: 90px;
}
.recruiter-dirtectory-posted-by {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px #d6d6d6 solid;
    border-top: 3px #d6d6d6 solid!important;
    border-radius: 4px;
    background-color: #fff;
}
.title-aside-content {
    color: #000;
    height: 44px;
    line-height: 32px;
    vertical-align: middle;
    padding-left: 15px;
    margin-bottom: 0;
}
.list-aside-content {
    padding: 0;
    margin-left: 15px;
    list-style: none;
    margin-top: -20px/2;
}
.list-aside-content li {
    margin-bottom: 10px;
}
.recruiter-dirtectory-specialism {
    -webkit-transition: max-height 2s ease;
    transition: max-height 2s ease;
    border: 1px #d6d6d6 solid;
    border-top: 3px #d6d6d6 solid!important;
    border-radius: 4px;
    background-color: #fff;
    padding: 15px;
}
.recruiter-dirtectory-specialism .list-aside-content {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 882px;
}
.recruiter-directory-main-content {
    border: 1px #d6d6d6 solid;
    border-top: 3px #d6d6d6 solid!important;
    border-radius: 4px;
    background-color: #fff;
}
.recruiter-directory-main-content-title {
    border-bottom: 3px solid #eaeaea;
    color: #000;
    padding-bottom: 30px;
    margin: 30px 15px 0px 15px;
}
.recruiter-directory-main-content-title .main-title {
    font-size: 30px;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.2em;
    font-weight: 400;
}
.recruiter-directory-main-content-title h2 {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin: 0;
    font-weight: 200;
}
.recruiter-directory-main-content p {
    font-family: proximalight,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 12px;
}
.recruiter-directory-main-content-logos {
    border-bottom: 2px solid #eaeaea;
    /*margin: 20px 0 0 0;*/
   	padding-top: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(/css/explore-bg.jpg);
    background-size: 250%;
    background-position: center;
}
.profile{
	margin-bottom: 30px;
	/*-moz-box-shadow: 0 6px 20px 0 #eee;
    -webkit-box-shadow: 0 6px 20px 0 #eee;
    box-shadow: 0 6px 20px 0 #eee;*/
    background: #fff;
}
.profile-thumb {
    border-bottom: 1px solid #d6d6d6;
    border-radius: 3px;
    height: 120px;
    position: relative;
}
.profile-thumb .profile-link {
    display: block;
    height: 100%;
    padding: 7.5px;
    position: relative;
}
.profile-thumb .profile-img {
    /*max-width: 100%; */
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.subtitle {
    min-height: 85px;
    border-bottom: 3px solid #7de5ce;
    position: relative;
}
.subtitle a {
    font-size: 14px;
    margin: 20px 15px 10px;
    display: block;
    color: #333;
    display: block;
    font-weight: 600;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
.pagination-container {
    width: 95%;
    margin: 30px auto;
}
.pagination-new {
    text-align: center;
}
.container-search-section-title {
    margin-top: 20px;
    padding: 40px 0;
    text-align: center;
    background: #fff;
    margin-bottom: 20px;
}
.profile .favorite-container {
    z-index: 20;
    position: absolute;
    left: 20px;
    bottom: 40px;
}
.profile .alert-container{
	right: 20px;
    bottom: 35px;
    z-index: 20;
    position: absolute;
}
.profile .favor{
	position: relative;
}

.favorite-container .favorite, .favorite-container .unfavorite, .alert-container .company-alert {
    display: inline-block;
    line-height: 1em;
    color: #fd745a;
    text-align: center;
    font-size: 18px;
    padding: 7px 7px 6px;
    border-radius: 36px;
    background-color: #fff;
    -webkit-transition: color 200ms ease-out;
    -moz-transition: color 200ms ease-out;
    -ms-transition: color 200ms ease-out;
    -o-transition: color 200ms ease-out;
    transition: color 200ms ease-out;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.alert-container .company-alert {
    padding: 7px 5px;
}
.favroite-icon:before, .icon-bell:before {
    height: 20px;
    width: 20px;
}
.icon-bell:before {
	position: relative;
	width: 25px;
	left: 0;
	top: 0;
}
.icon{
	height: auto;
}
.icon-bell{
	cursor: pointer;
    display: block;
    margin: 4px;
}
.container-immediate {
    padding: 30px 0;
    background: rgba(13,126,126,0.5);
    margin-bottom: 30px;
}
.btn-see-jobs {
    width: 100%;
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
    padding: 10px 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #1E9476;
    background: #fff;
    display: inline-block;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #1E9476;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 11px;
    border-radius: 25px;
    letter-spacing: 1px;
}
.immediate-title {
    margin: 0;
    font-size: 24px;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    color: #fff;
}
.container-actions-immediate {
    margin-top: 15px;
}
.btn-see-jobs:hover {
    color: #fff;
    background-color: #1E9476;
}
.top-hero-section {
    height: 478px;
    width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
    position: relative;
}
.top-hero-section .bg-image {
    min-height: 100px;
    width: 100%;
    position: absolute;
    z-index: 10;
    height: 478px;
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.3),transparent),url(/css/search-recruiter-bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.page-companies{
	padding-top: 70px;
}
.top-hero-section .sub-heading {
    margin-top: 120px;
}
.top-hero-section .sub-heading h1 {
    text-transform: uppercase;
    font-size: 55px;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
}
.top-hero-section .sub-heading h2 {
    margin: 10px 0 20px;
    font-size: 18px;
    font-weight: 700;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
}
.filters-jobs {
    position: absolute;
    z-index: 200;
    width: 100%;
    top: 274px;
    left: 0;
    background: rgba(0,0,0,.6);
    padding: 20px 10px 10px 10px;
}
.filters-jobs .filter-wrapper {
    max-width: 1e3px;
    margin: 0 auto;
    padding: 10px 15px 10px 70px;
    position: relative;
}
.filters-jobs .filter-wrapper>div {
    display: inline;
}
.filters-jobs .filter-wrapper .location-wrapper, .filters-jobs .filter-wrapper .keyword-wrapper {
    margin-right: 5px;
    margin-bottom: 0;
    float: left;
}
.filters-jobs .filter-wrapper .keyword-wrapper {
    width: 60%;
}
.filters-jobs .filter-wrapper .landing-location-filter, .filters-jobs .filter-wrapper .keyword-input {
    width: 100%;
}
input[type=search] {
    -webkit-appearance: none;
}
.filters-jobs .filter-wrapper input {
    color: #333;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-style: italic;
    font-size: 18px;
    height: 50px;
    padding-left: 20px;
    width: 100%;
    border: 0;
    border-radius: 0;
    outline-width: 1px;
}
.tm-brighter-blue-square-button {
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
    display: inline-block;
    background-color: #3852d4;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: proximasemibold,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 11px;
    border-radius: 0;
    letter-spacing: 1px;
    padding: 12px 30px;
}
.filters-jobs .filter-search-button {
    width: 30%;
    float: left;
    padding-top: 15px;
    font-size: 18px;
    height: 50px;
}
.filters-jobs .show-all-jobs {
    margin: 20px 20px 0;
    color: #b5b5b5;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    opacity: .7;
    position: absolute;
    bottom: 17px;
    right: -120px;
    width: 150px;
}
.filters-jobs .show-all-jobs p {
    border-bottom: 1px solid #b5b5b5;
    display: inline-block;
    margin-right: 5px;
    font-size: 11px;
}
.top-hero-section .sub-heading .directory-companies-wrapper h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
}
.top-searches-wrapper:before,  .top-searches-wrapper:after{
    content: '';
    display: block;
    height: 15px;
    background: #fff;
}
.top-searches {
    /*border-bottom: 1px solid #e5e5e5;*/
    padding: 10px 0 20px;
    margin: 0 20px 0 15px;
}
.top-searches h3 {
    color: #b5b5b5;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-weight: 700;
}
.top-searches ul{
	list-style: none;
	padding: 0;
}
.top-searches ul li {
    display: inline-block;
    font-size: 20px;
    padding: 0 30px 5px 0;
}
.top-searches ul li a {
    color: #333;
    border-bottom: 1px solid #b5b5b5;
    text-decoration: none;
}
.recruiter-feature-box {
    background-color: transparent;
    box-shadow: none;
    height: 300px;
    width: 100%;
    position: relative;
}
.featured .bg-image {
    min-height: 100px;
    width: 100%;
    position: absolute;
    z-index: 10;
    height: 300px;
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.5),transparent),url(/css/featured-bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.immediate .bg-image {
    min-height: 100px;
    width: 100%;
    position: absolute;
    z-index: 10;
    height: 300px;
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.5),transparent),url(/css/immediate-bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.immediate .bg-image {
    min-height: 100px;
    width: 100%;
    position: absolute;
    z-index: 10;
    height: 300px;
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.5),transparent),url(/css/immediate-bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.most-jobs .bg-image {
    min-height: 100px;
    width: 100%;
    position: absolute;
    z-index: 10;
    height: 300px;
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.5),transparent),url(/css/most-jobs-bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.showcased-companies .bg-image {
    min-height: 100px;
    width: 100%;
    position: absolute;
    z-index: 10;
    height: 300px;
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.5),transparent),url(/css/showcase-bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.featured .title-copy, .immediate .title-copy, .showcased-companies .title-copy, .most-jobs .title-copy{
    text-align: center;
    background-color: transparent;
    position: relative;
    top: 45%;
    border: 0;
}
.featured .title-copy h3, .immediate .title-copy h3, .showcased-companies .title-copy h3, .most-jobs .title-copy h3 {
    color: #fff;
    font-size: 35px;
    font-family: oswald,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    width: 85%;
    margin: 0 auto;
}
.block {
    margin: 30px auto;
}
.search-companies-result-title {
    padding-top: 30px;
}
.search-companies-result-title h1 {
    position: static;
    padding-bottom: 10px;
    margin: 0 0 5px 0;
    font: 24px/30px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #003777;
    border-bottom: 1px solid #dfdfdf;
}
.companies-wrapper {
    padding-top: 30px;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.5),transparent),url(/css/companies-bg.jpg);
}
.companies-wrapper .row {
    margin: 0;
}
.let-us-help-wrapper {
    width: 100%;
    /*background: #fff;*/
    padding: 30px;
    margin-bottom: 30px;
}
.filters-tab .nav-tabs>li>a {
    background:rgba(58, 86, 209,0.7);
    border-color: #3852d4;
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    margin-right: 0;
}
.filters-tab {
    position: relative;
}
.filters-tab .nav-tabs>li:not(:last-child){
	border-right: 1px solid #fff;
}
.filters-tab .nav {
    position: absolute;
    top: -67px;
    left: 100px;
    border-bottom: none;
}
.filters-tab .nav-tabs>li.active>a, .filters-tab .nav-tabs>li.active>a:focus, .filters-tab .nav-tabs>li.active>a:hover {
    border-top: none;
    background: #3852d4;
}
.filters-tab .tab-pane{
	border:none;
}
@media(min-width: 768px){
	.search-companies-az {
	    display: block !important;
	    width: 730px;
	    text-align: center;
	    list-style: none;
	    margin: 10px auto 20px auto;
	    padding: 0;
	}
	.search-companies-az li:first-child {
	    margin: 0;
	}
	.search-companies-az li {
	    float: left;
	    margin: 0 0 0 3px;
	    border-radius: 1px;
	}
	.search-companies-az li:first-child {
	    margin: 0;
	}
	.search-companies-az li a {
	    display: block;
	    font: 15px/15px 'Open Sans', Arial, Helvetica, sans-serif;
	    padding: 5px 7px;
	    text-decoration: none;
	    text-align: center;
	    background: #fff;
	    color: #003777;
	    -webkit-transition: background 0.2s linear, color 0.2s linear;
	    transition: background 0.2s linear, color 0.2s linear;
	}
	.main-search-divs-wrap {
	    background: url(https://static.cv-library.co.uk/images/search-companies-blue-bg.png);
	}
}
@media(min-width: 1024px){
	.filters-jobs .filter-search-button {
    	width: 25%;
    }
    .filters-jobs .show-all-jobs{
    	right: -43px;
    }
    .filters-jobs .filter-wrapper .keyword-wrapper {
	    width: 55%;
	    margin-left: 50px;
	} 

}
@media(min-width: 1200px){
	.filters-jobs .filter-search-button {
    	width: 30%;
    }
    .filters-jobs .show-all-jobs{
    	right: -120px;
    } 
    .filters-jobs .filter-wrapper .keyword-wrapper {
    	width: 60%;
    	margin-left: auto;
	}
}