.body{
	padding-top: 90px;
}
.recruiter-dirtectory-posted-by {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px #d6d6d6 solid;
    border-top: 3px #d6d6d6 solid!important;
    border-radius: 4px;
    background-color: #fff;
}
.title-aside-content {
    color: #000;
    height: 44px;
    line-height: 32px;
    vertical-align: middle;
    padding-left: 15px;
    margin-bottom: 0;
}
.list-aside-content {
    padding: 0;
    margin-left: 15px;
    list-style: none;
    margin-top: -20px/2;
}
.list-aside-content li {
    margin-bottom: 10px;
}
.recruiter-dirtectory-specialism {
    -webkit-transition: max-height 2s ease;
    transition: max-height 2s ease;
    border: 1px #d6d6d6 solid;
    border-top: 3px #d6d6d6 solid!important;
    border-radius: 4px;
    background-color: #fff;
    padding: 15px;
}
.recruiter-dirtectory-specialism .list-aside-content {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 882px;
}
.recruiter-directory-main-content {
    border: 1px #d6d6d6 solid;
    border-top: 3px #d6d6d6 solid!important;
    border-radius: 4px;
    background-color: #fff;
}
.recruiter-directory-main-content-title {
    border-bottom: 3px solid #eaeaea;
    color: #000;
    padding-bottom: 30px;
    margin: 30px 15px 0px 15px;
}
.recruiter-directory-main-content-title .main-title {
    font-size: 30px;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.2em;
    font-weight: 400;
}
.recruiter-directory-main-content-title h2 {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin: 0;
    font-weight: 200;
}
.recruiter-directory-main-content p {
    font-family: proximalight,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 12px;
}
.recruiter-directory-main-content-logos {
    border-bottom: 2px solid #eaeaea;
    /*margin: 20px 0 0 0;*/
   	padding-top: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(/css/explore-bg.jpg);
    background-size: 250%;
    background-position: center;
}
.profile{
	margin-bottom: 30px;
	/*-moz-box-shadow: 0 6px 20px 0 #eee;
    -webkit-box-shadow: 0 6px 20px 0 #eee;
    box-shadow: 0 6px 20px 0 #eee;*/
    background: #fff;
}
.profile-thumb {
    border-bottom: 1px solid #d6d6d6;
    border-radius: 3px;
    height: 120px;
    position: relative;
}
.profile-thumb .profile-link {
    display: block;
    height: 100%;
    padding: 7.5px;
    position: relative;
}
.profile-thumb .profile-img {
    /*max-width: 100%; */
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.subtitle {
    min-height: 85px;
    border-bottom: 3px solid #7de5ce;
    position: relative;
}
.subtitle a {
    font-size: 14px;
    margin: 20px 15px 10px;
    display: block;
    color: #333;
    display: block;
    font-weight: 600;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
.pagination-container {
    width: 95%;
    margin: 30px auto;
}
.pagination-new {
    text-align: center;
}
.container-search-section-title {
    margin-top: 20px;
    padding: 40px 0;
    text-align: center;
    background: #fff;
    margin-bottom: 20px;
}
.profile .favorite-container {
    z-index: 20;
    position: absolute;
    left: 20px;
    bottom: 40px;
}
.profile .alert-container{
	right: 20px;
    bottom: 35px;
    z-index: 20;
    position: absolute;
}
.profile .favor{
	position: relative;
}

.favorite-container .favorite, .favorite-container .unfavorite, .alert-container .company-alert {
    display: inline-block;
    line-height: 1em;
    color: #fd745a;
    text-align: center;
    font-size: 18px;
    padding: 7px 7px 6px;
    border-radius: 36px;
    background-color: #fff;
    -webkit-transition: color 200ms ease-out;
    -moz-transition: color 200ms ease-out;
    -ms-transition: color 200ms ease-out;
    -o-transition: color 200ms ease-out;
    transition: color 200ms ease-out;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.alert-container .company-alert {
    padding: 7px 5px;
}
.favroite-icon:before, .icon-bell:before {
    height: 20px;
    width: 20px;
}
.icon-bell:before {
	position: relative;
	width: 25px;
	left: 0;
	top: 0;
}
.icon{
	height: auto;
}
.icon-bell{
	cursor: pointer;
    display: block;
    margin: 4px;
}
.container-immediate {
    padding: 30px 0;
    background: #fff;
    margin-bottom: 30px;
}
.btn-see-jobs {
    width: 100%;
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
    padding: 10px 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #f87964;
    display: inline-block;
    background-color: transparent;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #f87964;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 11px;
    border-radius: 25px;
    letter-spacing: 1px;
}
.immediate-title {
    margin: 0;
    font-size: 24px;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
.container-actions-immediate {
    margin-top: 15px;
}
.btn-see-jobs:hover {
    color: #fff;
    background-color: #f87964;
}
@media(min-width: 768px){
	.search-companies-az {
	    display: block !important;
	    width: 730px;
	    text-align: center;
	    list-style: none;
	    margin: 0 auto;
	    padding: 0;
	}
	.search-companies-az li:first-child {
	    margin: 0;
	}
	.search-companies-az li {
	    float: left;
	    margin: 0 0 0 3px;
	    border-radius: 1px;
	}
	.search-companies-az li:first-child {
	    margin: 0;
	}
	.search-companies-az li a {
	    display: block;
	    font: 15px/15px 'Open Sans', Arial, Helvetica, sans-serif;
	    padding: 5px 7px;
	    text-decoration: none;
	    text-align: center;
	    background: #fff;
	    color: #003777;
	    -webkit-transition: background 0.2s linear, color 0.2s linear;
	    transition: background 0.2s linear, color 0.2s linear;
	}
	.main-search-divs-wrap {
	    background: url(https://static.cv-library.co.uk/images/search-companies-blue-bg.png);
	}
}