fieldset {
    clear: both;
}
.inputset {
    clear: both;
    padding: .2em 0 .2em .6em;
}
.inputset input {
    float: left;
    width: 44%;
}
.inputset label {
	width: 20%;
    font-weight: bold;
    clear: both;
    display: block;
    float: left;
    padding: .2em 0 .1em 0;
}
.inputset .title-name {
    width: 10%;
}
.inputset .name {
    width: 16%;
    margin-left: 1%;
}
.inputset:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.inputset textarea {
    width: 44%;
    float: left;
    border-color: #dcdcdc;
}