.top-block {
    padding: 50px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/css/search-cv-bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.top-block h1 {
    max-width: 800px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: Effra-Regular,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 50px;
    text-align: center;
    margin: 70px auto 60px;
    color: #fff;
    text-shadow: 2px 2px 10px #333;
}
.top-block .ctas {
    padding: 0 0 70px;
}
.profilesearch-example-container .profilesearch-desktop {
    width: 612px;
    height: 515px;
    margin: 0 80px;
    text-align: center;
    position: relative;
    background-image: url(/css/profile-search-desktop.png);
    background-repeat: no-repeat;
}
.profilesearch-example-container .profilesearch_desktop .profilesearch_web {
    top: 25px;
    left: 25px;
    width: 565px;
    height: 315px;
    overflow: hidden;
    position: absolute;
}
.heading-container h3 {
    color:#ff9d2c;
    font-size: 30px;
    font-weight: 600;
    display: inline;
    font-family: Effra-Medium,sans-serif;
}
.heading-container {
    position: relative;
    padding: 40px 0 30px 0;
}
.block-grey{
    background: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #d6d6d6;
}
.cvsearch-features, .cvsearch-prices {
    margin-top: 50px;
}
.cvsearch-features .cvsearch-benefits {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
}
.profilesearch-example-container .profilesearch-desktop .profilesearch-page-selector {
    bottom: -45px;
    width: 111px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.profilesearch-example-container .profilesearch-desktop .profilesearch-web {
    top: 25px;
    left: 25px;
    width: 565px;
    height: 315px;
    overflow: hidden;
    position: absolute;
}
.profilesearch-example-container .profilesearch-desktop .profilesearch-zoom {
    top: 132px;
    left: -16px;
    width: 195px;
    height: 195px;
    overflow: hidden;
    position: absolute;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 5px solid #29a3c1;
    
    background-position-x: -42px;
    background-position-y: -294px;
}