.content-top .logo {
    border-radius: 15px;
    display: inline-block;
    vertical-align: middle;
    height: 70px;
}
.content-top h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    /* margin-bottom: 0; */
    font-size: 27px;
    font-weight: 600;
}
.content-top h2 {
    margin: 20px 0 20px;
    font-size: 22px;
    font-weight: 600;
}
.content-top p {
    margin-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 40px;
}
.content-middle h2 {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
    margin-top: 0;
}
.stores-buttons img {
    max-width: 188px;
}
.content-header img {
    max-width: 420px;
}
.main-header {
    background: #f0f0f0;
}
.main-header, .main-body{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    float: none;
}
.main-header .main-container {
    float: right;
    width: 100%;
    text-align: center;
}
.main-body .main-container {
    padding: 30px 0 30px 0;
}
.highlight{
	font-weight: 600;
    padding-bottom: 30px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 40px;
    color: #ff9d2c;
}
@media (max-width: 47.99em){
	.main-header, .main-body {
	    display: block;
	    width: 100%;
	}
	.main-header{
		padding: 0;
	}
	.main-header .main-container {
    	float: none;
	}
	.content-top h1 {
    	margin: 0;
    	padding: 30px 0 0;
	}
	.stores-buttons{
		padding: 0;
	}
	.stores-buttons a{
		width: 48%;
    	display: inline-block;
	}
	.stores-buttons img{
		width: 100%;
	}
	.buttons a:first-child {
    	margin-right: 10px;
	}
	.body-top p {
    	padding: 0 20px;
    	margin: 0 0 30px;
    	border: 0;
	}
	.main-header img {
    	max-width: initial;
    	width: 100%;
	}
	.row{
		margin-right: -15px;
    	margin-left: -15px;
	}
	.main-body .main-container {
    	padding: 0;
	}
}
@media (min-width: 64em){
	.content-middle div p {
	    display: block;
	    margin-left: 0;
	    margin-bottom: 25px;
	    margin-top: 0;
	}
	.main-container {
    	max-width: 512px;
	}
}
@media (min-width: 80em){
	.content-middle div p {
	    display: inline-block;
	}
	.main-container {
    	max-width: 640px;
	}
	.main-body .main-container {
    	padding: 50px 0 50px 0;
	}
}
@media (min-width: 84.3125em){
	.main-container {
	    max-width: 675px;
	}
}
@media only screen and (max-width: 1279px) and (min-width: 1000px){
	.app-curve {
	    margin-top: -0.125em;
	    margin-bottom: 37.5em;
	}
}