body{
    font-family: 'Quicksand', sans-serif;
    background: #eeeeee;

}
span.ribbon-featured {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    bottom: 0;
    right: 0;
}
.list-group-item{
    background-color: transparent;
    border: 0px solid #ddd;
    padding-left: 0;
    padding-top: 0;
}
.well{
    background: white;
}
.main-search{
    margin-top: 15px;
}
.inline-block-div {
    display: inline-block;
}
.main-cat-div .form-control {
    width: 150px;
}

.main-search-div {
    margin: auto;
    max-width: 1000px;
}


.main-search-div {
    margin: auto;
    width: 777px;
}
.main-q-div .form-control {
    width: 400px;
}
.frame {
    width: 600px;
    height: 600px;
    position: relative;
}
.frame img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
a.filter-button.btn.btn-default {
    float: right;
    margin-bottom: 5px;
    display: none;
}
strong.ribbon {
    background-color: #fff;
    color: #3997ba;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
    text-transform: uppercase;
    /* color: #fff; */
    display: block;
    text-align: center;
    top: 13px;
    left: -33px;
    font-weight: 700;
    width: 112px;
    padding: 3px 0;
    position: relative;
    font-size: 10px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
span.hide-visually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.listing-posted-date.txt-sub {
    float: right;
    text-align: right;
}
.txt-uppercase {
    text-transform: uppercase;
}
.txt-agnosticRed {
    color: #ec4231;
}
span.posted-text {
    text-align: right;
    color: gray;
    bottom: 0;
    right: 0;
    position: absolute;
}
.favroite-icon {
    font-size: 30px;
    float: right;
    cursor: pointer;
    color: mediumseagreen;
}

.favroite-icon-gold {
    color: gold;
}
.row.top-row {
    max-height: 30px;
    margin: 0;
}
.delete-icon{
    font-size: 30px;
    float: right;
    cursor: pointer;
    color: dimgrey;
}
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.items-box-body.listing-content {
    overflow: hidden;
}
.nopadding{
    padding: 0;
}
h4.items-box-name.font-2 {
    margin: 0;
}
h4.product-title {
    padding: 0;
    margin: 0;
    font-size: 20px;
    max-height: 40px;
    overflow: hidden;
    cursor: pointer;
    max-width: 80%;
    font-weight: bold;
}
.nomargin{
    margin:0;
}
.custom-width{
    max-width: 50px;
}
span.product-price {
    color: orange;
    font-weight: bold;
    font-size: 16px;
}
.products {
    width: 76%;
    float: right;
    background: white;
    padding: 20px;
}


li.list-group-item a {
    font-weight: bold;
}
.main-img {
    height: 150px;
    width: 150px;
    overflow: hidden;
}
.listing-side {
    width: 120px;
}
.listing-side .listing-thumbnail{
    height: 92px;
}
.listing-side-big .listing-thumbnail-big{
    height: 450px;
}
.listing-side-big{
    width: 600px;
}
.listing-side .listing-thumbnail,.listing-side-big .listing-thumbnail-big {
    width: 100%;
    float: left;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid #d8d6d9;
}
 .listing-thumbnail img,.listing-thumbnail-big img{
    width: auto;
    max-width: inherit;
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: block;
}
.listing-side .listing-meta,.listing-side-big .listing-meta {
    padding: 2px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
}
.info{
    position: relative;
    margin-left: 130px;

}
.favor {
    position: absolute;
    top: 0;
    right: 0;
}
.product {
    min-height: 90px;
}
.filter-container{
    position: relative;
    width: 20%;
    float: left;
}
.all {
    max-width: 1400px;
    margin: auto;
}
span.image-number {
    float: right;
    padding-left: 2px;
    padding-right: 5px;
    text-align: right;
}
.slick-prev:before, .slick-next:before {
    color: black;
}
ul.image-gallery-ul {
    cursor: -webkit-grab;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    table-layout: fixed;
}
ul.image-gallery-ul li {
    display: table-cell;
    height: 600px;
    vertical-align: middle;
    padding-right: 16px;
    text-align: center;
}
ul.image-gallery-ul li img {
     max-width: 100%;
    max-height: 100%;
}

.image-gallery {
    width: 600px;
    overflow: hidden;
    position: relative;
    margin: auto;
}
.all-filters {
    padding-left: 15px;
}
.carousel-control .glyphicon-circle-arrow-left, .carousel-control .icon-next {
    margin-right: -20px;
}
.carousel-control .glyphicon-circle-arrow-left, .carousel-control .icon-prev {
    margin-left: -10px;
}

.carousel-control .glyphicon-circle-arrow-left, .carousel-control .glyphicon-circle-arrow-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
}
.carousel-control .glyphicon-circle-arrow-left, .carousel-control .icon-prev {
    left: 50%;
    margin-left: -10px;
}
.carousel-control .glyphicon-circle-arrow-left, .carousel-control .glyphicon-circle-arrow-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
.carousel-control .glyphicon-circle-arrow-right, .carousel-control .icon-next {
    margin-right: -20px;
}
.carousel-control .glyphicon-circle-arrow-right, .carousel-control .icon-prev {
    margin-left: -10px;
}
.carousel-control .glyphicon-circle-arrow-right, .carousel-control .icon-prev {
    right: 50%;
    margin-left: -10px;
}
.main-location {
    width: 14.28%;
    float: left;
    height: 100px;
    border: 1px solid gray;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    cursor: pointer;
    position: relative;
}
.main-category {
    width: 14.28%;
    float: left;
    height: 100px;
    border: 1px solid gray;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    cursor: pointer;
    position: relative;
}
a.select-link {
    right: 40px;
    position: absolute;
}
.bold-text {
    font-weight: bold;
    font-size: 20px;
}
.doc{
    display: block;
    margin: auto;
}
span.green-text {
    color: green;
    font-weight: bold;
}
@media (max-width: 1500px) {
    h4.product-title {
        font-size: 18px;
        max-height: 36px;
        overflow: hidden;
    }
}
@media (max-width: 1200px) {
    h4.product-title {
        font-size: 17px;
        max-height: 34px;
        overflow: hidden;
    }
    .listing-side-big .listing-thumbnail-big{
        height: 600px;
    }
    .listing-side-big{
        width: 600px;
    }
    ul.image-gallery-ul li{
        height: 600px;
    }
    .image-gallery {
        width: 600px;
    }
}
@media (max-width: 1040px) {


    .listing-side-big .listing-thumbnail-big{
        height: 520px;
    }
    .listing-side-big{
        width: 520px;
    }
    .image-gallery {
        width: 520px;
    }
    ul.image-gallery-ul li{
        height: 520px;
    }
}
@media (max-width: 900px) {
    h4.product-title {
        font-size: 16px;
        max-height: 32px;
        overflow: hidden;
        max-width: 70%;
    }

    .main-search-div{
        width: 100%;
    }
    .main-q-div{
        width : calc(100% - 150px);
    }
    .main-first-div{
        width: 50%;
    }
    .main-second-div{
        width:49%;
    }
    .main-location-div .form-control{
        width: 100%;
    }
    .main-q-div .form-control{
        width:100%;
    }
.main-location-div {
    width: calc(100% - 48px);
}
}
@media (max-width: 767px) {
    .main-second-div,.main-first-div{
        display: block;
        width: 100%;
    }
    .all-filters {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        background: white;
        width: 100%;
    }
    .filter-container{
        width: 100%;
    }
    a.filter-button.btn.btn-default{
        display: block;
    }
    .products{
        width: 100%;
    }
    h4.product-title {
        font-size: 15px;
        max-height: 30px;
        overflow: hidden;
        max-width: 60%;
    }
    .listing-description{
        display: none;
    }

    .product-price{
        display: block;
    }
    .listing-side-big .listing-thumbnail-big{
        height: 500px;
    }
    .listing-side-big{
        width: 500px;
    }
    .image-gallery {
        width: 500px;
    }
    ul.image-gallery-ul li{
        height: 500px;
    }
}
@media (max-width: 400px) {
    h4.product-title {
        font-size: 14px;
        max-height: 30px;
        overflow: hidden;
        max-width: 50%;
    }
    .listing-side-big .listing-thumbnail-big{
        height: 350px;
    }
    .listing-side-big{
        width: 350px;
    }
    .image-gallery {
        width: 350px;
    }
    ul.image-gallery-ul li{
        height: 350px;
    }
}

