body{
    font-family: Effra-Regular,arial,helvetica,sans-serif;

}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
span.ribbon-featured {
    /*position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    bottom: 0;
    right: 0;*/
    background: #ff9d2c;
    color: #fff;
}
span.red-text {
    color: red;
}
.list-group-item{
    background-color: transparent;
    border: 0;
    padding-left: 0;
    padding-top: 0;
}
.listing-max-pro{
    border-bottom: 1px solid #c0c0c0;
    background: #fff;
    position: relative;
    margin: 0 0 10px;
    padding: 15px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.16), 0px 0px 1px rgba(0,0,0,.08);
}
.listing-max-pro:nth-child(1) {
    animation-delay: .05s;
}

.listing-max-pro:nth-last-child(2) {
    border-bottom: 1px solid #c0c0c0;
}
span.active-strip {
    background: green;
    padding: 5px;
    color: white;
    border-radius: 3px;
    margin-bottom: 5px;
    display: inline-block;
}
.ck-editor__editable{
    min-height: 250px;
}
.info .block.fix-text{
    max-height: 40px;
    overflow: hidden;
}
.address-div {
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
    width: 200px;
}


.gray-color {
    color: gray;
}
.detail-text {
    margin-bottom: 20px;
}
span.delivery-text {
    padding: 3px;
    font-weight: bold;
}
.media.selected-room {
    background: #eee;
}
.mapframe{
    margin-bottom: 30px;
}


.subText {
    display: block;
}
.mobile_only {
    display: none;
}
.profile-picture img {
    max-width: 100%;
}
.profile-picutre img{
    max-width: 100px;
}
a.delete-alert-link {
    float: right;
}
.assign-images{
    cursor: pointer;
}
.yellow-text {
    color: orange;
}
.all-con {
    height: 500px;
    overflow: auto;
}
span#postcode-text {
    text-transform: uppercase;
}
.continue-div {
    position: fixed;
    bottom: 0;
    background: lightgray;
    width: 100%;
    padding: 10px;
}
.selected-image {
    background: lightskyblue;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.multi-image img {
    width: 100%;
}
.row-images-modal {
    height: 500px;
    overflow: auto;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.card-div {
    width: 200px;
    height: 130px;
    background: gray;
    border-radius: 18px;
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
}
.bank-div {
    width: 200px;
    height: 130px;
    border-radius: 18px;
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid lightgray;
    padding: 9px
}
.upload-image img {
    width: 100%;
}
.upload-image {
    width: 100px;
}
.add-card-div {
    display: block;
    background: lightgray;
}
.credit-debit-cards {
    max-width: 700px;
}
.center-add-card {
    text-align: center;
}
.multi-image {
    width: 200px;
    display: inline-block;
}
a.card-div-link {
    color: darkgreen;
    font-weight: bold;
    padding-top: 35px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    padding-bottom: 20px;
}
a.add-bank-link {
    color: darkgreen;
    font-weight: bold;
    padding-top: 35px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    padding-bottom: 20px;
}
.add-card-form {
    margin: auto;
    background: white;
    width: 100%;
    max-width: 900px;
    position: relative;
    padding-top: 1px;
}
.add-account-form, .add-address-form {
    margin: auto;
    background: white;
    width: 100%;
    max-width: 900px;
    position: relative;
    padding-top: 1px;
}
.mtop {
    border-bottom: 1px solid #d8d6d9;
    padding: 16px;
}
.all-messages {
    overflow: auto;
    max-height: calc(100% - 150px);
}
.cross-mark-add-card,.cross-mark-add-address {
    position: absolute;
    right: 0;
    top: 0;
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
strong.ship-ribbon {
    color: white;
}
.extra-info hr {
    width: 95%;
    margin-bottom: 10px;
    margin-top: 10px;
}
span.currency {
    text-transform: uppercase;
}
.ribbon.ribbon-delivery {
    background: #A52CDD;
    color: #fff;
    padding-top: 6px;
}
/*strong.deliver-ribbon {
    background: rebeccapurple;
    color: white;
    padding: 5px;
    border-radius: 10px;
}*/
.cross-mark-add-bank {
    position: absolute;
    right: 0;
    top: 0;
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.card-logo img {
    width: 50px;

}
.card-logo {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 5px;
    margin-right: 10px;
}
.last-4 {
    position: absolute;
    bottom: 0;
    color: white;
    margin-left: 8px;
    margin-bottom: 5px;
    font-weight: bold;
}
.bank-div .last-4{
    color: black;
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
a.post-advert {
    color: orange !important;
    border: solid 1px;
    padding: 6px !important;
    margin-top: 10px;
}
a.search-alert {
    color: #fff;
    border: 1px solid #ff9d2c;
    padding: 10px 10px;
    background-color: #000;
    border-radius: 4px;
    height: 42px;
    text-align: center;
    vertical-align: middle;
}
.ribbon {
    display: inline-block;
    padding: 12px 3px;
    text-align: center;
    vertical-align: middle;
    width: 108px;
    height: 43px;
    text-transform: uppercase;
    /*border-radius: 5px;*/
    font-size: 14px;
    margin: 5px 10px 5px 0;
    box-shadow: 0px 4px 1px -2px rgba(0,0,0,0.16), 0px 0px 0px rgba(0,0,0,.08);
    position: relative;
    overflow: hidden;
}
.ribbons {
    min-width: 50%;
    max-width: calc(100% - 250px);
    border-right: 1px solid #eee;
    display: inline-block;
    min-height: 55px;
}
.ribbon.ribbon-spotlight {
    background: #000;
    color: #fff;
}
.extra-info .link-details {
    /* float: right; */
    position: relative;
    display: block;
    text-align: right;
}
.text-offer span {
    /* padding-top: 32px; */
    position: relative;
    display: block;
}
.text-offer {
        width: 40px;
    height: 40px;
    margin: auto;
    line-height: 13px;
    vertical-align: middle;
    padding: 10px 0;
}
.circle {
    border-radius: 50%;
    background: #ED66A6;
    width: 55px;
    height: 55px;
    /* text-align: center; */
    vertical-align: middle;
}
.extra-info {
    display: block;
    position: relative;
}

span.ribbon.ribbon-delivery {
    line-height: 14px;
}
.text-offer span {
    /* padding-top: 32px; */
    position: relative;
    display: block;
    font-size: 11px;
    text-transform: uppercase;
        color: #fff;
}
.stars {
    /* width: 86%; */
    display: inline-block;
    vertical-align: text-top;
}
.stars span {
    /* position: absolute; */
    color: #555;
    font-style: normal;
    /*padding-left: 7px;*/
    font-size: 12px;
    line-height: 20px;
}
.stars i {
    background-image: url(icons-stars.png);
    background-size: 185px 138px;
    width: 15px;
    height: 15px;
    overflow: hidden;
    text-align: left;
    display: inline-block;
}
.stars i {
    background-position: -20px -122px;
}
.extra-options .ratings {
    display: inline-block;
    width: 100px;
}
.extra-options .make-offer {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
    height: 100%;
}
/*.ribbon .ribbon-left {
    height: 100%;
    width: 10px;
    position: absolute;
    background: #fff;
    left: -5px;
    top: 0;
    border-radius: 50%;
    box-shadow: inset -2px 0px 1px -1px rgba(0,0,0,0.16), inset 0px 1px 0px rgba(0,0,0,.08);
}
.ribbon .ribbon-right {
    height: 100%;
    width: 10px;
    position: absolute;
    background: #fff;
    right: -5px;
    top: 0;
    border-radius: 50%;
    box-shadow: inset 1px -1px 0px -1px rgba(0,0,0,0.16), inset 0px 1px 1px rgba(0,0,0,.08);
}*/
.ribbon.sold {
    background: darkgray;
    color: #000;
}
.extra-options {
    display: inline-block;
    text-align: center;
    float: right;
}
a.post-advert:hover{
    background: orange !important;
    color: white !important;
}
.profile-picutre-big img{
    max-width: 200px;
    margin: auto;
    display: block;
}
.profile-name-big{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.left-message,.right-message {
    padding: 10px;
    min-height: 40px;
}
.message{
    padding: 8px;
    border-radius: 5px;
}
.right-message .message {
    float: right;
    background: #4a90e2;
    color: white;
}
.left-message .message {
    background: #555;
    color: white;
}
.main-search{
    margin-top: 15px;
}
.inline-block-div {
    display: inline-block;
}
.main-cat-div .form-control {
    width: 150px;
}
.category-title {
    line-height: 100px;
}
.main-search-div {
    margin: auto;
    max-width: 1000px;
}


.main-search-div {
    margin: auto;
    /*width: 800px;*/
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-first-div {
    width: 70%;
}
.main-q-div{
    width: calc(100% - 153px);
}
.main-second-div {
    width: 29%;
}
.main-location-div {
    width: calc(100% - 47px);
}
input#pac-input {
    width: 100%;
}
.main-q-div .form-control {
    /*width: 400px;*/
    width: 100%;
}
.ribbon.ribbon-shipping {
    /*background-color: green;*/
    background-color: #07E847;
}
.frame {
    width: 600px;
    height: 600px;
    position: relative;
}
.frame img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.single-image {
    position: relative;
    padding: 0px;
    padding-left: 10px;
}
.cross-mark {
    position: absolute;
    background: darkgray;
    color: white;
    padding: 4px;
    right: 0;
    cursor: pointer;
}
a.filter-button.btn.btn-default {
    float: right;
    margin-bottom: 5px;
    /*display: none;*/
}
a.nav-color {
    color: gray;
    text-decoration: none;
    font-weight: bold;
}
p.listing-description {
    max-height: 40px;
    overflow: hidden;
}
span.listing-location {
    font-weight: bold;
    font-size: 16px;
    display: block;
    width: calc(100% - 40px);
}
.copyright {
    /*position: fixed;
    bottom: 0;*/
    background: black;
    color: white;
    width: 100%;
}
a.red-color{
    text-decoration: none;
}
.user-badge {
    font-size: 30px;
    border: 3px solid;
    display: inline-block;
    padding: 4px;
    color: green;
    font-weight: bold;
}
strong.ribbon-job {
    background-color: #ff9d2c;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-weight: 700;
    width: 112px;
    padding: 3px 0;
    position: relative;
    font-size: 10px;
    /* -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    /* transform: rotate(-45deg); */
}
.link-details {
    padding: 10px 0 0 0;
    /* font-size: 13px; */
    font-weight: bold;
    display: inline-block;
}
.link-details a {
    color: #4a148c;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
strong.ribbon {
    background-color: #ff9d2c;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-weight: 700;
    top: 12px;
    left: -33px;
    width: 112px;
    padding: 3px 0;
    position: relative;
    font-size: 10px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.ribbon.urgent-span {
    background: red;
    color: white;
}
span.hide-visually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.listing-posted-date.txt-sub {
    float: right;
    text-align: right;
}
.txt-uppercase {
    text-transform: uppercase;
}
.txt-agnosticRed {
    color: #ec4231;
}
span.posted-text {
    text-align: right;
    color: gray;
    /*bottom: 0;
    right: 0;
    /* position: absolute; */
    float: right;
}
.favroite-icon {
    cursor: pointer;
    display: block;
    margin: 4px;
}

.favroite-icon-gold {
    color: gold;
}
.row.top-row {
    max-height: 30px;
    margin: 0;
}
.delete-icon{
    font-size: 30px;
    float: right;
    cursor: pointer;
    color: dimgrey;
}
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.items-box-body.listing-content {
    overflow: hidden;
}
.nopadding{
    padding: 0;
}
h4.items-box-name.font-2 {
    margin: 0;
}
h4.product-title {
    padding: 0;
    margin: 0;
    font-size: 20px;
    max-height: 40px;
    overflow: hidden;
    cursor: pointer;
    max-width: 80%;
    font-weight: bold;
    color: #000;
}
.nomargin{
    margin:0;
}
.custom-width{
    max-width: 50px;
}
span.product-price {
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.products {
    /*width: 76%;
    float: right;*/
    padding: 20px 0;
    margin-bottom: 20px;
}


li.list-group-item a {
    font-weight: bold;
}
.main-img {
    height: 150px;
    width: 150px;
    overflow: hidden;
}
.listing-side {
    width: 120px;
    position: relative;
    float: left;
}
.listing-side .listing-thumbnail{
    height: 110px;
}
.listing-side-big .listing-thumbnail-big{
    height: 450px;
}
.listing-side-big{
    width: 600px;
}
.listing-side .listing-thumbnail,.listing-side-big .listing-thumbnail-big {
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid #d8d6d9;
}
 .listing-thumbnail img,.listing-thumbnail-big img{
    width: auto;
    max-width: inherit;
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: block;
}
.listing-side .listing-meta,.listing-side-big .listing-meta {
    padding: 2px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
}
.info {
    position: relative;
    margin-left: 15px;
    width: calc(100% - 140px);
    float: left;
}
.info.margin-left {
    margin-left: 0;
    margin-top: 5px;
    width: 100%;
}
.favor {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    border: 1px solid #c0c0c0;
    text-align: center;
}
span.favor-text {
    font-size: 11px;
    position: relative;
    display: block;
}
.all-filters h4 {
    text-transform: uppercase;
}
.all-filters .list-group {
    background-color: #fff;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    position: relative;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.16), 0px 0px 1px rgba(0,0,0,.08);
}
.favroite-icon:before{
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: auto;
}

.heart-empty:before{
    background-image: url('icons/favor-empty-icon.svg');
}
.heart:before{
    background-image: url('icons/favor-icon.svg');
}
.all-filters li.list-group-item:last-child {
    padding-bottom: 0;
}
.center-text{
    text-align: center;
}
.product {
    min-height: 90px;
    /*padding-top: 15px;*/
    display: inline-block;
    width: 100%;
    /*padding-bottom: 15px;*/
}
.filter-container{
    position: relative;
    /*width: 20%;*/
    float: left;
    padding-top: 20px;
}
.filter-container h4 {
    margin-top: 0;
}
h4.items-box-head {
    margin-top: 0;
}
.all {
    max-width: 1400px;
    margin: auto;
}
.all:after {
    display: table;
    position: relative;
}
.top-bar {
    float: right;
    padding-right: 10px;
}
.search-alert-div {
    display: inline-block;
    float: left;
    width: 100%;
}
span.image-number {
    float: right;
    padding-left: 2px;
    padding-right: 5px;
    text-align: right;
}
.slick-prev:before, .slick-next:before {
    color: black;
}
ul.image-gallery-ul {
    cursor: -webkit-grab;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    table-layout: fixed;
}
.red-color {
    color: red;
}
.left-div-messages {
    width: 400px;
    float: left;
    overflow: auto;
    margin-bottom: 30px;
    padding: 10px;
    height: 100%;
}
.full-width {
    height: 70vh;
}
.right-div-messages {
    position: relative;
    float: left;
    width: calc(100% - 400px);
    height: 100%;
    padding: 10px;
}
.bottom-div-messages {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-right: 20px;
    margin-left: 20px;
}
.message-input-div {
    width: calc(100% - 60px);
    display: inline-block;
}
.message-send-div {
    width: 50px;
    display: inline-block;
}
ul.image-gallery-ul li {
    display: table-cell;
    height: 600px;
    vertical-align: middle;
    padding-right: 16px;
    text-align: center;
}
ul.image-gallery-ul li img {
     max-width: 100%;
    max-height: 100%;
}

.image-gallery {
    width: 600px;
    overflow: hidden;
    position: relative;
    margin: auto;
}
.all-filters {
    /*padding-left: 15px;*/
}
.carousel-control .glyphicon-circle-arrow-left, .carousel-control .icon-next {
    margin-right: -20px;
}
.carousel-control .glyphicon-circle-arrow-left, .carousel-control .icon-prev {
    margin-left: -10px;
}

.carousel-control .glyphicon-circle-arrow-left, .carousel-control .glyphicon-circle-arrow-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
}
.carousel-control .glyphicon-circle-arrow-left, .carousel-control .icon-prev {
    left: 50%;
    margin-left: -10px;
}
.carousel-control .glyphicon-circle-arrow-left, .carousel-control .glyphicon-circle-arrow-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
.carousel-control .glyphicon-circle-arrow-right, .carousel-control .icon-next {
    margin-right: -20px;
}
.carousel-control .glyphicon-circle-arrow-right, .carousel-control .icon-prev {
    margin-left: -10px;
}
.carousel-control .glyphicon-circle-arrow-right, .carousel-control .icon-prev {
    right: 50%;
    margin-left: -10px;
}
.main-location {
    width: 14.28%;
    float: left;
    height: 100px;
    border: 1px solid gray;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}
img.icon-small {
    height: 40px;
    margin-top: -10px;
    margin-left: 20px;
}
.main-category-link {
    position: absolute;
    bottom: 10px;
    right: 24px;
}
.all-menu-messages {
    max-height: 500px;
    overflow: auto;
    padding: 10px;
}
.all-menu-messages li a {
    color: blue;
    max-width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.all-menu-messages li {
    border-bottom: 1px solid lightgray;
}
.message-inside {
    padding-left: 20px;
}
.message-username {
    color: black;
    font-size: 12px;
    font-weight: bold;
}
.button__badge {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;
    padding: 1px 6px;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
.unread-message {
    font-weight: bolder;
}
.sold-picture{
    max-width: 200px;
}
.sold-div {
    padding: 20px;
}
span.message-time {
    font-size: 10px;
    font-weight: lighter;
}
span.day-seperator-text {
    background: #673AB7;
    color: white;
    padding: 4px;
    border-radius: 5px;
}
.day-seperator {
    text-align: center;
    margin-top: 10px;
}
.main-category {
    width: 14.28%;
    float: left;
    height: 100px;
    border: 1px solid gray;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}
a.select-link {
    right: 40px;
    position: absolute;
}
.bold-text {
    font-weight: bold;
}
.doc{
    display: block;
    margin: auto;
}
span.green-text {
    color: green;
    font-weight: bold;
}
.right-message span{
    float: right;
    margin-left: 10px;
    line-height: 35px;
}
a.message-back-button {
    display: none;
    color: black;
}
.favroite-icon:before {
        height: 30px;
        width: 30px;
}
.listing-description p {
    margin-bottom: 0;
}
@media (max-width: 1500px) {
    h4.product-title {
        font-size: 18px;
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
    }
}
@media (max-width: 1200px) {

    h4.product-title {
        font-size: 17px;
        max-height: 36px;
        overflow: hidden;
    }
    .listing-side-big .listing-thumbnail-big{
        height: 600px;
    }
    .listing-side-big{
        width: 600px;
    }
    ul.image-gallery-ul li{
        height: 600px;
    }
    .image-gallery {
        width: 600px;
    }
    .favroite-icon:before{
        height: 30px;
        width: 30px;
    }
}
@media (max-width: 1040px) {


    .listing-side-big .listing-thumbnail-big{
        height: 520px;
    }
    .listing-side-big{
        width: 520px;
    }
    .image-gallery {
        width: 520px;
    }
    ul.image-gallery-ul li{
        height: 520px;
    }
    .favroite-icon:before{
        height: 30px;
        width: 30px;
    }
}
@media (max-width: 900px) {
    h4.product-title {
        font-size: 16px;
        max-height: 32px;
        overflow: hidden;
        max-width: 70%;
    }
    .all-messages{
        max-height: calc(100% - 200px);
    }
    .bottom-div-messages{
        margin-bottom: 20px;
    }
    .left-div-messages{
        width: 100%;
    }
    .right-div-messages{
        width: 100%;
    }
    .right-div-room{
        display: block;
    }
    .left-div-room{
        display: none;
    }
    .right-div-noroom{
        display: none;
    }
    a.message-back-button {
        display: inline-block;
    }
    .left-div-noroom{
        display: block;
    }
    .full-width {
        height: auto;
    }
    .right-div-messages{
        height: 70vh;
    }
    .main-search-div{
        width: 100%;
    }
    /*.main-q-div{
        width : calc(100% - 150px);
    }
    .main-first-div{
        width: 50%;
    }
    .main-second-div{
        width:49%;
    }*/
    .main-location-div .form-control{
        width: 100%;
    }
    .main-q-div .form-control{
        width:100%;
    }
    .main-location-div {
        width: calc(100% - 48px);
    }
    .favroite-icon:before {
        height: 25px;
        width: 25px;
    }
}
@media (max-width: 767px) {
    .main-second-div,.main-first-div{
        display: block;
        width: 100%;
    }
    .messages-nav {
        display: none !important;
    }
    .bottom-div-messages{
        margin-bottom: 60px;
    }
    .all-filters {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        background: white;
        width: 100%;
    }
    .search-alert-div {
        width: auto;
        padding-left: 10px;
    }
    a.search-alert{
        display: block;
        margin-left: 0;
    }
    .filter-container{
        width: 100%;
        padding-left: 10px;
    }
    .products{
        width: 100%;
        padding: 10px;
    }
    span.listing-location {
        font-size: 13px;
        width: calc(100% - 40px);
    }
    h4.product-title {
        font-size: 15px;
        max-height: 30px;
        overflow: hidden;
        max-width: 60%;
    }
    .listing-description{
        display: none;
    }

    .product-price{
        display: block;
    }
    .listing-side-big .listing-thumbnail-big{
        height: 500px;
    }
    .listing-side-big{
        width: 500px;
    }
    .image-gallery {
        width: 500px;
    }
    ul.image-gallery-ul li{
        height: 500px;
    }
    .extra-options .make-offer{
        width: 55px;
    }
    .circle{
        width: 45px;
        height: 45px;
        margin: auto;
    }
    .text-offer{
        width: 35px;
        height: 35px;
        padding: 15px 0;
        line-height: 10px;
    }
    .text-offer span{
        font-size: 8px;
    }
    .ribbon {
        font-size: 9px;
        padding: 8px 3px;
        height: 30px;
        width: 70px;
        margin: 5px 5px 5px 0;
    }
    .ribbons{
        min-height: 45px;
    }
    span.ribbon.ribbon-delivery {
        line-height: 11px;
    }
}
@media (max-width: 400px) {
    h4.product-title {
        font-size: 14px;
        max-height: 30px;
        overflow: hidden;
        max-width: calc(100% - 40px);
        white-space: pre-wrap;
        height: auto;
    }
    .listing-max-pro{
        padding: 10px;
    }
    .info{
        margin-left: 10px;
    }
    .right-div-messages {
        height: 59vh;
    }
    .listing-side-big .listing-thumbnail-big{
        height: 350px;
    }
    .listing-side-big{
        width: 350px;
    }
    .image-gallery {
        width: 350px;
    }
    ul.image-gallery-ul li{
        height: 350px;
    }
}
@media (max-width: 320px){
    .extra-options .make-offer{
        display: block;
        width: 100%;
    }
    .extra-options .ratings{
        display: block;
        margin-top: 10px;
        width: 100%;
    }
    .extra-options{
        width: 49%;
    }
}
@media screen and (max-width: 1200px) {
    .heart:before{
        height: 30px;
        width: 30px;
    }
    .empty-heart:before{
        height: 30px;
        width: 30px;
    }
}

