@import url('/css/carousel-thumbnail.css?q=874');

.listings-adverts {
    border: 1px solid #ddd;
    /* display: table; */
    padding: 15px 5px;
    width: 100%;
}
.advert-img {
    height: 20rem;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    background: #ececec;
}
.advert-img img {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.advert-details {
    border: 1px solid #ccc;
    border-top-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}