@import url('/css/carousel-thumbnail.css?q=874');

/** similar adverts */
.listings-adverts {
    border: 1px solid #ddd;
    /* display: table; */
    padding: 15px 5px;
    width: 100%;
}
.advert-img {
    height: 20rem;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    background: #ececec;
}
.advert-img img {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.advert-details {
    border: 1px solid #ccc;
    border-top-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}
.similar-adverts h4 {
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: 2em;
    overflow: hidden;
    margin-bottom: 0;
}
.items-box-price {
    color: #ff8830;
}
/* end similar */

/* advert design*/
h2.item-name {
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-size: 23px;
    letter-spacing: 0;
    text-shadow: none;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
}
.location-name {
    padding-left: 0px;
}
.location-name>p {
    margin-left: 0px;
    font-size: 17px;
}
.items-box-price.font-5 {
    text-align: right;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
/** seller info **/
.buttons {
    margin-top: 0;
    border: 1px solid #ddd;
}
.details {
    padding: 15px;
    border-bottom: 1px dashed #dfdfe1;
}
.details h3, .share h3, .report h3, .similar-adverts h3 {
    font-size: 15px;
    padding-bottom: 1.3rem;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-weight: normal;
    text-align: left;
}
.profile-picutre {
    display: block;
    margin: 0 16px 8px 0;
    max-height: 141px;
    max-width: 141px;
}
.profile-picutre img {
    max-width: 100%;
    max-height: 122px;
    padding: 3px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 1px solid #bfbfbf;
    box-shadow: 0 0 1px #fff;
}
.user-details p {
    font-size: 13px;
    margin-bottom: 0;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
p.link-about {
    margin-bottom: 10px;
    text-align: center;
}
.link-about a.btn.btn-default, .link-about a.btn.btn-default:link {
    border-color: #000;
    padding-left: 35px;
    padding-right: 35px;
    background: #000;
    font-size: 13px;
    color: #fff;
}
.link-about .btn-default {
    width: 80%;
}
a.advert-user {
    padding-left: 36px;
}
.contact {
    padding: 15px;
    border-bottom: 1px dashed #dfdfe1;
    text-align: center;
}
.contact .btn-default {
    width: 80%;
}
.btn-default:link {
    color: #fff;
    background-color: #ff9d2c;
}
.list-group {
    margin-bottom: 0;
}
.list-group-item {
    padding: .8rem 0 1.6rem;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px dashed #dfdfe1;
}
.list-group-item:last-child {
    border-bottom: none;
}
.buttons span.glyphicon, .buttons .heart, .buttons .heart-empty {
    margin-right: 10px;
    color: #000;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}
.favroite-icon {
    margin: 0;
}
.email-icon {
    font-size: 18px;
    /* background: url(icons/email.svg); */
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
    padding-right: 3px;
}
span.email-icon img {
    width: 30px;
    height: 30px;
    margin-left: -5px;
}
.report a.btn-default {
    width: 80%;
}
.share {
    padding-bottom: 15px;
    border-bottom: 1px dashed #ccc;
}
.report {
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;
    text-align: center;
}
/** end seller **/
/* end advert */

/* reviews */
.reviews-ratings {
    padding: 0 15px 15px;
    margin-top: 15px;
}
.click-title {
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.click-title p {
    margin-bottom: 0;
}
.section-title {
    border: 1px solid #ccc;
    border-top: transparent;
}
.title {
    padding-left: 15px;
}
.reviews-ratings h3 {
    color: #262637;
    font-size: 15px;
    margin-top: 10px;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    margin-bottom: 0px;
}
.tab-buttons {
    padding-left: 0;
    padding-right: 0;
}
.btn-rate, .btn-review {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-left: 0;
    border-radius: 0;
    border-left-color: #ccc;
}
#make-review, #make-rate {
    display: none;
}
.content-reviews {
    border: 1px solid #ccc;
    border-bottom: transparent;
}
.border-top-transparent {
    border-top: transparent;
}
.ratings h1 {
    text-align: center;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
.reviews-count {
    color: #999;
    font-size: 12px;
    line-height: 117%;
    display: inline-block;
    font-weight: 200;
    width: 100%;
    margin-top: 5px;
    text-align: center;
}
.reviews-list {
    margin: 10px 0 0;
    padding-left: 10px;
}
.reviews-list li {
    display: inline-block;
    height: 20px;
    width: 100%;
}
.stars{
	text-align: center;
}
.reviews-item {
    display: block;
    text-decoration: none;
    height: 20px;
}
.reviews-item-l {
    float: left;
    margin-top: 3px;
}
.reviews-item-l p {
    font-size: 12px;
    color: #9b9b9b;
    line-height: 15px;
    margin: 0;
}
@media (min-width: 768px){
	.reviews-item-l {
	    width: 40%;
	}
}
@media (min-width: 992px){
	.rating-stars {
	    border-right: none;
	}
	.col-ratings {
    	padding-left: 15px;
    	padding-right: 15px;
	}
	.reviews-list li {
	    height: 20px;
	}
	.reviews-item-l {
	    width: auto;
	}
}
@media (min-width: 1200px){
	.col-ratings {
	    padding-left: 0px;
	    padding-right: 0px;
	}
}