@import url('/css/carousel-thumbnail.css?q=874');

/** similar adverts */
.listings-adverts {
    border: 1px solid #ddd;
    /* display: table; */
    padding: 15px 5px;
    width: 100%;
}
.advert-img {
    height: 20rem;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    background: #ececec;
}
.advert-img img {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.advert-details {
    border: 1px solid #ccc;
    border-top-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

/* end similar */

/* advert design*/
h2.item-name {
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-size: 23px;
    letter-spacing: 0;
    text-shadow: none;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
}
.location-name {
    padding-left: 0px;
}
.location-name>p {
    margin-left: 0px;
    font-size: 17px;
}
.items-box-price.font-5 {
    text-align: right;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
/** seller info **/
.buttons {
    margin-top: 0;
    border: 1px solid #ddd;
}
.details {
    padding: 15px;
    border-bottom: 1px dashed #dfdfe1;
}
.details h3 {
    font-size: 15px;
    padding-bottom: 1.3rem;
    margin-top: 0px;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
.profile-picutre {
    display: block;
    margin: 0 16px 8px 0;
    max-height: 141px;
    max-width: 141px;
}
.profile-picutre img {
    max-width: 100%;
    max-height: 122px;
    padding: 3px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 1px solid #bfbfbf;
    box-shadow: 0 0 1px #fff;
}
.user-details p {
    font-size: 13px;
    margin-bottom: 0;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
p.link-about {
    margin-bottom: 10px;
    text-align: center;
}
.link-about a.btn.btn-default, .link-about a.btn.btn-default:link {
    border-color: #000;
    padding-left: 35px;
    padding-right: 35px;
    background: #000;
    font-size: 13px;
    color: #fff;
}
.link-about .btn-default {
    width: 80%;
}
a.advert-user {
    padding-left: 36px;
}
.contact {
    padding: 15px;
    border-bottom: 1px dashed #dfdfe1;
    text-align: center;
}
.contact .btn-default {
    width: 80%;
}
.btn-default:link {
    color: #fff;
    background-color: #ff9d2c;
}
.list-group {
    margin-bottom: 0;
}
.list-group-item {
    padding: .8rem 0 1.6rem;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px dashed #dfdfe1;
}
.buttons span.glyphicon, .buttons .heart, .buttons .heart-empty {
    margin-right: 10px;
    color: #000;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}
.favroite-icon {
    margin: 0;
}
.email-icon {
    font-size: 18px;
    /* background: url(icons/email.svg); */
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
    padding-right: 3px;
}
span.email-icon img {
    width: 30px;
    height: 30px;
    margin-left: -5px;
}
/** end seller **/

/* end advert */
