@import url('/css/carousel-thumbnail.css?q=874');
section{
	font-family: Effra-Regular,arial,helvetica,sans-serif;
	line-height: 1.615;
}
h2.item-name, .jobs-apply h2, .field h2 {
    font-size: 19px;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    border: 0;
    margin: 0;
}
.job-container-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/css/job1-bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0 0 50px 0;
}
.bg-image{
    margin-top: 50px;
}
.job-container-bg h1{
    max-width: 800px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 38px;
    text-align: center;
    margin: 70px auto 60px auto;
    color: #fff;
    text-shadow: 2px 2px 10px #333;
}
.job-container-bg a{
    color: #fff;
}
.job-container-bg .btn-success{
    width: 250px!important;
    margin: 0 15px;
    font-size: 11px;
    border-radius: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #366ffb;
    border-color: #366ffb;
    padding: 10px 30px;
}
.field {
    margin-bottom: 12px;
}
.field-indicator-required {
    color: #BF210E;
    font-size: 8px;
}
[data-icon].icon-required:after, [data-icon].icon-before:before {
    /*font-family: 'mdgx-icons';*/
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    padding: 0 0 0 5px;
    color: inherit;
    font-style: normal;
}
[data-icon].icon-required:after, [data-icon].icon-before:before {
    display: inline-block;
    color: inherit!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.checkbox input[type="checkbox"]{
	float: left;
    padding: 0;
    margin: 0;
    width: auto;
    border: 1px solid;
    background-color: rgba(0,0,0,0.8);
    margin-top: 4px;
}
.field input, .field textarea {
    width: 100%;
    margin: 0;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ddd;
    font: inherit;
    color: #686868;
    background: #fff;
}
.field textarea {
    min-height: 150px;
}
.form-group {
    padding: 20px;
    margin-bottom: 0;
}
.h3{
	font-size: 15px;
	margin-bottom: 10px!important;
	margin-top: 0;
	font-family: Effra-Medium,arial,helvetica,sans-serif;
}
.upload-container {
    background: #fafafa!important;
    padding: 10px!important;
    margin-bottom: 5px!important;
    border-radius: 4px;
}
.form-group hr {
    margin: 15px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fafafa;
    border-left: 1px solid transparent;
}
.jobs-apply {
    padding: 10px!important;
}
.icon-before {
    margin-bottom: 12px;
}
.background-color{
	background: #eee;
}
.border-left-right, .border-top-left-right, .border{
	border-right: 1px solid #c9cfdd;
	border-left: 1px solid #c9cfdd;
}
.border-top, .border-top-left-right, .border{
	border-top: 1px solid #c9cfdd;
}
.border-bottom, .border{
	border-bottom: 1px solid #c9cfdd;
	/*margin-bottom: 10px;*/
	padding-bottom: 15px;
}
.border{
	padding-bottom: 0;
}
.cover-write{
	display: none;
	transition: opacity .25s ease;
	padding: 10px 0;
}
.cover-select{
	display: none;
	transition: opacity .25s ease;
	padding: 10px 0;
}
.active-cover{
	display: block;
}
.btn-form, .field .btn-form{
	background-color: #fff;
    border-color: #ff9d2c;
    color: #000;
}
.company-img {
    width: 240px;
}
.buttons-border {
    background-color: #fdfdfd;
    border: 1px solid #c9cfdd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 15px 10px 15px;
    float: left;
    width: 100%;
}
.buttons-border a {
    width: calc(98% / 5.1);
    height: 30px;
    float: left;
    border-right: 1px solid #c9cfdd;
    margin-right: 1px;
    padding-left: 10px;
    font: normal 13px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #337ab7;
    /* text-indent: 70px; */
}

.field .buttons-option-cover .btn-form {
    width: calc(98% / 2);
}
.buttons-filters a:last-child, .bottom-buttons a:last-child{
	border:none;
}
.bottom-border {
    background-color: #fdfdfd;
    border: 1px solid #ff9d2c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin: 0 0 15px 0;
}
.bottom-buttons a {
    width: 100%;
    height: 30px;
    /* float: left; */
    border-right: 1px solid #ff9d2c;
    /* border-radius: 0; */
    /* margin-right: 0px; */
    /* font-size: 13px; */
    color: #fff;
    /* text-indent: 70px; */
    padding-left: 20px;
    padding-right: 20px;
}
.breadcrumb {
    text-align: center;
    background-color: transparent;
}
.alerts {
    background: #eee!important;
    padding: 15px;
    border: 1px solid #c9cfdd;
    border-radius: 5px;
}
.alerts a {
    width: 40%;
    border-right: 1px solid #000;
    color: #000;
}
.alerts a:last-child{
	border:none;
}
.details{
	padding: 15px;
	border-bottom: 1px dashed #dfdfe1;
}
.profile-picutre img {
    max-width: 100%;
    max-height: 122px;
    padding: 3px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 1px solid #bfbfbf;
    box-shadow: 0 0 1px #fff;
}
.listings-adverts {
    border: 1px solid #ddd;
    display: table;
    padding: 15px 5px;
    width: 100%;
    background: #fff;
}
.listings-adverts a {
    display: table;
    width: 100%;
}
.tab-content {
    background: #fff;
}
.listings-adverts a:last-child {
    border: none;
}
.similar-adverts h4 {
    /*font-family: Effra-Medium,arial,helvetica,sans-serif;*/
    font-size: 13px;
    font-weight: normal;
    overflow: hidden;
    margin-bottom: 0;
}
/** is better other css common */
.similar-adverts h3, .details h3, .report h3, .share h3 {
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding-left: 15px;
    text-align: left;
}
.details h3{
	padding-left: 0;
	margin-top: 0;
}
.advert-details {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}
.advert-details p{
	color: #333;
	font-size: 12px;
}
.report {
    padding-bottom: 20px;
    text-align: center;
}
.report a.btn-default {
    width: 80%;
    border: 1px solid #ff9d2c;
}
.border-bottom-dashed {
    border-bottom: 1px dashed #ccc;
}
.field.button-submit {
    float: right;
}
.button-submit .btn-form {
    padding: 15px 30px;
    font-size: 120%;
    background: #ff9d2c;
    color: #fff;
}
.buttons-cloud .btn-form {
    width: calc(98% / 3);
}
.link-about {
    text-align: center;
}
.link-about a.btn.btn-default, .link-about a.btn.btn-default:link {
    border-color: #ff9d2c;
    background: #ff9d2c;
    font-size: 13px;
    color:#fff;
}
.buttons-alerts {
    background: #fafafa!important;
    padding: 5px 0;
}
.safe-jobs {
    padding-left: 0;
    padding-right: 0;
}
.back {
    padding: 8px 15px;
}
.prev-next {
    padding: 8px 15px;
    text-align: right;
}
.prev-next a {
    padding-left: 10px;
}
.job-details:after{
	clear: both;
}
.mapframe .btn-group {
    margin-bottom: 1.6rem;
}
#map, #pano {
    height: 470px;
    width: 100%;
}
/** move a other css */

.request-details {
    padding-top: 25px!important;
    padding-bottom: 25px!important;
    background-color: #262637;
    text-align: center;
}

.share {
    padding-bottom: 15px;
}
.info-pano{
	display: none;
}
.buttons {
    border: 1px solid #ccc;
    background: #fff;
}
.list-group {
    margin-bottom: 0;
}
.list-group-item {
    padding: .8rem 0 1.6rem;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px dashed #dfdfe1;
}
.list-group-item:last-child{
	border-bottom: 0;
}
span.email-icon img {
    width: 30px;
    height: 30px;
    margin-left: -5px;
}
.buttons span.glyphicon,.buttons .heart, .buttons .heart-empty {
    margin-right: 10px;
    color: #000;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle; 
}
.favroite-icon:before {
    width: 20px;
    height: 20px;
}
.favroite-icon{
	margin: 0;
}
.tab-pane {
    padding: 15px 15px 0 15px;
    border: 1px solid #ccc;
    border-top-color: transparent;
}
.location-name>p {
    margin-left: 0px;
    font-size: 17px;
}
.top-space {
    margin-top: 15px;
}
.location-name {
    padding-left: 0;
}
.buttons-alerts span {
    background: #ff9d2c;
    border: 1px solid #ff9d2c;
    padding: 10px;
    color: #fff;
    vertical-align: middle;
}
.buttons-border.last{
	border-top: transparent;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 15px;
}
.map-main {
    margin-bottom: 15px;
}
.description {
    margin-bottom: 15px;
}
.meta {
    margin: 0 0 1.4rem;
}
.meta-bold {
    font-size: 14px;
    font-weight: normal;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
}
.meta-info {
    padding-bottom: 4px;
    padding-top: 4px;
}
.bottom-buttons {
    background: #262637;
    width: 100%;
    padding-top: 25px!important;
    padding-bottom: 25px!important;
    text-align: center;
}
.nav-stacked>li+li {
    margin-top: 0;
}
.nav-pills>li>a {
    border: 1px solid #ccc;
    background-color: #f4f4f5;
    color: #333;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-size: 15px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    border-left: 2px solid #ff9d2c;
    background: #fff;
    color: #ff9d2c;
}
.btn-default, .btn-advertiser{
  color: #fff;
  background-color: #ff9d2c;
  border-color: #ff9d2c;
  /* text-align: center; */
  padding-left: 50px;
  padding-right: 50px;
  font-size: 17px;
  font-family: Effra-Medium,arial,helvetica,sans-serif;
  font-weight: normal;
  line-height: 29px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
}
.btn-advertiser{
  color:#fff;
  background-color: #000;
  border-color: #000;
  font-size: 13px;
  display: block;
  text-align: center;
  padding: 0;
}
.favroite-icon:before {
    width: 20px;
    height: 20px;
}
.favroite-icon {
    margin: 0;
}
.sidebar-content {
    position: relative;
    /* padding: 0 20px; */
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    line-height: 20px;
    color: #666;
}
.sidebar-content:first-child {
    margin-top: 10px;
}
.sidebar-content h3 {
    font-size: 16px;
    margin: 15px 0;
    border-bottom: 1px solid #f87964;
    padding-bottom: 15px;
}
.sidebar-content h3 {
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
}
.sidebar-content .useful-links {
    margin: 20px 0 30px;
    padding: 0;
}
.sidebar-content .useful-links li {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
}
.sidebar-content .useful-links i {
    width: 20px;
}
.sidebar-content .useful-links a {
    display: block;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 12px;
    color: #53b6d0;
}
.metadata-list .metadata-list-header {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
    margin: 15px 0 0;
    padding: 0;
    display: None;
}
.metadata-list {
    font-size: 15px;
    padding-left: 15px;
}
.sidebar-content .metadata-list {
    margin: 25px 0 20px;
}
.metadata-list .metadata-list-items {
    list-style: none;
    margin: 0;
    padding: 0;
}
.metadata-list .metadata-list-items>li {
    margin: 4px 0;
    padding: 0;
}
.metadata-list .metadata-list-items a {
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    color: #333;
}
.metadata-list .metadata-list-header::before{
    color: #ff9d2c;
}
.apply-buttons {
    padding: 40px 0;
}
.btn-apply {
    white-space: normal;
    width: 100%;
    /* height: 60px; */
    background: #366ffb;
    color: #fff;
    margin-bottom: 15px;
    border-radius: 25px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 30px;
}
.arrow-right {
    position: absolute;
    right: 10px;
    top: 15px;
}
.btn-send-friend {
    width: 100%;
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
    padding: 10px 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #f87964;
    display: inline-block;
    background-color: transparent;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #f87964;
    font-family: proximasemibold,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 11px;
    border-radius: 25px;
    letter-spacing: 1px;
}
.btn-send-friend:hover{
    color: #fff;
    background-color: #f87964;
}
.job-container-bg .btn-apply{
    width: auto;
}
.btn-build-cv {
    width: 100%;
    padding: 10px 12px;
    background: #f87964;
    color: #fff;
    border-radius: 25px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 11px;

}
.create-profile-container{
    margin: 15px 0;
}
.create-profile-container .btn-success{
    width: 100%;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 10px 12px;
    margin-top: 10px;
}
@media (max-width: 991px){
    .job-container-bg h1{
        margin: 30px auto;
        font-size: 30px;
    }
    .job-container-bg .btn-success{
        width: 190px!important;
    }
    .bottom-buttons a{
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 767px){
	.form-group {
    	padding: 15px 0;
    }
    .bottom-buttons a{
    	margin-left: 0;
    	margin-right: 0;
    }
    .bottom-buttons .col-md-3:not(:last-child) a{
    	margin-bottom: 15px;
    }
    .border-bottom{
    	margin-bottom: 0;
    }
    .buttons-cloud .btn-form {
    	width: 100%;
	}
	.buttons-cloud .btn-form:not(:last-child){
		margin-bottom: 15px;
	}
	.field .buttons-option-cover .btn-form {
		width: 100%;
	}
	.field .buttons-option-cover .btn-form:not(:last-child) {
		margin-bottom: 15px;
	}
	.buttons-alerts span, .alerts a {
		width: calc(100% - 20px);
	}
	.alerts a:not(last-child){
		margin-bottom: 15px;
	}
	.alerts a, .alerts a:last-child {
    	border: 1px solid #ff9d2c;
    	margin-left: 10px;
    	margin-right: 10px;
    	background: #fff;
	}
	.buttons-alerts span{
		color: #ff9d2c;
		background-color: transparent;
		border: none;
	}
	#map, #pano {
	    height: 370px;
	}
	.request-details a {
	    width: calc(100% - 30px);
	    padding-left: 20px;
	    padding-right: 20px;
	    margin-left: 10px;
	    margin-right: 10px;
	}
	.request-details a:not(:last-child){
		margin-bottom: 15px;
	}
	.btn-advertiser{
		padding-left: 15px;
    	padding-right: 15px;
	}
	.tab-pane{
		padding-bottom: 0px;
	}
    .job-container-bg h1{
        font-size: 20px;
    }
    .job-container-bg .ctas{
        padding: 0 15px;
    }
    .col-xs-12{
        padding-left: 15px;
        padding-right: 15px;
    }
    .btn-apply{
        height: auto;
    }
    .col-sm-3:not(:last-child) a {
        margin-bottom: 15px;
    }
    .nav-pills>li:not(:first-child)>a {
        border-radius: 0;
    }
    .nav-pills>li:first-child > a{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .job-container-bg h1{
        font-size: 20px;
    }
}
@media screen and (min-width: 768px){
	.job-criteria {
	    width: 130px;
	    float: left;
	    padding: 0 10px 2px 20px;
	    text-align: right;
	    font: 13px 'Open Sans', Arial, Helvetica, sans-serif;
	    color: #444;
	}
	.job-detail {
	    width: calc(100% - 130px);
	    float: left;
	    padding: 0 20px 2px 10px;
	    font: 13px 'Open Sans', Arial, Helvetica, sans-serif;
	    color: #000000;
	    border-left: 1px solid #c9cfdd;
	    position: relative;
	    min-height: 20px;
	}
	.job-detail:last-child {
    	padding-bottom: 20px;
    	margin-bottom: 10px;
	}
	.job-title .job-detail:last-child {
    	padding-bottom: 0;
    	margin-bottom: 0;
	}
	.job-title>.job-criteria {
    	padding-top: 4px;
	}
	.buttons-border a:last-child {
    	border: none;
	}
    .sidebar-content:first-child {
        margin-top: 20px;
    }
    .metadata-list .metadata-list-header {
        display: block;
    }
    .metadata-list .metadata-list-items a {
        color: #53b6d0;
        font-size: 12px;
    }
    .metadata-list .metadata-list-header::before {
        content: ' \25CF';
        position: absolute;
        margin-left: -15px;
        text-align: left;
        width: 15px;
    }
}
@media screen and (min-width: 992px){
	.request-details .btn-default {
	    width: 180px;
	    padding-left: 30px;
	    padding-right: 30px;
	}
	.bottom-buttons a {
		margin-bottom: 0;
	}
    .sidebar-content h3{
        font-size: 14px;
    }
}
@media screen and (min-width: 1200px){
	.request-details .btn-default {
    	width: 200px;
	}
    .sidebar-content h3{
        font-size: 16px;
    }
    .metadata-list .metadata-list-items a {
        font-size: 14px;
    }
    .sidebar-content .useful-links a{
        font-size: 14px;
    }

}