.container-buttons {
    padding-top: 25px!important;
    padding-bottom: 25px!important;
    background-color: #262637;
    text-align: center;
    margin-bottom: 1.6rem;
}
.btn-default, .btn-default:link {
    color: #fff;
    background-color: #ff9d2c;
    border: 1px solid #ff9d2c;
}