.invoice-details ul {
    list-style: none;
    padding-left: 0;
}
.invoice-details li {
    width: 100%;
    display: table;
}
.details-l{
	background: #ddd;
}
.details-l, .details-r {
    width: 49%;
    display: inline-block;
    border: 1px solid #eee;
    line-height: 26px;
    padding-left: 10px;
}
.seller-name {
    margin-top: 0px;
}
.invoice-container {
    border: 1px solid #ccc;
    margin-top: 15px;
    padding: 15px;
}
.cell-amount {
    width: 20%;
    text-align: right;
}
.items{
	width: 100%;
}