.pay-methods {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-clip: padding-box;
}
.pay-methods fieldset {
    width: 100%;
}
.pay-method {
    padding: 15px;
    clear: both;
    border-bottom: 1px solid #ccc;
}
.col-l-p {
    width: 47%;
    display: inline-block;
    vertical-align: middle;
}
.col-l-p .radio-l, .col-l-p .radio-r {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.col-l-p .radio-l {
    width: 15%;
    max-width: 35px;
}
.col-l-p .radio-r {
    width: 85%;
}
.pay-methods input[type=radio] {
    position: absolute;
    opacity: 0;
    z-index: 2;
    margin: 3px .5ex;
    padding: 0;
    cursor: pointer;
}
.custom-radio {
    position: relative;
    margin-right: 30px;
    cursor: pointer;
}
.custom-ctr {
    margin-right: 30px;
    position: relative;
}