.pay-methods {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-clip: padding-box;
}
.pay-methods fieldset {
    width: 100%;
}
.pay-method {
    padding: 15px;
    clear: both;
    border-bottom: 1px solid #ccc;
}