.pay-methods {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-clip: padding-box;
}
.pay-methods fieldset {
    width: 100%;
}
.pay-methods legend {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal;
}
.pay-method {
    padding: 15px;
    clear: both;
    border-bottom: 1px solid #ccc;
}
.col-l-p {
    width: 47%;
    display: inline-block;
    vertical-align: middle;
}
.col-l-p .radio-l, .col-l-p .radio-r {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.col-l-p .radio-l {
    width: 15%;
    max-width: 35px;
}
.col-l-p .radio-r {
    width: 85%;
}
.pay-methods input[type=radio] {
    position: absolute;
    opacity: 0;
    z-index: 2;
    margin: 3px .5ex;
    padding: 0;
    cursor: pointer;
}
.custom-radio {
    position: relative;
    margin-right: 30px;
    cursor: pointer;
}
.custom-ctr {
    margin-right: 30px;
    position: relative;
}
.custom-radio::before, .custom-radio::after {
    border-radius: 50%;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
}
.custom-ctr::before {
    border: 1px solid #aaa;
}
.custom-ctr::before, .custom-ctr::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
}
input[type="radio"]:checked+.custom-ctr::before, input[type="radio"]:checked+.custom-ctr::after {
    -webkit-animation: bounce .3s;
    animation: bounce .3s;
}