.container-profile-header {
    padding: 120px 0;
    height: 300px;
    background: url(/css/green.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.container-profile-header:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}
.container-details-profile, .container-looking-for-options, .container-status-availability, .container-work-experience, .container-task-can-help, .container-additional-information, .container-work-publications, .container-qualifications {
    background: #EBEBEB;
}
.container-templates-options, .container-details-profile, .container-looking-for-options, .container-cvs, .container-status-availability, .container-cover-letter, .container-work-experience, .container-task-can-help, .container-other-information, .container-languages, .container-additional-information, 
.container-work-publications, .container-portfolio, .container-qualifications, .container-skills{
	padding: 70px 0;
}
.services .service {
    padding: 6px 10px;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}
.services .service a {
    color: #323524;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    text-decoration: none;
}
.services .service.active {
    padding: 6px 10px;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #6001d2;
    border-color: #6001d2;
}
.services .service.active a{
    color: #fff;
}
.task input[type=radio]{
    opacity: .011;
    -ms-filter: alpha(opacity=0.011);
    filter: alpha(opacity=0.011);
    -moz-opacity: .011;
    -khtml-opacity: .011;
    z-index: 100;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 1
}
.what .description{
    margin-top: 0;
}
.qualifications-container, .publications-container, .experience-container{
    position: relative;
}
.qualification .delete, .qualification .edit, .publication .edit, .publication .delete, .work .edit, .work .delete {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
}
.qualification .delete, .publication .delete, .work .delete {
    right: 30px;
}
.dropbox-dropin-btn{
    display: none !important;
}
.task label{
    background: url(/css/empty-star.png);
    background-size: cover;
    overflow: hidden;
    text-align: left;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 3px;
    cursor: pointer;
    float:right;
}
.task label:hover, .task label:hover ~ label, .task input[type=radio]:checked ~ label{
    background: url(/css/star.png);
    background-size: cover;
}
.template-content {
    height: 300px;
    width: 250px;
    margin: auto;
    background: #fff;
    cursor: pointer;
}
.template-content.selected, .template-content:hover{
	-webkit-box-shadow: 0 0.26667rem 0.8rem 0 rgba(0, 0, 20, 0.25);
    box-shadow: 0 0.26667rem 0.8rem 0 rgba(0, 0, 20, 0.25);
}
.container-templates-options, .container-cvs, .container-cover-letter, .container-languages, .container-other-information, .container-portfolio, .container-skills {
    background-color: #f5f5f5;
}
.btn-info, .btn-info:hover {
    background: #2866f6;
    border-color: #2866f6;
    font-size: 20px;
    padding: 15px;
} 
.header-profile-title {
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-weight: normal;
    word-spacing: 8px;
}
.details-profile-title {
    margin-top: 0;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-weight: normal;
    margin-bottom: 0;
    letter-spacing: 3px;
    color: #000;
    text-transform: uppercase;
}
.details-profile-subtitle {
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    margin-bottom: 20px;
}
.details-item {
    font-size: 13px;
    margin:0;
}
.details-item.name {
	font-family: Effra-Medium,arial,helvetica,sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: normal;
    font-family: inherit;
    line-height: 1.2;
    margin: 0;
    letter-spacing: initial;
}
.details-item.title-job{
	margin-bottom: 10px;
}
.template-options-title {
    margin-top: 0;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 26px;
    color: #000;
    letter-spacing: 2px;
    text-transform: UPPERCASE;
}
.template-item-title {
    text-align: center;
    font-size: 20px;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    color: #000;
}
.skill-add {
    border-bottom: 1px solid #d6d6d6;
}
.section-header .title {
    font-size: 1.3333333333em;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.section-header .action {
    position: static;
    float: right;
    opacity: 1;
    margin-top: 5px;
    right: 0;
    top: 0;
    font-size: 15px;
}
.content {
    padding: 15px;
}
.content .title {
    color: #000;
    font-size: 18px;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    margin-top: 0;
    padding-left: 0;
}
.content ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.wrapper-details-content {
    padding-top: 10px;
}
.wrapper-img-profile {
    position: relative;
}
.edit-avatar{
	position: absolute;
    height: 40px;
    width: 40px;
    bottom: -11px;
    right: -12px;
    background: #2866f6;
    padding: 9px 12px;
    border-radius: 50%;
    font-size: 18px;
}
.edit-avatar a{
	color: #fff;
}
.add-first {
    text-align: center;
    margin: auto;
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 16px;
}
.section-header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 0.5em;
}
.change-avatar {
    color: #fff;
}
.sub-contractor {
    background: url(/img/sub-contractor.png);
    background-size: 100% 100%;
}
.img-profile {
    margin-left: auto;
}
.back-link{
	padding: 7.5px 15px;
}
.back-link a {
    font-size: 15px;
}
.back-link a>i {
    margin-right: 7.5px;
}
.section {
    background: #fff;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    border-left: none;
    border-right: none;
    padding: 15px;
    position: relative;
    margin-bottom: 15px;
    height: 100%;
}
.current-role {
    margin-top: 30px;
}
.upload-options li {
    background-color: transparent;
    color: #4990c7;
    border: 1px solid #4990c7;
    -webkit-transition: border-color .3s ease-in,color .2s ease-in;
    transition: border-color .3s ease-in,color .2s ease-in;
    border: 1px solid;
    border-radius: 4px;
    margin: 15px 0;
    position: relative;
    cursor: pointer;
    line-height: 0;
}
.upload-options>ul li:first-child {
    margin-top: 0!important;
}
.upload-options ul {
    overflow: hidden;
    margin: 15px auto!important;
    max-width: 580px;
}
.upload-option {
    display: block;
    text-align: left;
    padding: 10px 0;
    color: #0079d6;
    cursor: pointer;
    border-radius: 4px;
}
.upload-options>ul {
    margin-top: 10px!important;
    margin-bottom: 0!important;
}
.upload-options input[type=file] {
    position: absolute;
    border: solid transparent;
    opacity: 0;
    direction: ltr;
    cursor: pointer;
    margin: 0;
    font-size: 50px;
    border-width: 0;
    right: 7px;
    top: -1px;
    height: 85%;
}
.upload-option:before {
    content: '';
    text-indent: -999em;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin-right: 15px;
}
.upload-option.device:before {
    width: 44px;
    height: 44px;
    background-position: -810px -810px;
}
.upload-option.googledrive:before {
    width: 44px;
    height: 44px;
    background-position: -360px -720px;
}
.upload-option.onedrive:before {
    width: 44px;
    height: 44px;
    background-position: -720px -90px;
}
.upload-option.dropbox:before {
    width: 44px;
    height: 44px;
    background-position: -540px -810px;
}
.upload-option.device:before {
    background-size: 1230px 1230px;
    -webkit-background-size: 1230px 1230px;
    background-repeat: no-repeat;
    background-image: url(/css/icon-sprite.svg);
}
.upload-option.googledrive:before {
    background-size: 1230px 1230px;
    -webkit-background-size: 1230px 1230px;
    background-repeat: no-repeat;
    background-image: url(/css/icon-sprite.svg);
}
.upload-option.onedrive:before {
    background-size: 1230px 1230px;
    -webkit-background-size: 1230px 1230px;
    background-repeat: no-repeat;
    background-image: url(/css/icon-sprite.svg);
}
.upload-option.dropbox:before {
    background-size: 1230px 1230px;
    -webkit-background-size: 1230px 1230px;
    background-repeat: no-repeat;
    background-image: url(/css/icon-sprite.svg);
}
.cv-searchable {
    font-size: 90%;
    background: #f5f7fa;
    border-top: 1px solid #d6d6d6;
    margin: 0 -15px;
    padding: 15px;
}
.cv-searchable {
    background: 0 0;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cv-searchable .checkbox {
    margin: 0;
}
.cv-searchable>.checkbox>input+label {
    padding-left: 32px;
}
.checkbox input[type=checkbox]{
    border: 0 none;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: 8px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.language-row .form-right .form-group{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-left: 15px;
}
.language-row .form-group:first-child{
    margin-left: 0;
}
.language-row .form-group .radio{
    position: relative;
}
.radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: 10px;
}
.radio-inline>input~label {
    position: static;
}
.language-row .form-group label:before, .radio-inline>input~label:before{
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 1230px 1230px;
    -webkit-background-size: 1230px 1230px;
    background-repeat: no-repeat;
    background-image: url(/css/icon-sprite.svg);
    background-position: -1110px -780px;
}
fieldset[class*=-option] {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.language-row .form-group input[type=radio]:checked ~ label:before, .radio-inline>input:checked ~label:before{
    width: 18px;
    height: 18px;
    background-position: -1110px -840px;
    background-size: 1230px 1230px;
    -webkit-background-size: 1230px 1230px;
    background-repeat: no-repeat;
    background-image: url(/css/icon-sprite.svg);
}
.language-row .form-group input[type=radio], .radio-inline input[type=radio]{
    border: 0 none;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: 8px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    top: 5px;
}
.edit-avatar i {
    color: #fff;
}
.section-skill {
    padding: 15px 0;
}
.update-form-group {
    margin-top: 15px;
}
.looking-for-edit section[class^=section-] {
    position: relative;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.looking-for-edit .header {
    padding: 0;
}
.looking-for-edit section[class^=section-] .title {
    margin-bottom: 0;
    font-size: 2rem;
}
.looking-for-edit .header {
    padding: 0;
}
.twitter-typeahead {
    display: block!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 2.8rem;
    margin: 0;
    background: #fff;
}
.looking-for-edit .form-field .validation {
    display: none;
}
.looking-for-edit .salary {
    position: relative;
    padding-left: 30px;
    display: inline-block;
    max-width: 130px;
}
.looking-for-edit .pound-sign {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 28px;
    font-weight: 700;
}
.specialism-selector .more-specialism-actions {
    margin-top: 15px;
}
.specialism-selector .selected-specialisms .specialism-details {
    margin: 0 0 7.5px 0;
    background: #f5f7fa;
    color: #0079d6;
    padding: 7.5px 15px;
    border-radius: 4px;
}
.looking-for-edit .section-locations .locations {
    list-style: none;
    margin: 0 0 15px 0;
    position: relative;
}
.looking-for-edit .section-locations .locations li {
    padding-bottom: 7.5px;
    padding-right: 60px;
}
.looking-for-edit .section-locations .location-remove {
    color: #0079d6;
    cursor: pointer;
    position: absolute;
    right: 0;
}
.specialism-selector .selected-specialisms .data {
    padding: 15px 15px 15px 0;
}
.specialism-selector .selected-specialisms .name {
    font-weight: 600;
}
.tt-dataset {
    display: none;
}
.specialism-selector .edit-specialism-actions {
    padding-right: 0;
    text-align: right;
}
.looking-for-edit .section-job-type .checkbox {
    padding-bottom: 15px;
}
.looking-for-edit .checkbox input[type=checkbox] {
    margin: 3px;
}
.specialism-selector .edit-specialism-actions .edit, .specialism-selector .edit-specialism-actions .remove {
    display: inline-block;
    cursor: pointer;
    padding: 15px;
    vertical-align: middle;
}
.specialism-selector .edit-specialism-actions .edit {
    color: #0079d6;
}
.looking-for-edit .section-locations .add-location {
    margin-bottom: 0;
}
.looking-for-edit .inline-input {
    position: relative;
    vertical-align: top;
    margin-top: 1px;
    width: auto;
    display: inline-block;
}
.looking-for-edit .section-locations .location-container .inline-input {
    max-width: 181px;
    margin-right: 15px;
}
.location-container .location-link {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 50%;
}
.location-container .location-link {
    margin-top: -8px;
}
.looking-for-edit .section-locations .location-link {
    right: 3px;
    top: 18px;
    font-size: 20px;
}
.btn-secondary {
    background: #ff9d2c;
    color: #fff;
}
.specialism-selector .add-specialism-container .info-sector {
    margin: 15px 0;
    font-weight: 600;
}
.specialism-selector .warning {
    color: #d23a34;
    font-weight: 600;
    padding-bottom: 15px;
}
.steps-container {
    max-width: 638px;
    margin: 0 auto;
}
.steps {
    box-sizing: border-box;
    list-style: none;
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    background: 0 0;
}
.steps:after, .steps:before {
    content: " ";
    display: table;
}
.steps .step {
    position: relative;
    box-sizing: border-box;
    display: block;
    float: left;
    height: 6.4px;
    background: #eaeaea;
    margin: 40px 0;
    padding: 0;
    text-align: center;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.steps .step-current {
    border-color: #ff9d2c;
    background: #ff9d2c;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.steps .step-done {
    border-color: #ff9d2c;
    background: #ff9d2c;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.steps .step:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.steps .step:first-child:nth-last-child(4), .steps .step:first-child:nth-last-child(4)~li {
    width: 25%;
}
.steps .step:before {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    display: block;
    content: '';
    border-radius: 50%;
    border: 4px solid #eaeaea;
    background: #a4a4a4;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: -webkit-calc(50% - 8px);
    left: calc(50% - 8px);
    margin-top: -8px;
}
.steps .step-current:before {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    display: block;
    content: '';
    border-radius: 50%;
    border: 4px solid #ff9d2c;
    background: #fff;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: -webkit-calc(50% - 8px);
    left: calc(50% - 8px);
    margin-top: -8px;
}
.steps .step-done:before {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    display: block;
    content: '';
    border-radius: 50%;
    border: 4px solid #ff9d2c;
    background: #fff;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: -webkit-calc(50% - 8px);
    left: calc(50% - 8px);
    margin-top: -8px;
}

.cvbuilder-personal-details-title {
    color: #333;
    margin-bottom: 0;
    text-align: center;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
.steps .step>span {
    position: absolute;
    display: inline-block;
    top: -30px;
    left: 0;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.steps .step .sign {
    opacity: 0;
    width: 0;
    height: 0;
}
.steps .step-done .sign {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    opacity: 1;
    height: 16px;
    width: 100%;
}
.steps .step .name {
    font-size: .8666666667rem;
    top: auto;
    bottom: -28px;
    color: #a4a4a4;
}
.steps .step .sign:before {
    content: '';
    text-indent: -999em;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: 17px;
    height: 13px;
    background-position: -1170px -300px;
}
.steps .step .sign:before {
    background-size: 1230px 1230px;
    -webkit-background-size: 1230px 1230px;
    background-repeat: no-repeat;
    background-image: url(/css/icon-sprite.svg);
}
[class*="cvbuilder-"] .section-title {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}
[class*="cvbuilder-"] .section-title h2{
    position: relative;
    z-index: 1;
    font-size: 1.4em;
    text-transform: none;
    display: inline-block;
    background: #fff;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    text-transform: uppercase;
}
.confirm-work-experience-button {
    margin-left: 10px;
}
.work-experience-form-title, [class*=-form-title]{
    font-weight: 700;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
.actions-btns-cv-builder{
    margin-top: 20px;
}
.work-experience-details .content{
    border-bottom: 1px solid #ccc;
}
.work-experience .work .what {
    padding: 0;
}
.work-experience .work .title {
    font-weight: 700;
}
.work-experience .company, .work-experience .description, .work-experience .title {
    word-wrap: break-word;
}
.work-experience .description, .work .description{
    margin-top: 0;
}
.cvbuilder-work-experience .visual-container, .cvbuilder-qualifications .visual-container{
    padding: 30px 90px;
}
.work-experience, .qualifications {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.work-experience .work, .qualification {
    position: relative;
    padding-bottom: 15px;
    margin: 0 0 15px 0!important;
    border-bottom: 1px solid #d6d6d6;
}
.work-experience .work .delete, .work-experience .work .edit, .qualification .delete, .qualification .edit {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
}
.work-experience .work .delete, .qualification .delete {
    right: 30px;
}
.body.background-body {
    min-height: calc(100vh - 72px);
}
.availability-tab .table-bordered>tbody>tr>td:not(.active) {
    background: #fff;
}
.ui-rating {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
}
.ui-rating .rating-star {
    float: left;
    width: 15px;
    height: 15px;
    background-size: cover;
    vertical-align: bottom;
    text-decoration: none;
}
.ui-rating .rating-star-full {
    background-image: url(/css/star.png);
}
.ui-rating .rating-star-empty {
    background-image: url(/css/empty-star.png);
}
input[type=checkbox]~label {
    position: relative;
}
input[type=checkbox]+label:before, .canvas input[type=checkbox]~label:before{
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 0;
}
input[type=checkbox]~label:before {
    background-size: 1230px 1230px;
    -webkit-background-size: 1230px 1230px;
    background-repeat: no-repeat;
    background-image: url(/css/icon-sprite.svg);
    background-position: -1170px -1080px;
}
input[type=checkbox]:checked~label:before {
    width: 16px;
    height: 16px;
    background-position: -900px -990px;
    background-size: 1230px 1230px;
    -webkit-background-size: 1230px 1230px;
    background-repeat: no-repeat;
    background-image: url(/css/icon-sprite.svg);
}
.qualification-edit .section{
    border: 0;
    margin: 0;
    padding: 0;
}
.qualification-edit{
    border-bottom: 1px solid #ccc;
}
.container-cover-letter .description{
    margin-top:0;
}
.current-cv {
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 20px;
}
.cv-details .actions, .cv-details .cv-name, .cv-details .cv-uploaded {
    display: block;
}
.cv-details .cv-name {
    font-weight: 700;
    word-wrap: break-word;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
.cv-details .actions {
    margin-top: 20px;
    font-size: 0;
}
.cv-details .actions a i {
    margin-right: 7.5px;
}
.cv-details .actions a {
    font-size: 14px;
}
.cv-details .actions a:first-child{
    margin-right: 10px;
}
.cv-confirmation-area {
    padding: 20px 30px;
    min-height: 100px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.icon {
    content: '';
    text-indent: -999em;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.icon-cv{
    width: 66px;
    height: 91px;
    background-size: 1230px 1230px;
    -webkit-background-size: 1230px 1230px;
    background-repeat: no-repeat;
    background-image: url(/css/icon-sprite.svg);
    background-position: -300px -90px;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
}
.cv-confirmation-area .cv-information {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.card {
    width: 100%;
    background-color: #fff;
    border-top: 3px solid #ff9d2c;
    box-shadow: 0 0 4px 0 rgba(56,56,56,0.2);
    box-sizing: border-box;
}
.profile-apps-jobs {
    width: 100%;
    background-color: #fdfdfd;
    border-bottom: 1px solid #dfdfdf;
    margin: 0;
}
.profile-apps, .profile-jobs {
    padding: 12px 0;
    text-align: center;
    box-sizing: border-box;
}
.profile-jobs {
    border-right: 1px solid #dfdfdf;
}
.profile-apps span, .profile-jobs span {
    display: block;
    color: #333;
    font: 600 24px/22px Effra-Medium,arial,helvetica,sans-serif;
}
.card .profile {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}
.select-profile{
    margin-top: 50px;
    font-size: 20px;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    color: #000;
}
#languages-edit .language-row {
    clear: both;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    margin-left: 0!important;
    margin-right: 0!important;
}
.language-row:first-child {
    margin-top: 10px;
}
.add-language {
    margin-top: 15px;
}
.portfolio-img {
    height: 150px;
    position: relative;
}
#image{
    position: absolute;
    top: 0;
    width: 100%;
    height:100%;
    opacity: 0;
}
.image-block{
    width: 100%;
    height: 100%;
    background: rgba(243,246,248,.94);
    overflow: hidden;
    position: relative;
}
.icon-add-image:before {
    content: '';
    position: absolute;
    background: url(/css/add-image.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.icon-add-image {
    height: 100%;
    width: 100%;
}
.image-block img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-images {
    padding-bottom: 30px;
}
.circle.action {
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: #fff;
    width: 40px;
    height: 40px;
    padding: 12px;
    color: #337ab7;
    cursor: pointer;
}
.employment-status .title{
    padding-left: 0;
}
.lozenge {
    display: inline-block;
    padding: 4px 14px 4px;
    margin: 0 10px 10px 0;
    background: #eaeaea;
    border-radius: 12px;
}
.skills-list {
    margin: 0;
    padding: 0;
    list-style-position: outside;
}
.existing-skills {
    margin: 0 0 15px;
}
.existing-skills .skill{
    color: #333;
    position: relative;
    border-radius: 20px;
}
.existing-skills .skill:hover{
    text-decoration: line-through;
}
.skill i{
    padding: 0 0 0 15px;
    vertical-align: text-top;
}
.form-group .validation {
    display: none;
}
.form-group.input-validation-error .validation {
    display: block;
    font-size: 1rem;
    color: #d23a34;
    margin-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 42px;
    min-height: 2.8rem;
    padding: 7.5px 15px;
    border: 1px solid #d23a34;
    background-color: #fcefee;
    vertical-align: middle;
    position: relative;
}
.form-group.input-validation-error .validation:after, .form-group.input-validation-error .validation:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: 1;
    top: -14px;
    left: 15px;
    border: 7px solid transparent;
    border-bottom-color: #d23a34;
}
.form-group.input-validation-error .validation:after {
    z-index: 2;
    border: 6px solid transparent;
    border-bottom-color: #fcefee;
    top: -12px;
    left: 16px;
}
@media screen and (min-width: 768px){
	.container-looking-for-options .content .col-sm-6:first-child {
	    padding-left: 0!important;
	    margin-bottom: 0;
	    border-bottom: none;
	    border-right: 1px solid #d6d6d6;
	}
	.alerts{
		padding-top: 15px;
	}
	.back-link {
    	padding: 30px 15px 7.5px 15px;
	}
	.section {
	    border-radius: 4px;
	    border: 1px solid #d6d6d6;
	    padding: 30px;
	}
	.upload-options li {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    overflow: hidden;
	    -webkit-tap-highlight-color: transparent;
	    margin: 0;
	    padding-left: 0!important;
	    padding-right: 0!important;
	    background: 0 0!important;
	    position: relative;
	    border: none;
	    -webkit-transition: none!important;
	    transition: none!important;
	}
	.upload-options li:nth-child(odd) {
	    clear: both;
	    padding-left: 0!important;
	    padding-right: 7.5px!important;
	}
	.upload-option {
	    border: 1px solid #d6d6d6;
	    color: #333;
	    margin-bottom: 15px;
	}
	.upload-options ul {
	    margin: 30px auto!important;
	}
	.upload-option:before {
	    margin: 0 30px 0 15px;
	}
	.cv-searchable {
	    background: 0 0;
	    margin: 0;
	    padding: 0;
	    padding-top: 15px;
	}
    .section-skill {
        padding: 30px 0;
    }
	.cv-searchable .checkbox {
	    margin-bottom: 0;
	}
	.looking-for-edit .header {
	    text-align: right;
	    padding-right: 15px;
	}
	.looking-for-edit .header {
    	text-align: right;
    	padding-right: 15px;
	}
	.looking-for-edit .salary {
    	max-width: 150px;
	}
	.specialism-selector .selected-specialisms .data {
	    padding: 0;
	}
	.looking-for-edit .section-job-type .checkbox {
	    display: inline-block;
	    width: auto;
	    min-width: 170px;
	}
	.specialism-selector .edit-specialism-actions .edit, .specialism-selector .edit-specialism-actions .remove {
	    padding: 0 7.5px;
	}
	.looking-for-edit .section-locations .location-container .inline-input {
	    max-width: 100%;
	}
	.location-container .location-link {
	    right: 15px;
	}
	.location-container .location-link {
	    margin-top: 3px;
	}
	.looking-for-edit .section-locations .location-link {
	    top: 3.5px;
	}
    [class*="cvbuilder-"] .section-title h2 {
        padding: 0 30px;
    }
    [class*="cvbuilder-"] .section-title:before, .cvbuilder-work-experience .section-title:before, .cvbuilder-qualifications .visual-container .section-title:before{
        content: '';
        position: absolute;
        top: 32px;
        left: 0;
        display: block;
        border-top: 1px solid #d6d6d6;
        width: 100%;
        z-index: 0;
    }
    .work-experience .work .what, .qualification .what, .publication .what, .work .what {
        border-left: 1px solid #d6d6d6;
        padding-left: 30px;
    }
    .cvbuilder-work-experience .visual-container, .cvbuilder-qualifications .visual-container {
        padding: 30px 90px;
    }
    .work-experience .work, .qualification {
        border-bottom: none;
    }
    .current-cv {

        padding-left: 0!important;
        margin-bottom: 0;
        border-bottom: none;
        border-right: 1px solid #d6d6d6;
    }
    .cv-confirmation-area {
        text-align: left;
    }
    .cv-confirmation-area>.row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }
    .language-row {
        margin-bottom: 15px;
    }
}
@media screen and (min-width: 1025px){
	.location-container .location-link {
	    right: 30px;
	}
	.location-container .location-link {
	    width: 22px;
	    height: 28px;
	    background-position: -660px -990px;
	    margin-top: 0;
	}
}