.container-profile-header {
    padding: 120px;
    height: 300px;
    background: url(/css/user_bg.jpg);
    background-size: cover;
    background-position: center;
}
.container-details-profile, .container-looking-for-options {
    background: #EBEBEB;
}
.container-templates-options, .container-details-profile, .container-looking-for-options{
	padding: 30px 0;
}
.template-content {
    height: 300px;
    width: 250px;
    margin: auto;
    -webkit-box-shadow: 0 0.26667rem 0.8rem 0 rgba(0, 0, 20, 0.25);
    box-shadow: 0 0.26667rem 0.8rem 0 rgba(0, 0, 20, 0.25);
    background: #fff;
}
.container-templates-options {
    background-color: #f5f5f5;
}
.btn-info, .btn-info:hover {
    background: #2866f6;
    border-color: #2866f6;
    font-size: 20px;
} 