.profile-photo-container {
    margin: -96px auto 0;
    position: relative;
    width: 200px;
}
.top-card {
    margin: 16px 0;
    padding: 24px;
    word-wrap: break-word;
}
.profile-background {
    position: relative;
    width: 100%;
    padding-bottom: 25%;
}
.profile-background-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.profile-background-container img {
    width: 100%;
    height: 100%;
}