@import url('/css/carousel-thumbnail.css?q=874');
@font-face {
    font-family: Effra-Regular-Lt;
    src: url('fonts/Effra_Std_Lt.ttf');
}

.meta {
    margin: 0 0 1.4rem;
}
.meta-bold{
	font-size: 14px;
    font-weight: normal;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
}
.meta-info{
	padding-bottom: 4px;
    padding-top: 4px;
}

section{
	font-family: Effra-Regular,arial,helvetica,sans-serif;
	line-height: 1.615;
}
.back {
    padding: 8px 15px;
}
.breadcrumb {
    text-align: center;
    background-color: #fafafa;
}
.prev-next {
    padding: 8px 15px;
    text-align: right;
}
.prev-next a {
    padding-left: 10px;
}
.copyright {
	z-index: 9999;
}
ul.stations-list {
    list-style: none;
    padding: 0;
}
.list-style-square li {
    color: #262637;
    font-family: Effra-Regular,arial,helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.list-two-col li {
    margin-top: 8px;
}
.list-style-square li {
    padding-left: 20px;
    padding-left: 2rem;
    position: relative;
    line-height: inherit;
}
.list-style-square li {
    padding: 0 8px 8px 20px;
}

.list-style-square li:before {
    border-top: 8px solid #ff9d2c;
    border-top-width: .8rem;
    content: "";
    position: absolute;
    top: 5px;
    top: .5rem;
    left: 0;
    width: 8px;
    width: .8rem;
}
.list-two-col li:after {
    border-width: 0;
    border-top-width: 1px;
    content: "";
    height: 0;
    position: absolute;
    top: -9px;
    left: 0;
}
.list-two-col li:after {
    width: 200%;
}
.list-two-col {
    border-style: dashed;
    border-color: #dfdfe1;
}
.list-two-col {
    border-width: 0;
    border-bottom-width: 1px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.list-two-col li:nth-child(odd):after {
    border-style: dashed;
    border-color: #dfdfe1;
}

.list-two-col li:nth-child(even):after {
    border: 0;
}
.tab-pane h3{
	color: #262637;
    font-size: 15px;
    margin-top: 0;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-top: 2px solid #ff9d2c;
    color: #ff9d2c ;
}
.nav-tabs>li>a {
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    color: #333;
    background: #f4f4f5;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-size: 15px;
} 
.location-name>p{
	margin-left: 0px;
	font-size: 17px;
}
.location-name{
	padding-left: 0px;
}
.item{
    box-shadow: none;
    padding: 0px;
    margin-bottom: 0px;
    background-color: #ececec;
    height: 90px;
    overflow: hidden;
}
#current-image img {
    height: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: #ececec;
}
.small-image {
    width: calc((100% - 16px) / 5);
    height: 90px;
    display: inline-block;
    overflow: hidden;
    padding: 0px;
    position: relative;
}
.small-image img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.carousel-inner {
    padding: 0px;
}
.items-box-price.font-5{
	text-align: right;
	font-family: Effra-Medium,arial,helvetica,sans-serif;
}
#current-image {
    position: relative;
    width: 100%;
    /*height: 437px;*/
    height: 487px;
    overflow: hidden;
    background: #ececec;
}
.images-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    padding: 10px;
}
#current-image a{
	text-decoration: none;
	color:#fff;
}
.images-nav{
	text-align: center;
}
.images-info p {
    margin-bottom: 0px;
    font-size: 13px;
}
.description p {
    padding-bottom: 1.2rem;
    font-size: inherit;
}
h2.item-name {
	font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-size: 23px;
    letter-spacing: 0;
    text-shadow: none;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
}
.info-map h4 {
    font-weight: bold;
    font-size: 1.3rem;
}
.buttons {
    margin-top: 0;
    border: 1px solid #ddd;
}
.details{
	padding: 15px;
	border-bottom: 1px dashed #dfdfe1;
}
.contact{
	padding: 15px;
	border-bottom: 1px dashed #dfdfe1;
	text-align: center;
}
.btn-default {
    color: #fff;
    background-color: #ff9d2c;
    border-color: #ff9d2c;
    /* text-align: center; */
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-weight: normal;
    line-height: 29px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}
.btn-default:link{
	color: #fff;
	background-color: #ff9d2c;
}
.btn-default:hover, .btn-default:active{
	color: #000;
    background-color: #ff9d2c;
    /*border-color: #ff8830;*/
}

.list-group {
    margin-bottom: 0;
}
.list-group-item{
	padding: .8rem 0 1.6rem;
	padding-left: 15px;
    padding-right: 15px;
	border-bottom: 1px dashed #dfdfe1;
}
.list-group-item:last-child{
	border-bottom: none;
}
.favorite{
	display: inline;
}
.favroite-icon{
	float: inherit;
}
.buttons span.glyphicon {
    margin-right: 10px;
    color: #000;
    font-size: 18px;
}
.details h3{
	font-size: 15px;
	padding-bottom: 1.3rem;
	margin-top: 0px;
	font-family: Effra-Medium,arial,helvetica,sans-serif;
}
.profile-picutre {
    display: block;
    margin: 0 16px 8px 0;
    max-height: 141px;
    max-width: 141px;
}
.profile-picutre img {
    max-width: 100%;
    max-height: 122px;
    padding: 3px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 1px solid #bfbfbf;
    box-shadow: 0 0 1px #fff;
}

.user-details p {
    font-size: 13px;
    margin-bottom: 0;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
a.carousel-control {
   margin: 5px 0;
   width: 25px;
   height: 90px;
}
a.right.carousel-control {
   background: rgba(0,0,0,0.3);
}
a.left.carousel-control {
   background: rgba(0,0,0,0.3);
}
a.right.carousel-control:hover {
   background: rgba(0,0,0,0.5);
}
a.left.carousel-control:hover {
   background: rgba(0,0,0,0.5);
}
.carousel-control span.glyphicon {
    font-size: 20px;
    color: rgba(255,255,255,0.6);
}
.carousel-control span.glyphicon:hover{
	color:#fff;
}
.active-image{
	border: 1px solid black;
}
.content {
    display: inline-block;
}
.left-content{
	padding-left: 0;
}
/*.request-details .btn-default {
    width: 200px;
}*/
.color-grey{
	padding: .8rem 8px !important;
	border-bottom: 0;
    border-top: 1px solid #dfdfe1;
    background: #f4f4f5;
    box-shadow: none;
}
.col-sm-8.left-content {
    width: calc(100% - 192px);
}
.col-sm-4.right-content {
    width: 192px;
    padding: 0px;
}
.icon-transport{
	background-repeat: no-repeat;
	content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    text-indent: 100%;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    background-size: contain;
    background-position: center;
    margin-right: 5px;
    margin-bottom: -5px;
}
.icon-underground{
	background-image: url('tube_icon.png');
}
.icon-rail {
    background-image: url(icon-rail.png);
}
.icon-overground {
    background-image: url(icon-overground.svg);
}
.icon-bus{
	background-image: url(tfl-icons.png);
    background-size: 96px 2902px;
    background-position: -5px -252px;
}
.icon-dlr {
    background-image: url(icon-dlr.svg);
}
.stations-list li>span{
	font-size: 1.2rem;
    letter-spacing: -0.01em;
}
.stations-list li {
    padding: 0 0 6px;
}
.disclaimer {
    font-size: 9px;
    font-weight: normal;
}
.nearest-stations h4 {
    font-size: 14px;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
.request-details {
    /* padding-left: 130px!important; */
    /* padding-right: 135px!important; */
    padding-top: 25px!important;
    padding-bottom: 25px!important;
    background-color: #262637;
    text-align: center;
}
div#myCarousel {
    margin-bottom: 1.6rem;
    padding-top: 5px;
}
.mapframe {
    margin-top: 0;
}
.mapframe .btn-group {
    margin-bottom: 1.6rem;
}
.color-grey span.glyphicon {
    margin-right: 5px;
}
.tab-pane {
    padding: 15px;
    border: 1px solid #ccc;
    border-top-color: transparent;
}
#map, #pano {
    height: 470px;
    width: 100%;
}
.info-pano{
	display: none;
}
label.btn.btn-primary.active {
    border: 1px solid #ff8830;
    background: #ff8830;
    color:#fff;
}
label.btn.btn-primary:focus {
    outline: none;
}
label.btn.btn-primary:hover {
    box-shadow: none;
    background-color: #000;
}
label.btn.btn-primary.active:hover, label.btn.btn-primary.active:active{
    border: 1px solid #ff8830;
    background: #ff8830;
    outline: none;
}
label.btn.btn-primary:hover, label.btn.btn-primary:active {
    background-color: #ff8830;
    border-color: #ff8830;
    box-shadow: none;
}
.key-features.row {
    margin-left: 0;
    margin-right: 0;
    margin: 0 0 1.4rem;
}
img.payments-methods {
    height: 19px;
}
.contact .btn-default {
    width: 80%;
}
.contact p {
    margin-bottom: 0px;
    font-weight: bold;
}
span .glyphicon {
    margin-left: 5px;
    margin-right: 5px;
}
.images-current {
    text-align: right;
}
.share {
    padding-bottom: 15px;
    border-bottom: 1px dashed #ccc;
}
.share h3 {
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding-left: 15px;
}
.report h3 {
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
}

.report {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;
    text-align: center;
}
.report a.btn-default {
    width: 80%;
}
.similar-adverts h3 {
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding-left: 15px;
    text-align: left;
}

.advert-img {
    height: 20rem;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    background: #ececec;
}
.advert-img img {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.nearby-item h4 {
    color: #262637;
    font-family: Effra-Regular,arial,helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.similar-adverts h4 {
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: 2em;
    overflow: hidden;
    margin-bottom: 0;
}
.items-box-price{
	font-family: Effra-Medium,arial,helvetica,sans-serif;
    color: #ff8830;
    font-weight: 600;
}
.similar-adverts {
    display: table;
}
.similar-adverts .col-sm-6 {
    padding-left: 7px;
    padding-right: 7px;
}
.advert-details {
    border: 1px solid #ccc;
    border-top-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}
.listings-adverts {
    border: 1px solid #ddd;
    display: table;
    padding: 15px 5px;
}
.images-current span.glyphicon {
    margin-right: 8px;
}
span.glyphicon.glyphicon-heart-empty.favroite-icon {
    color: mediumaquamarine;
}
.email-icon{
	font-size: 18px;
	/*background: url(icons/email.svg);*/
	background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
    padding-right: 3px;
}
span.email-icon img {
    width: 30px;
    height: 30px;
    margin-left: -5px;
}
span.glyphicon.favroite-icon.glyphicon-heart {
	color: mediumaquamarine;
}
.reviews-ratings{
	padding: 0 15px 15px;
	margin-top: 15px;
}
.reviews-ratings h3{
	color: #262637;
    font-size: 15px;
    margin-top: 10px;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    margin-bottom: 0px;
}
.tab-buttons {
    padding-left: 0;
    padding-right: 0;
}
.btn-review {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-left: 0;
    border-radius: 0;
} 
.btn-rate {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-left: 0;
    border-radius: 0;
    border-left-color: #ccc;
}
.reviews-ratings .col-md-2{
	padding-left: 12px;
	padding-right: 2px;
}

.content-reviews {
    border: 1px solid #ccc;
    border-bottom: transparent;
}
.border-top-transparent{
	border-top: transparent;
}
#make-review, #make-rate{
	display: none;
}
.ratings h1 {
    text-align: center;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
.stars {
    text-align: center;
}
.stars i{
    background-image: url(icons-stars.png);
    background-size: 185px 138px;
    width: 15px;
    height: 15px;
    overflow: hidden;
    text-align: left;
    display: inline-block;
}
.rating-avg .stars i {
    background-size: 245px 185px;
    width: 20px;
    height: 20px;
}

.rating-avg .stars i.fullstar {
    background-position: -27px -163px;
}
.reviews-item-r .stars i {
    background-position: -20px -122px;
}
.reviews-item-r .stars {
    /*width: 86%;*/
    display: inline-block;
    vertical-align: text-top;
}

.reviews-count {
    color: #999;
    font-size: 12px;
    line-height: 117%;
    display: inline-block;
    font-weight: 200;
    width: 100%;
    margin-top: 5px;
    text-align: center;
}
.reviews-list{
	margin: 10px 0 0;
	padding-left: 10px;
}
.reviews-list li{
	display: inline-block;
	height: 20px;
	width: 100%;
}
.reviews-item{
	display: block;
	text-decoration: none;
	height: 20px;
}
.reviews-item .r-list-bg {
    max-width: 100%;
    z-index: 9999999;
    overflow: hidden;
    background: transparent;
    box-sizing: border-box;
    background-color: #ddd;
    width: 86%;
    height: 10px;
    margin: 4px 0;
    display: inline-block;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.reviews-item .empty-star {
    background-image: url(icons-stars.png);
    overflow: hidden;
    background-size: 170px 125px;
    width: 15px;
    height: 15px;
    text-align: left;
    display: inline-block;
    background-position: -68px -109px;
    float: left;
    margin-right: 4px;
    margin-top: 1px;
}
.reviews-item-l{
	float: left;
	margin-top: 3px;
}
.reviews-item-r {
    float: right;
    width: 55%;
}
.reviews-item-r span{
	/*position: absolute;*/
    color: #555;
    font-style: normal;
    padding-left: 7px;
    font-size: 12px;
    line-height: 20px;
}
.reviews-item-l p{
	font-size: 12px;
    color: #9b9b9b;
    line-height: 15px;
    margin: 0;
}
.reviews-item .r-list-bg .r-list-fc {
    width: 0;
    background-color: #999;
    height: 12px;
    display: inline-block;
    max-width: 100%;
    padding: 0 !important;
}
.all-ratings {
    display: inline-block;
    position: relative;
    text-align: center;
    font-weight: 300;
    padding: 10px 0;
    vertical-align: top;
    border-left: 1px solid #ccc;
}
.per-wrpr {
    display: inline-block;
    width: 100px;
    /*height: 150px;*/
    font-weight: 300;
    vertical-align: bottom;
}
.per {
    background-color: rgba(241,142,0,0.2);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: relative;
    margin: 10px 0 11px 10px;
}

.per:before, .per:after {
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(___YUICSSMIN_PRESERVED_TOKEN_0___)";
}
.per:before {
    background-color: #fff;
    content: "";
    width: 85%;
    height: 85%;
    z-index: 100;
}
.per:after {
    content: attr(data-percent);
    font-family: Arial,sans-serif;
    font-size: 21px;
    z-index: 200;
    top: 0;
    position: relative;
    text-align: center;
    color: #555;
    font-weight: 400;
}
.per>div {
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.per span {
    background-color: #f18e00;
    display: block;
    width: 40px;
    height: 80px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}
.per .left span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
}
.per .right span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -webkit-transform-origin: 0 50%;
}
.per-title {
    text-align: center;
    font-size: 12px;
    color: #555;
    line-height: 123%;
    margin-top: 0 !important;
    word-wrap: break-word;
    width: 100%;
}
#make-rate h2, #make-review h2 {
    font-size: 18px;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
}
.reviews-stars-widget .rating {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.reviews-stars-widget {
    margin-left: 10px;
    margin-top: -5px;
    display: inline-block;
    vertical-align: middle;
}
.clipped {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.rating fieldset:not(:checked)>input, .actions fieldset:not(:checked)>input{
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}
.rating fieldset:not(:checked)>label, .actions fieldset:not(:checked)>label {
    float: right;
    background: url(icons-stars.png);
    background-size: 170px 130px;
    overflow: hidden;
    text-align: left;
    width: 33px;
    height: 33px;
    display: inline-block;
    background-position: -16px -1px;
    margin: 0 3px;
}
.rating fieldset>input:focus+label, .actions fieldset>input:focus+label {
    outline: 1px dotted #676767;
    outline-offset: 3px;
}
.actions fieldset:not(:checked)>label {
    background-size: 120px 95px;
    background-position: -11px -1px;
    width: 25px;
    height: 25px;
 }
.rating fieldset:not(:checked)>label:before, .actions fieldset:not(:checked)>label:before {
    content: '';
}
.rating fieldset:not(:checked)>label:hover, .actions fieldset:not(:checked)>label:hover {
    transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
}
.rating fieldset>label:hover, .rating fieldset:not(:checked)>label:hover, .rating fieldset:not(:checked)>label:hover ~ label {
    background-position: -52px -1px;
}
.actions fieldset>label:hover, .actions fieldset:not(:checked)>label:hover, .actions fieldset:not(:checked)>label:hover ~ label {
    background-position: -35px -1px;
}
.actions fieldset>input:checked ~ label {
    background-position: -35px -1px;
}
.rating fieldset>input:checked ~ label {
    background-position: -52px -1px;
}


.star-txt, .star-posted, .star-posting {
    font-size: 13px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin-top: -3px;
    margin-left: 35px;
}
.star-posted, .star-posting {
    display: none;
    text-align: center;
    color: #767676;
}
.aspects-fieldset {
    border: 1px solid #ccc;
    padding: 20px 10px;
    border-radius: 3px;
    color: #777;
    background-color: #fff;
}
.aspects-fieldset .aspects-questions {
    width: 95%;
    margin: 0 auto;
}
.aspects-fieldset .aspects-questions span {
    margin-top: 6px;
    display: inline-block;
    font-size: 15px;
    color: #555;
    font-weight: 300;
}
.aspects-fieldset .aspects-questions .actions {
    display: inline-block;
    float: right;
    padding: 1px;
}
.aspects-fieldset .aspects-questions .actions input {
    opacity: .011;
    -ms-filter: alpha(opacity=0.011);
    filter: alpha(opacity=0.011);
    -moz-opacity: .011;
    -khtml-opacity: .011;
    z-index: 100;
}
.btn-gry {
    display: inline-block;
    padding: 8px 0;
    text-align: center;
    width: 80px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #999;
    font-weight: 300;
    top: -2px;
    left: -2px;
    position: relative;
    color: #999;
}
.aspects-fieldset .aspects-questions .actions label {
    cursor: pointer;
    z-index: 90;
}
.aspects-fieldset .aspects-questions .actions.feedback input[type="radio"]:checked+label {
    color: #fff;
    text-decoration: none;
    border: 1px solid #ff8830;
    background-color: #ff8830;
}
.reviews-divider {
    width: 100%;
    margin: 15px 0;
    border-bottom: 1px solid rgba(150,150,150,0.2);
    -webkit-appearance: none;
    height: 1px;
    clear: both;
}
.aspects-fieldset .reviews-divider {
    border-bottom: 1px solid #ccc;
}
.reviews .row{
    border: 1px solid #ccc;
}
.read-more-reviews {
    border-top: 1px solid #ccc;
    text-align: center;
}
.read-more-reviews .glyphicon-chevron-down {
    margin-left: 10px;
    top: 3px;
}
.reviews .title {
    height: 31px;
    border-bottom: 1px solid #ccc;
}
.reviews h4 {
    font-size: 1.5rem;
    font-weight: bold;
}
.click-title p {
    margin-bottom: 0;
}
.reviews .stars {
    text-align: left;
}
.reviews .stars i.fullstar {
    background-position: -20px -122px;
}
.review-item-date {
    color: #999;
    line-height: 15px;
    margin-top: 7px;
    display: block;
    margin-bottom: 10px;
}
.author-by {
    color: #999;
}
.title{
	padding-left: 15px;
}
fieldset {
    margin: 1.5rem 0;
}
legend {
    padding-bottom: 1.25rem;
    margin-bottom: .312rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #ddd;
    font-weight: 200;
}
.nearby-tabs-content{
	padding: 16px 0 0 0;
}
.nearby-properties-list{
	margin-top: 20px;
}
.options-buttons label.btn.btn-primary{
	width: 130px;
}
.nearby-list .advert-details {
    width: 50%;
    float: left;
    display: inline-block;
    border: none;
}

.nearby-item {
    padding-top: 26px;
    border-top: 1px dashed #ccc;
    margin-bottom: 20px;
    overflow: hidden;
}
.font-7 {
    font-size: 19px;
}
.nearby-distance {
    padding-bottom: 1.6rem!important;
    color: #262637;
}
.nearby-item .item{
	height: 100%;
}
.nearby-item .carousel-inner {
    width: 297px;
    height: 197px;
    margin: auto;
}
.nearby-item .carousel {
    width: 50%;
    display: inline-block;
}
.nearby-img-navigation {
    text-align: center;
}
.nearby-img-navigation span.glyphicon {
    color: #7b7b7b;
}
.nearby-tabs-content>div{
	display: none;
}
.nearby-tabs-content .tab-active {
    display: block;
}
.nearby-img-navigation >span {
    line-height: 1.615;
    vertical-align: text-bottom;
}
.nearby-img-navigation a {
    font-size: 20px;
}
.options-buttons .btn-primary, .btn-group .btn-primary {
    background: #f4f4f5;
    color: #333;
    border: 1px solid #ccc;
}
.similar-nearby h3 {
    padding-bottom: 8px;
    margin-bottom: 1.2rem;
}
.sec{
	clear: left;
    margin: 0 0 1.4rem;
}
table.nearby-similar-history-table {
    width: 100%;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ddd;
    margin-top: 15px;
}
.nearby-similar-history-table thead {
    padding-bottom: 0.8rem;
    margin-bottom: 0.8rem;
    box-shadow: 0 1px 0 0 #fff;
    border-bottom: 1px dashed #dfdfe1;
}
.nearby-similar-history-table th {
    color: #262637;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.nearby-similar-history-table th, .nearby-similar-history-table td{
	padding: 4px 8px 4px 4px;
	border: 0 none;
    vertical-align: middle;
}
.nearby-similar-history-table tbody tr {
    border-bottom: 1px dashed #dfdfe1;
}
.nearby-similar-history-table .price-difference {
    color: #ff8830;
    font-family: Effra-Medium,arial,helvetica,sans-serif;
    font-size: 18px;
    font-weight: normal;
}
.acknowledgment{
	margin-bottom: 50px;
}
.small-image.selected img{
	opacity: 0.5;
}
.click-title {
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.section-title {
    border: 1px solid #ccc;
    border-top: transparent;
}
#make-review .row {
    border: 1px solid #ccc;
    border-bottom: transparent;
    border-top: transparent;
}
#make-review.active-make{
	display: block;
}
#make-rate.active-make{
	display: block;
}
button.btn.btn-default.btn-submit {
    float: right;
}
.submit{
	margin: 30px 0;
}
.link-about a.btn.btn-default, .link-about a.btn.btn-default:link {
    border-color: #000;
    padding-left: 35px;
    padding-right: 35px;
    background: #000;
    font-size: 13px;
}
.link-about a.btn.btn-default:hover{
	color: #fff;
}
.link-about .btn-default {
    width: 80%;
}
p.link-about {
    margin-bottom: 10px;
    text-align: center;
}
a.advert-user {
    padding-left: 36px;
}
.review-content-section .input-elem-textbox {
    position: relative;
    margin-bottom: 7px;
    width: 65%;
    margin: 0;
    clear: both;
}
.review-content-section span {
    font-size: 11px;
    visibility: hidden;
    position: relative;
    color: #999;
    float: right;
}
.input-elem-textbox input, .input-elem-textbox textarea {
    padding: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    font-weight: 200;
    font-size: 12px;
    border: 1px solid #ccc;
    background: #fff;
    transition: all 0.15s ease-out;
}
.input-elem-textbox input:focus, .input-elem-textbox textarea:focus{
	outline: 0 none;
	border-color: #ff8830;
}
.input-elem-textbox textarea:focus{
	height: 200px;
}
.review-content-section .input-elem-textbox input {
    border-radius: 2px;
    width: 100%;
    color: #535353;
    line-height: normal;
}
.review-content-section .input-elem-textbox textarea{
	border-radius: 2px;
    width: 100%;
    resize: vertical;
    max-height: 800px;
    min-height: 32px;
    color: #535353;
    overflow: auto;
    clear: both;
}
.review-content-section {
    margin: -10px 0 8px !important;
    font-weight: 300;
    position: relative;
    max-width: 1200px;
    width: 100%;
}
#make-rate .row {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
@media (max-width: 768px){
    .col-sm-8.left-content, .col-sm-4.right-content {
        width: 100%
    }
}
@media (min-width: 768px){
	.request-details .btn-default {
    	width: 180px;
    	padding-left: 30px;
    	padding-right: 30px;
	}
	.reviews-item-r{
		width: auto;
		float: right;
	}
	.reviews-item-l {
		width: 40%;
	}
	.reviews-list li {
		height: auto;
	}
	.read-more-reviews h3 {
    	margin-bottom: 10px;
	}
	.col-ratings {
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.all-ratings{
		border-left: transparent;
	}
	.rating-stars {
    	border-right: 1px solid #ccc;
	}
}
@media (min-width: 992px){
	.request-details .btn-default {
    	width: 180px;
    	padding-left: 30px;
    	padding-right: 30px;
	}
	.per-wrpr{
		width: 110px;
	}
	.per{
		width: 90px;
		height: 90px;
	}
	.per span{
		width: 45px;
		height: 90px;
	}
	.per .left span{
		width: 45px;
		height: 90px;
	}
	.review {
    	border-right: 1px solid #ccc;
	}
	.review:nth-child(3n+1) {
    	border-right: transparent;
	}
	.reviews-item-l {
		width: auto;
	}
	.reviews-list li {
		height: 20px;
	}
	.col-ratings {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.rating-stars {
    	border-right: none;
	}
	.all-ratings{
		border-left: 1px solid #ccc;
	}
}
@media (min-width: 1200px){
	.container {
	    width: 1170px;
	}
	.request-details .btn-default {
    	width: 200px;
	}
	.per-wrpr{
		width: 100px;
	}
	.per{
		width: 80px;
		height: 80px;
	}
	.per span{
		width: 40px;
		height: 80px;
	}
	.per .left span{
		width: 40px;
		height: 80px;
	}
	.col-ratings {
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.reviews-item-r{
		width: 55%;
	}
}