.meta{
	margin-top: 0px;
}
.meta-bold{
	font-size: 14px;
    font-weight: normal;
    padding-left: 20px;
}
.tab-content {
    border: 1px solid #ccc;
    border-top-color: transparent;
    padding: 15px;
}

.tab-content h3{
	color: #262637;
    font-size: 15px;
    font-weight: bold;
}
ul.list-two-col{
	padding-left: 20px;
}
.list-two-col li {
    display: inline-block;
    margin: 0 0 0 -4px;
    padding: 0;
    vertical-align: top;
}
.list-style-square li {
    padding-left: 20px;
    padding-left: 2rem;
    position: relative;
    line-height: inherit;
}
.list-style-square li {
    padding: 0 8px 8px 20px;
}
.list-style-square li:after {
    border-color: #ececec;
    border-style: solid;
}
.list-style-square li:before {
    border-top: 8px solid #ff9d2c;
    border-top-width: .8rem;
    content: "";
    position: absolute;
    top: 5px;
    top: .5rem;
    left: 0;
    width: 8px;
    width: .8rem;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-top: 2px solid #ff9d2c;
    color: #ff9d2c ;
}
.nav-tabs>li>a {
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    color: #333;
    background: #f4f4f5;
} 
.location-name>p{
	margin-left: 0px;
	font-size: 17px;
}
.location-name{
	padding-left: 0px;
}
.item{
	box-shadow:  none;
	padding: 0px;
	margin-bottom: 0px;
}
#current-image img {
    height: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: #ececec;
}
.small-image {
    width: calc((100% - 16px) / 5);
    height: 90px;
    display: inline-block;
    overflow: hidden;
    padding: 0px;
    position: relative;
}
.small-image img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.carousel-inner {
    padding: 5px 0px;
}
.items-box-price.font-5{
	text-align: right;
}
#current-image {
    position: relative;
    width: 100%;
    height: 437px;
    overflow: hidden;
    background: #ececec;
}
.images-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    padding: 10px;
}
#current-image a{
	text-decoration: none;
	color:#fff;
}
.images-nav{
	text-align: center;
}
.images-info p {
    margin-bottom: 0px;
}
h2.item-name {
    font-size: 23px;
}
.buttons {
    margin-top: 150px;
    border: 1px solid #ddd;
}
.details{
	padding: 15px;
	border-bottom: 1px dashed #dfdfe1;
}
.contact{
	padding: 15px;
	border-bottom: 1px dashed #dfdfe1;
	text-align: center;
}
.btn-default {
    color: #fff;
    background-color: #ff8830;
    border-color: #ff8830;
    /* text-align: center; */
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
}
.list-group {
    margin-bottom: 0;
}
.list-group-item{
	padding: .8rem 0 1.6rem;
	padding-left: 15px;
    padding-right: 15px;
	border-bottom: 1px dashed #dfdfe1;
}
.list-group-item:last-child{
	border-bottom: none;
}
.favorite{
	display: inline;
}
.favroite-icon{
	float: inherit;
}
.buttons span.glyphicon {
    margin-right: 10px;
    color: mediumseagreen;
    font-size: 18px;
}
.details h3{
	font-size: 15px;
	padding-bottom: 1.3rem;
	margin-top: 0px;
}
.profile-picutre {
    display: block;
    margin: 0 16px 8px 0;
    max-height: 141px;
    max-width: 141px;
}
.profile-picutre img {
    max-width: 100%;
    max-height: 122px;
    padding: 3px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 1px solid #bfbfbf;
    box-shadow: 0 0 1px #fff;
}

.user-details p {
    font-size: 13px;
    margin-bottom: 0;
}
a.carousel-control {
   margin: 5px 0;
   width: 25px;
   height: 90px;
}
a.right.carousel-control {
   background: rgba(0,0,0,0.3);
}
a.left.carousel-control {
   background: rgba(0,0,0,0.3);
}
a.right.carousel-control:hover {
   background: rgba(0,0,0,0.5);
}
a.left.carousel-control:hover {
   background: rgba(0,0,0,0.5);
}
.carousel-control span.glyphicon {
    font-size: 20px;
    color: rgba(255,255,255,0.6);
}
.carousel-control span.glyphicon:hover{
	color:#fff;
}
.active-image{
	border: 1px solid black;
}
.tab-content>.active {
    display: inline-block;
}
.left-content{
	padding-left: 0;
}
.color-grey{
	padding: .8rem 8px !important;
	border-bottom: 0;
    border-top: 1px solid #dfdfe1;
    background: #f4f4f5;
    box-shadow: none;
}
.col-sm-8.left-content {
    width: calc(100% - 192px);
}
.col-sm-4.right-content {
    width: 192px;
    padding: 0px;
}
div#tap-map {
    display: block;
}

.icon-underground{
	background-image: url('tube_icon.png');
	background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    text-indent: 100%;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    background-size: contain;
    background-position: center;
    margin-right: 4px;
    margin-bottom: -5px;
}
.stations-list li>span{
	font-size: 1.2rem;
    letter-spacing: -0.01em;
}
.stations-list li {
    padding: 0 0 6px;
}