.meta{
	margin-top: 0px;
}
.meta-bold{
	font-size: 14px;
    font-weight: normal;
    padding-left: 10px;
}
.tab-content {
    border: 1px solid #ddd;
    border-top-color: transparent;
    padding: 15px;
}

.tab-content h3{
	color: #262637;
    font-size: 15px;
    font-weight: normal;
}