#del-address, #ship-address, #del-address-price, #ship-address-price{
	display: none;
}

.pay-methods {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-clip: padding-box;
}
fieldset{
	width: 100%;
}
legend {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal;
}
.pay-method {
    padding: 15px;
    clear: both;
    border-bottom: 1px solid #ccc;
}
.col-l-p .radio-l{
	width: 15%;
    max-width: 35px;
    display: inline-block;
    vertical-align: middle;
}
input[type=radio] {
    position: absolute;
    opacity: 0;
    z-index: 2;
    margin: 3px .5ex;
}