#del-address, #ship-address, #del-address-price, #ship-address-price{
	display: none;
}

.pay-methods {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-clip: padding-box;
}
fieldset{
	width: 100%;
}
legend {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal;
}
.pay-method {
    padding: 15px;
    clear: both;
    border-bottom: 1px solid #ccc;
}
.col-l-p .radio-l, .col-l-p .radio-l{
	display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.col-l-p .radio-l{
	width: 15%;
    max-width: 35px;
}
.col-l-p .radio-l{
	width: 85%;
}
input[type=radio] {
    position: absolute;
    opacity: 0;
    z-index: 2;
    margin: 3px .5ex;
}
.custom-radio{
	position: relative;
	margin-right: 30px;
	font-size: 1rem;
}
.custom-radio::before{
	border-radius: 50%;
	border: 1px solid #aaa;
	content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
}
.col-l-p {
    width: 47%;
    display: inline-block;
    vertical-align: middle;
}
.col-r-p {
    width: 85%;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.mt-label {
    word-break: break-word;
}
.mt-cc {
    background-image: url(https://securepics.ebaystatic.com/aw/pics/checkout/sprs/spr_PROX_13.svg);
    background-repeat: no-repeat;
    background-size: 248px 1388px;
    display: inline-block;
    vertical-align: middle;
    width: 248px;
    height: 1215px;
    background-position: -11px -506px;
    width: 34px;
    height: 22px;
}