.candidate{
	background: #fff;
	margin-bottom: 15px;
	padding: 15px;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.16), 0px 0px 1px rgba(0,0,0,.08);
}

.candidate-picture{
	width: 120px;
	display: inline-block;
	vertical-align: middle;
}

.candidate-picture figure{
	width: 100%;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}
.candidate-picture figure img{
	width: 100%;
	height: 100%;
}
.candidate-wrapper{
	position: relative;
}
.candidate-details-wrapper{
	width: calc(100% - 125px);
	display: inline-block;
	padding-left: 15px;
	vertical-align: middle;
}
.candidate-details-wrapper .candidate-name {
	font-size: 20px;
	margin-top: 0;
	font-family: Effra-Medium, sans-serif;
}
.candidate-details-wrapper .candidate-location{
	text-transform: capitalize;
	color: #ccc;
	margin-bottom: 0;
}
.candidate-wrapper .checkbox{
	right: 0;
	top: 0;
	left: auto;
}
.candidate .candidate-actions {
    margin-top: 15px;
}
.candidate .box {
    border: 1px solid #ddd;
    padding: 10px;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.candidate  .favroite-icon {
	display: inline-block;
}
.candidate .favroite-icon:before {
    height: 20px;
    width: 20px;
}