.parallax-content {
    margin: 0 auto;
    padding: 125px 0;
    position: relative;
    width: auto;
    z-index: 100;
}
.header-title {
    font-size: 54px;
    line-height: 70px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    color: #ff9d2c;
}
.parallax-content p {
	font-size: 22px;
    margin-top: 8px;
    color: #ff9d2c !important;
    text-shadow: 2px 2px 1px #000000;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}
.row.header-container {
    background: url(/img/uber-office.jpg);
    background-size: cover;
    background-position: 52% center;
    /* background-attachment: fixed; */
}
.container-form-contact{
	padding: 46px 0;
    position: relative;
}