.parallax-content {
    margin: 0 auto;
    padding: 125px 0;
    position: relative;
    width: auto;
    z-index: 100;
}
.header-title {
    font-size: 54px;
    line-height: 70px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    color: #ff9d2c;
}
.parallax-content p {
	font-size: 22px;
    margin-top: 8px;
    color: #ff9d2c !important;
    text-shadow: 2px 2px 1px #000000;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}
.row.header-container {
    background: url(/img/uber-office.jpg);
    background-size: cover;
    background-position: 52% center;
    /* background-attachment: fixed; */
}
.container-form-contact{
	padding: 46px 0;
    position: relative;
}
.contact-title{
	color: #000;
    font-size: 25px;
    font-weight: bold;
}
.contact-form-yellow{
	background: #ff9d2c none repeat scroll 0 0;
    display: block;
    height: 3px;
    margin-bottom: 48px;
    width: 100%;
}
.options-contact-title{
	background: #000 none repeat scroll 0 0;
    color: #fff;
    font-weight: bold;
    padding: 0 8px;
    font-size: 18px;
    line-height: 24px;
}
.has-icon {
    position: relative;
}
.form-control {
    height: auto;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 400;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    outline: 0;
    border: 1px solid #bdc3c7;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control-icon {
    color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    pointer-events: none;
}
.has-icon label.sr-only ~ .form-control-icon {
    top: 0;
}
.has-icon .form-control {
    padding-left: 30px;
}
.list-style-1 {
    padding: 0;
    margin: 0;
    list-style: none;
}
.container-logo {
    width: 100px;
    margin: auto;
}