.header-container{ 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(https://assets.themuse.com/uploaded/companies/61/office/61/f1.jpg?v=None);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 50px 0;
}
.header-container h1{
    max-width: 800px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: oswald,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 50px;
    text-align: center;
    margin: 70px auto 60px auto;
    color: #fff;
    text-shadow: 2px 2px 10px #333;
}