.header-container{ 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(https://assets.themuse.com/uploaded/companies/61/office/61/f1.jpg?v=None);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 50px 0;
}
.header-container h1{
    max-width: 800px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: oswald,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 50px;
    text-align: center;
    margin: 70px auto 60px auto;
    color: #fff;
    text-shadow: 2px 2px 10px #333;
}
.header-container .ctas {
    padding: 0 0 70px;
}
.tm-bright-blue-round-button {
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
    padding: 12px 30px;
    display: inline-block;
    background-color: #366ffb;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: proximasemibold,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 11px;
    border-radius: 25px;
    letter-spacing: 1px;
}
.tm-bright-blue-round-button:visited, .tm-bright-blue-round-button:focus {
    color: #fff;
}
.header-container .ctas button, .header-container .ctas a, .header-container .ctas div {
    display: inline-block;
}
.sidebar-content {
    position: relative;
    padding: 0 20px;
    font-family: proxima,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    line-height: 20px;
    color: #666;
}

.sidebar-content:first-child {
    margin-top: 10px;
}
.sidebar-content .company-logo {
    width: 200px;
}
.see-more-link {
    font-family: proximasemibold,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    color: #3852d4;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline!important;
    display: inline-block;
}
.sidebar-content .see-more-link {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 60%;
    text-align: right;
}
.see-more-link .no-wrap-space {
    white-space: nowrap;
}
.sidebar-content p {
    margin: 15px 0 20px;
    font-family: Georgia;
}
.sidebar-content .company-profile-preview-sidebar {
    width: 100%;
    color: #333;
    margin-bottom: 20px;
}
.sidebar-content .company-profile-preview-sidebar .company-profile-preview-sidebar-image {
    position: relative;
    width: 100%;
    height: 120px;
    overflow: hidden;
}
.sidebar-content h3 {
    font-size: 16px;
    margin: 15px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.sidebar-content h3 {
    font-family: proximasemibold,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
}
.metadata-list {
    font-size: 15px;
    padding-left: 15px;
}
.sidebar-content .metadata-list {
    margin: 25px 0 20px;
}
.metadata-list .metadata-list_header {
    font-size: 12px;
    font-family: proximasemibold,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
    margin: 15px 0 0;
    padding: 0;
    display: None;
}
.metadata-list .metadata-list_section--blue .metadata-list_header::before, .metadata-list .metadata-list_section--blue .metadata-list_items>li::before {
    color: #3852d4;
}
.metadata-list .metadata-list_items {
    list-style: none;
    margin: 0;
    padding: 0;
}
.metadata-list .metadata-list_items>li {
    margin: 4px 0;
    padding: 0;
}
.metadata-list .metadata-list_items a {
    font-family: proxima,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    color: #333;
}
.btn-block, .job-post .favorite-box-container a, .job-post .send-to-self button {
    width: 100%!important;
    display: block!important;
}
.sidebar-content .favorite-box-container {
    margin-bottom: 10px;
}
.favorite-box-container .favorite, .favorite-box-container .unfavorite, .favorite-container .favorite, .favorite-container .unfavorite {
    display: inline-block;
    line-height: 1em;
    color: #fd745a;
    text-align: center;
    font-size: 18px;
    padding: 12px 11px 10px;
    border-radius: 36px;
    background-color: #fff;
    -webkit-transition: color 200ms ease-out;
    -moz-transition: color 200ms ease-out;
    -ms-transition: color 200ms ease-out;
    -o-transition: color 200ms ease-out;
    transition: color 200ms ease-out;
}
.sidebar-content .favorite-box-container a, .fixed-apply-now .favorite-box-container a {
    color: #f87964;
    text-transform: uppercase;
    font-size: 13px;
    font-family: proximasemibold,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-align: left;
}
.sidebar-content .favorite-box-container .favorite, .sidebar-content .favorite-box-container .unfavorite, .fixed-apply-now .favorite-box-container .favorite, .fixed-apply-now .favorite-box-container .unfavorite {
    padding: 0;
}
.sidebar-content img{
	width: 100%;
	outline: 0;
}
.job-main-section {
    padding: 0 0 0 5px;
}
.job-body {
    background-color: #fff;
    padding: 0 15px;
}
.job-post .job-post-description {
    font-family: Georgia!important;
    font-size: 17px;
    margin: 40px 0 0;
}
.job-post .job-post-description p, .job-individual .job-post .job-post-description li, .job-individual .job-post .job-post-description div {
    font-family: Georgia!important;
    margin: 0 0 15px;
    line-height: 1.7em;
}
.job-individual .job-post .job-post-description ul, .job-individual .job-post .job-post-description ol {
    padding: 0 0 0 2em;
}
.job-individual .job-post .job-post-description ul li {
    list-style-type: disc;
}
.favroite-icon {
    display: inline-block;
    vertical-align: middle;
}
.favorite-box-container .favroite-icon{
	padding: 1em;
    border: 1px solid #f87964;
    border-radius: 50%;
    margin-right: 10px;
}
.favroite-icon:before {
    height: 15px;
    width: 15px;
}
.sidebar-content .useful-links {
    margin: 20px 0 30px;
    list-style: none;
    padding: 0;
}
.sidebar-content .useful-links li {
    margin: 10px 0;
}
.sidebar-content .useful-links a {
    display: block;
    font-family: proxima,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    color: #666;
}
.sidebar-content .useful-links i {
    width: 20px;
}
.tm-white-round-button {
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
    padding: 7px 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    display: inline-block;
    background-color: #fff;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-family: proximasemibold,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 11px;
    border-radius: 25px;
    letter-spacing: 1px;
}
.tm-input-grey-round-button {
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
    padding: 12px 30px;
    display: inline-block;
    background-color: #666;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: proximasemibold,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 11px;
    border-radius: 25px;
    letter-spacing: 1px;
}

.tm-input-grey-round-button:visited, .tm-input-grey-round-button:focus {
    color: #333;
}
.tm-bright-blue-round-button:visited, .tm-bright-blue-round-button:focus {
    color: #fff;
}
.sidebar-content .company-profile-preview-sidebar .company-profile-preview-sidebar-image .tm-white-round-button {
    position: absolute;
    bottom: 10px;
    margin-left: 10px;
}
.company-profile-preview {
    width: 100%;
    overflow: hidden;
    padding-left: 15px;
}
.company-profile-preview h1 {
    font-family: oswald,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin: 0 0 20px;
    letter-spacing: -1px;
    text-align: left;
}
.company-profile-preview .employee-preview {
    padding-right: 20px;
    width: 50%;
    height: 400px;
    float: left;
}
.company-profile-preview .employee-preview .employee-preview-image {
    position: relative;
    width: 100%;
}
.company-profile-preview .employee-preview .employee-preview-image .tm-white-round-button {
    position: absolute;
    bottom: 23px;
    right: 13px;
}
.company-profile-preview .employee-preview .employee-preview-image img {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.company-profile-preview .employee-preview h2, .company-profile-preview .employee-preview h3 {
    margin: 0 0 2px;
}
.company-profile-preview .employee-preview h2 {
    font-size: 22px;
}
.company-profile-preview .employee-preview h3 {
    font-size: 16px;
    color: #366ffb;
    padding-bottom: 5px;
}
.company-profile-preview p {
    font-size: 15px;
    font-family: georgia;
    color: #333;
    padding-right: 45px;
    line-height: 1.7em;
}
.job-post .bottom-ctas {
    margin: 40px 0;
}
.job-post .external-apply {
    margin: 0 0 20px;
}
.apply-later .send-to-self {
    display: block;
}
.tm-orange-transparent-round-button, .docked-nav.job .docked-ctas .favorite-container a, .job-post .favorite-box-container a {
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
    padding: 10px 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #f87964;
    display: inline-block;
    background-color: transparent;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #f87964;
    font-family: proximasemibold,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 11px;
    border-radius: 25px;
    letter-spacing: 1px;
}
.job-post .job-flag-parent {
    font-family: proximasemibold,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    font-size: 12px;
    margin: 20px auto;
}
@media (min-width: 768px){
	.sidebar-content:first-child {
	    margin-top: 20px;
	}
	.metadata-list .metadata-list_header {
    	display: block;
	}
	.metadata-list .metadata-list_header::before {
	    content: ' \25CF';
	    position: absolute;
	    margin-left: -15px;
	    text-align: left;
	    width: 15px;
	}
	.metadata-list .metadata-list_items a {
	    color: #666;
	    font-size: 14px;
	}
}
@media (min-width: 992px){
		.sidebar-content .company-profile-preview-sidebar .company-profile-preview-sidebar-image img {
	    margin-top: -50px;
	}
}