.header-container{ 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(https://assets.themuse.com/uploaded/companies/61/office/61/f1.jpg?v=None);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 50px 0;
}
.header-container h1{
    max-width: 800px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: oswald,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 50px;
    text-align: center;
    margin: 70px auto 60px auto;
    color: #fff;
    text-shadow: 2px 2px 10px #333;
}
.header-container .ctas {
    padding: 0 0 70px;
}
.tm-bright-blue-round-button {
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
    padding: 12px 30px;
    display: inline-block;
    background-color: #366ffb;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: proximasemibold,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 11px;
    border-radius: 25px;
    letter-spacing: 1px;
}
.tm-bright-blue-round-button:visited, .tm-bright-blue-round-button:focus {
    color: #fff;
}
.header-container .ctas button, .header-container .ctas a, .header-container .ctas div {
    display: inline-block;
}
.sidebar-content {
    position: relative;
    padding: 0 20px;
    font-family: proxima,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    line-height: 20px;
    color: #666;
}

.sidebar-content:first-child {
    margin-top: 10px;
}
.sidebar-content .company-logo {
    width: 200px;
}
.see-more-link {
    font-family: proximasemibold,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    color: #3852d4;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline!important;
    display: inline-block;
}
.sidebar-content .see-more-link {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 60%;
    text-align: right;
}
.see-more-link .no-wrap-space {
    white-space: nowrap;
}
.sidebar-content p {
    margin: 15px 0 20px;
    font-family: Georgia;
}
@media (min-width: 768px){
	.sidebar-content:first-child {
	    margin-top: 20px;
	}
}